[2021-06-16 21:22] AnnSoMuller opened #3793 "Visual Design - Right aligned key / left aligned value pair"
This is to do the visual design of:
- the above key/below value alignment pairing
- _the Using a Right key/Left value alignment pairing ??_ if used

Link to [Miro](https://miro.com/app/board/o9J_lBHhywI=/)

Link to [design spec](https://docs.google.com/document/d/1GSq8z6rkYZ_4rmJIAGZkRRiQpJwvqBrx2AMaUdb7w3k/edit)

Link to [Figma](https://www.figma.com/file/rY2Yt5NHneMcsVkp8cugUR/21.10-Vanilla-Keyp

[2021-06-16 21:22] AnnSoMuller opened #3794 "Specification Documentation"
- Complete the specifications/description of the different options in the [google doc](https://docs.google.com/document/d/1GSq8z6rkYZ_4rmJIAGZkRRiQpJwvqBrx2AMaUdb7w3k/edit#)
- Validate with the team
- Write the discourse document for the new pattern

[2021-06-16 21:26] AnnSoMuller commented on #3791
The outcome of the research can be seen in a [Miro Board](https://miro.com/app/board/o9J_lBHhywI=/)

[2021-06-16 21:27] #3791 closed

[2021-06-16 21:56] AnnSoMuller commented on #3793
Hi @cristinadresch,

I would suggest that @elioqoshi pairs with a visual designer on this one, or 'just' moves it to "needs UI review" when done,
as he already has done a great job on the first option ;)

[2021-06-17 14:03] #3790 closed

[2021-06-17 14:07] waynecrosby commented on #3790
@lyubomir-popov Feedback was good, we need to do some more explorations and also try solve a couple of issues that came up, I'll take you through them next week and we can create new issues.

[2021-06-17 14:55] cristinadresch commented on #3774
@ziheliu214 could you amend the description for this issue please

[2021-06-21 07:32] #3792 closed

[2021-06-21 13:00] lyubomir-popov commented on #3789
I've looked into this, and I think the current situation in vanilla is the smallest compromise. Yes, it is tight, but the inention of the multiplier is to make things as dense as possible, barring any overlaps.

If we did increase the distance between label and value, the value will become closer to the next cell's label and look visually grouped with it. (Third example in the screenshot, highligh

[2021-06-21 13:00] #3789 closed

[2021-06-21 13:56] anthonydillon commented on #3201
Has there been any movement on this issue?

[2021-06-21 15:10] lyubomir-popov opened #3797 "Address nav feedback for Brand presentation on Wednesday"
[Current state](https://www.figma.com/file/Apn4jJPYgjP7aGZNnfWqW7/logo-consistency-tag?node-id=0%3A266):

![image.png](https://images.zenhubusercontent.com/59d2496bb0222d5de479ea17/659ea344-c840-4429-b9eb-ccaa89bb9adb)

Remaining concerns:

- [ ] "Where do I click to go to canonical.com"?
- [ ] Is Signing / Search prominent enough wth just the icons?
- [ ] Responsiveness: What happens on smaller s

[2021-06-21 15:18] lyubomir-popov commented on #3201
No, Not to my knowledge.

@gomboli should this move through the new UX WG pipeline?
@anthonydillon where would this be used? We have existing rules around making labels gray in MAAS for example (for uneditable fields), so we'd need to know what exactly this is intended for. Can you point me to a few cases where you might want to use it but have resorted to local solutions?

[2021-06-21 15:21] lyubomir-popov commented on #3797
@waynecrosby latest design attached above, with the remaining issues noted in the description. Please add any further feedback / concerns here so I can work through them on Wednesday.
cc @spencerbygraves @marcushas

[2021-06-21 17:15] anthonydillon commented on #3201
This came up when looking at the new UA wireframes. Mostly this is to cover the missing default usage of this pattern which is unique to labels at the moment.

[2021-06-21 17:28] lyubomir-popov commented on #3201
Sounds like a small task, adding to this iteration and I'll ping you tomorrow with some quesitons.

[2021-06-22 08:05] #3780 closed

[2021-06-22 08:05] AnnSoMuller commented on #3766
@wgx,
Having done some research and reading N&N group and Deque, I would suggest that with go with the following direction:

- keep the asterisk (*) as a marker: well known pattern
- Keep it in the same colour than the text (not red): no accessibility issue, no 'danger' association
- show " * indicates a required field" at the beginning of the form (before all required patterns): no more confusion

[2021-06-22 08:37] spencerbygraves commented on #3797
@lyubomir-popov @waynecrosby has it been agreed to go with the stacked version? Also, it looks like the spacing within the logo is different. Perhaps we should have a catch up meeting tomorrow.

[2021-06-23 07:17] wgx commented on #3766
@AnnSoMuller When we work on this today, let's think about the submitted-but-failed state - which could address [3324](https://github.com/canonical-web-and-design/vanilla-framework/issues/3324)

[2021-06-23 07:34] wgx commented on #3766
We should add to this with:

(1) can be hidden from screens and only shown to screen-readers.

https://www.w3.org/WAI/WCAG21/Techniques/general/G83.html#examples

If feel that including this in the pattern will resolve [3324](https://github.com/canonical-web-and-design/vanilla-framework/issues/3324) also.

[2021-06-23 08:26] #3797 closed

[2021-06-23 09:36] wgx commented on #3324
Closing, resolved by work here: https://github.com/canonical-web-and-design/vanilla-framework/issues/3766

[2021-06-23 09:36] #3324 closed

[2021-06-23 09:37] wgx commented on #3134
Closing, resolved by work here: https://github.com/canonical-web-and-design/vanilla-framework/issues/3766

[2021-06-23 09:37] #3134 closed

[2021-06-23 09:38] wgx commented on #3766
Myself and @AnnSoMuller have put together a mini-spec which we believe resolves all the issues within this epic.

The doc is here:

[Form labels & Mandatory fields](https://docs.google.com/document/d/1gXvmudhPYvW2-mRxjXDjG4VVIrEfeYl2fMFo7_I41A0/edit#heading=h.xv8ipqxdub9l)

Feel free to review, and bear in mind the images are wireframes and will need visual design review.

[2021-06-23 10:38] lyubomir-popov opened #3800 "Define when to use / when not to use then .p-label class"
Once `.p-label` (without mdifier) has been added to vanilla, we should take some time to define when to use, when not to use, etc. This is just a placeholder issue to keep this on the radar.

[2021-06-23 10:38] lyubomir-popov commented on #3201
We had a meeting with @anthonydillon @ziheliu214 @bartaz, and agreed to:
- provide a default (grey) sufficiently distinct from the chip component, to avoid confusion
- create a followup [issue](https://github.com/canonical-web-and-design/vanilla-framework/issues/3800) to define when to use / when not to

[2021-06-24 07:56] ziheliu214 opened #3802 "UX feedback - Design system site Components/patterns page"
https://www.figma.com/file/7kb43f063vsMkfv3nGMC2r/Component-%2F-Pattern-page?node-id=0%3A1

Gather team member's vision on the page sections

[2021-06-24 07:56] ziheliu214 opened #3803 "UX v2 wireframe - Design system site Components/patterns page"
Working with Lyubo on the wireframe / Visual of the page on Figma

https://www.figma.com/file/7kb43f063vsMkfv3nGMC2r/Component-Pattern-page?node-id=0%3A1

Zeplin:
https://zpl.io/a3rJnAl

[2021-06-24 08:25] bartaz opened #3804 "3 types of buttons are the same"
Base `<button>`, plain component `p-button` and neutral `p-button--neutral` have exactly the same styles. Do we need all of them?

https://codepen.io/bartoszopka/pen/oNZrred
<img width="880" alt="Screenshot 2021-06-24 at 10 23 38" src="https://user-images.githubusercontent.com/83575/123229293-6fe06980-d4d6-11eb-9c5f-5b05e0d721a9.png">

[2021-06-24 08:40] bartaz commented on #3804
We discussed that we will deprecate `p-button--neutral` and use `p-button` instead.

`p-button` plain component class name will provide the same styles as base `<button>` so it is possible to apply same styling on other elements like links.

[2021-06-24 09:15] sowasred2012 opened #3805 "Showcase page is very outdated - Remove page"
Whilst prepping the masterclass, I noticed that the [showcase](https://vanillaframework.io/showcase) page is very outdated - a lot of the screenshots feature old designs or suru strips, conjure-up now redirects to juju.is, and one of them (Notes on development) doesn't use Vanilla anymore.

If we're making Vanilla more of an internal tool, maybe the page is redundant?

![FireShot Capture 032 - Sho

[2021-06-24 09:42] bartaz commented on #3805
I agree, we haven't been really updating it (other than removing stuff that was not using Vanilla anymore from time to time), and apart from some exceptions it barely lists anything outside of Canonical sites.

[2021-06-24 11:26] #3804 closed

[2021-06-25 08:24] lyubomir-popov opened #3808 "Search and filter input different height compared to regular input"
In the example: (40px instead of 36.78 as the default input)
![image](https://user-images.githubusercontent.com/2741678/123394492-1a1fc600-d597-11eb-94c8-277ebf74aa93.png)

when pasted into the tick comparison template, it also misaligns the text and focus:
![image](https://user-images.githubusercontent.com/2741678/123394451-0f653100-d597-11eb-9130-b74db9c0aa9e.png)

The seasrch input doesn't use

[2021-06-25 08:33] cristinadresch commented on #3805
Agreed to remove page during standup

[2021-06-25 08:49] anthonydillon opened #3809 "Cookie policy on the website is not working"
On the live site we are getting the following error in the console:
[code]
This means we will be missing analytics.

[2021-06-25 10:08] anthonydillon commented on #3809
Turns out its due to "I don't care about cookies" browser plugin blocking the JS loading so all good.

[2021-06-25 10:08] #3809 closed

[2021-06-25 12:33] #3805 closed

[2021-06-25 17:18] #3751 closed

[2021-06-25 17:21] lyubomir-popov commented on #3750
PR: https://github.com/canonical-web-and-design/vanilla-framework/pull/3775

[2021-06-28 08:39] danielmutis commented on #3571
@ziheliu214 here is the [spec for this component. ](https://docs.google.com/document/d/1__Ee_7s1jLJdNBEyrA-fUKNHx5Jbxz158IZuWtb6zEA/edit?usp=sharing)

[2021-06-28 09:17] ziheliu214 commented on #3766
@wgx @AnnSoMuller Thanks for the work! Could you please walk us through the final design in tomorrow's design assembly, if everyone is ok with it we will close the issue. 😊

[2021-06-28 09:24] ziheliu214 commented on #3571
Looks great! Do you have examples to include on when to use the 3 variants?

[2021-06-28 09:56] danielmutis commented on #3571
@ziheliu214 thanks for the feedback. I have added some comments on the use of the sizes and some examples of this component being used in other products.

[2021-06-28 10:03] cristinadresch opened #3817 "Side navigation collapse/expand sections"
Having the ability to collapse/expand sections in the left nav would allow users to see more of the navigation when there is a long list of menu items.

This should work for both long pages with single URL e.g. [k8s survey](https://juju.is/cloud-native-kubernetes-usage-report-2021), as well as a regular docs page where each section/menu item is a new URL e.g. [operator framework](https://juju.is/d

[2021-06-28 14:38] sowasred2012 opened #3818 "Update React component to match new notification pattern"
The scope of this is to update the react `Notification` component to use the updated HTML structure and new style features.

It seems that current props of the React component shouldn't cause any bigger compatibility issues, but we may want to rename/alias some of them:

![Screenshot 2021-07-12 at 14.56.15.png](https://images.zenhubusercontent.com/593a660851aa2c30578102bb/3a5291a1-5a16-42db-835e-8

[2021-06-28 14:41] sowasred2012 opened #3819 "Add notification center states"
- unread
- snoozed
- stacked
- multiple collapsed

[2021-06-28 14:45] sowasred2012 opened #3820 "Add icon support to contextual menu items"

[2021-06-28 14:46] sowasred2012 commented on #3820
@waynecrosby could we please get a "snooze" icon? We have need for one as part of the new notification pattern:

https://app.zeplin.io/project/5fac06865cfff51271b72cc6/screen/60353ac1f130133007d40217

![Screenshot from 2021-06-28 15-43-48.png](https://images.zenhubusercontent.com/5cd93aaf2406d87914830598/38472bf0-6803-4722-bde8-00de41c1d1ab)

[2021-06-28 15:20] davegoddard42 commented on #3208
Pagination Proposal document here:

https://docs.google.com/document/d/1MM4QtugMvNr5B5GcVzHhd2a22SK8Y8okM0Mw0BYAbBU/edit?usp=sharing

@amylily1011 @danielmutis if either of you get a chance at some point, would you mind taking a quick look and providing feedback in the document? I know both of you have looked a bit at this before. Would be interesting to get your feedback, and check it would work

[2021-06-28 16:17] waynecrosby commented on #3820
@sowasred2012 Sure thing, I'll get it scheduled in for you.

[2021-06-29 08:05] lyubomir-popov commented on #3820
@waynecrosby we also need a bell icon (clicking it leads to a notification center).

[2021-06-29 09:29] lyubomir-popov opened #3821 "Pullquote component uses incorrect variables and arbitrary hardcoded values"
The pull quote padding-left in particular multipies an existing variable by an arbitrary amount. This is so the quotaiton mark fits. The problem wiht that is, if the value of the variable changes, so will he padding here, which wouldn't be intended - as the font-size of the quotaiton mark hasn't changed.

A better way to do this would be to measure the size of the quotation mark in a unit relative

[2021-06-29 09:43] waynecrosby commented on #3820
@lyubomir-popov We do already have a notification bell, can this be used?
![image](https://user-images.githubusercontent.com/42238722/123776020-cda1f680-d8c6-11eb-8788-1e164909dcac.png)

[2021-06-29 10:16] lyubomir-popov commented on #3820
@waynecrosby didn't know, thanks. We'll use it.

[2021-06-29 10:38] ziheliu214 commented on #3766
@wgx @AnnSoMuller
Thanks for the demo!
So now the team agrees on this change, we can get ready to close the issue, tasks remaining is:
- to add the new visual updates, behaviours specs and accessibility checks to the existing component documentation

If you require visual updates work please create an issue.

[2021-06-29 10:45] sowasred2012 opened #3822 "Update the existing notification pattern"
Some classes within the existing notification pattern will be deprecated to make way for the new pattern, but it should be possible to update the current one to match the default version of the new patten without altering the markup.

Existing pattern: https://vanillaframework.io/docs/patterns/notification

Zeplin board with new designs: https://app.zeplin.io/project/5fac06865cfff51271b72cc6/scree

[2021-06-29 10:52] sowasred2012 opened #3823 "Build default notification pattern"
It seems that the current HTML structure would not be enough to cover all the functionality and styling for new notifications:

[code]

so we want to deprecate the HTML of current notifications and propose a new one.

We want to keep the `p-notification` root class name for consistency (and not to invent a new name), but child elements should have different strucuture and different class names.

T

[2021-06-29 10:53] sowasred2012 opened #3824 "Add notification status variants"
Add variants to new notification pattern:

- negative
- positive
- caution
- information

These should use existing `--modifier` class name convention, and add a proper styling with a coloured bar and relevant icon.

[2021-06-29 10:55] sowasred2012 opened #3825 "Add close element to notification pattern"
We currently just use `<button class="p-icon--close" aria-label="Close notification" aria-controls="notification">Close</button>`, but we thought it'd be useful to include it formally as part of the pattern, i.e. the class could be `.p-notification__close`

[2021-06-29 10:58] sowasred2012 opened #3826 "Add is-inline notification modifier"
https://app.zeplin.io/project/5fac06865cfff51271b72cc6/screen/60353ac1f130133007d40217

Inline versions of the notification drop the border, and it's worth clarifying with design whether spacings should be the same.

[2021-06-29 10:59] sowasred2012 opened #3827 "Add has-large-icon modifier"
https://app.zeplin.io/project/5fac06865cfff51271b72cc6/screen/60353ac1f130133007d40217

See standard icon vs large icon:

![Screenshot from 2021-06-29 11-59-09.png](https://images.zenhubusercontent.com/5cd93aaf2406d87914830598/531e3484-b1e7-42c9-9955-47c270b3e83c)

[2021-06-29 11:05] sowasred2012 opened #3828 "Add is-overlapping modifier"
https://app.zeplin.io/project/5fac06865cfff51271b72cc6/screen/60353ac1f130133007d40217

Overlapping notifications include a drop shadow:

![Screenshot from 2021-06-29 12-00-40.png](https://images.zenhubusercontent.com/5cd93aaf2406d87914830598/afed3678-8fae-4c46-b522-6b39cddbbc5a)

[2021-06-29 11:08] sowasred2012 opened #3829 "add is-modal modifier"
https://app.zeplin.io/project/5fac06865cfff51271b72cc6/screen/60353ac1f130133007d40217

The "full width bar" design is meant to be used essentially as a modal - but Vanilla's standard modal pattern has different spacing:

![image.png](https://images.zenhubusercontent.com/5cd93aaf2406d87914830598/7cd859eb-99fb-418e-9e4d-0978cdbc9c8a)

[2021-06-29 11:21] #3793 closed

[2021-06-29 11:41] sowasred2012 opened #3830 "Add "time ago" element to notifications"

[2021-06-29 11:42] sowasred2012 opened #3831 "Add "actions" element to notifications"

[2021-06-29 12:54] #3201 closed

[2021-06-29 15:57] sowasred2012 opened #3832 "Test notification pattern accessibility"
Things to check/look out for:

- Checking all actions (and dismiss button) can be tabbed to
- Dynamically updated/added notifications should use the `alert` role, as described here: https://www.w3.org/TR/wai-aria-1.1/#alert - we may want to add an example of this.

[2021-06-30 09:12] clagom commented on #3817
See #3174

[2021-06-30 09:12] clagom commented on #3817
UX to collect the definition we worked on so far and pass to visual

[2021-06-30 09:26] clagom commented on #3774
Vanilla has an issue: #2291 to implement this component in the documentation. Vanilla website is going to be redesigned.

[2021-06-30 09:27] #3774 closed

[2021-06-30 09:41] clagom opened #3833 "Documentation follow up"
To add the new visual updates, behaviours specs and accessibility checks to the existing component documentation.

[2021-06-30 09:42] danielmutis commented on #3571
I have amended the spec removing the small size, and keeping regular and dense sizes.

[2021-06-30 09:44] cristinadresch opened #3834 "Visual - form labels, mandatory field and error messages"
Link to [Zeplin](https://zpl.io/anBA4Lr)

Link to [Figma](https://www.figma.com/file/3JbdJmkcWRyCrRQvOuTVoP/21.10-Vanilla-Mandatory-fields-and-Error-labels?node-id=201%3A65)

[2021-06-30 10:49] sowasred2012 opened #3835 "Remove contextual menu styles from p-table--mobile-card pattern"
The `p-table--mobile-card` pattern contains [styling for contextual menus](https://github.com/canonical-web-and-design/vanilla-framework/blob/master/scss/_patterns_table-mobile-card.scss#L80) that makes them render much differently on smaller breakpoints:

Large breakpoints
![Screenshot from 2021-06-30 11-43-13.png](https://images.zenhubusercontent.com/5cd93aaf2406d87914830598/e1cdea31-6503-4402-8

[2021-06-30 15:16] sowasred2012 opened #3836 "$color-accent couples nav and is-ticked patterns together"
On [this Snapcraft PR](https://github.com/canonical-web-and-design/snapcraft.io/pull/3592#discussion_r661488178) there was a need for the nav `is-selected` highlight bar to be Ubuntu orange.

The color of the bar is set by the `$color-accent` variable, which also determines the color of the tick icons in `is-ticked` lists: https://vanillaframework.io/docs/examples/patterns/lists/lists-ticked. It f

[2021-06-30 16:14] anthonydillon commented on #3836
This is by design. We wanted a simple method to just accent across a project. It was deemed by Vanilla that color of the navigation highlight and the ticks should match.

[2021-07-01 06:02] #3779 closed

[2021-07-01 08:26] cristinadresch commented on #3803
@clagom @lyubomir-popov @bartaz could you have a look at this

[2021-07-01 08:45] lyubomir-popov opened #3838 "Vanilla design system site Visual Design"

[2021-07-01 10:11] lyubomir-popov opened #3839 "Design system site - Components page initial visual design"
Create visual design based on @ziheliu214 's wireframes in this Figma [file](https://www.figma.com/file/7kb43f063vsMkfv3nGMC2r/Component-%2F-Pattern-page?node-id=0%3A1)

[2021-07-01 10:34] clagom commented on #3803
Good job @ziheliu214, the structure seems to be working well with the presentation of this pattern. Later today in planning let's consider what we just discussed in the call, but going well so far 👍

[2021-07-01 10:36] long-chung commented on #3800
@lyubomir-popov as requested, here's a short summary for .p-label (Badges)

**Introduction**
Badges are labels which hold small amounts of information and are used to visually label UI objects for quick recognition.
A Badge draws attention to new or categorised content elements that might otherwise be missed.

**Considerations**
Keep in mind that badges increase the amount of visual noise, particu

[2021-07-01 13:48] #3750 closed

[2021-07-01 14:09] #3802 closed

[2021-07-01 14:36] lyubomir-popov commented on #3800
@long-chung thanks, could you include some benchmarking? E.g. references to documentation of this in semantic-ui, material design, etc.

[2021-07-01 14:56] cristinadresch opened #3840 "Design system site - Overall page layout"

[2021-07-01 14:57] cristinadresch opened #3841 "Design system site - Mobile view"

[2021-07-02 07:17] AnnSoMuller commented on #3794
[Here](https://docs.google.com/document/d/1GSq8z6rkYZ_4rmJIAGZkRRiQpJwvqBrx2AMaUdb7w3k/edit) is the link to the google doc for key/value pair pattern.

[2021-07-02 08:28] #3803 closed

[2021-07-02 08:32] cristinadresch opened #3842 "Design system site - Components page visual design iteration I"

[2021-07-02 12:47] #3835 closed

[2021-07-02 13:01] lyubomir-popov commented on #3800
Great reference links, thanks @long-chung !

[2021-07-02 13:08] danielmutis commented on #3434
I have added a section to the [discourse table spec](https://discourse.ubuntu.com/t/sticky-header/23084).

[2021-07-02 13:09] #3571 closed

[2021-07-04 17:55] #3839 closed

[2021-07-05 08:45] wgx commented on #3833
Added accessibility section.

[2021-07-05 14:36] bartaz opened #3845 "Add is-borderless modifier"

[2021-07-05 14:47] #3434 closed

[2021-07-05 16:10] anthonydillon opened #3846 "Dark navigaiton overriding $color-navigation-background"
A pattern in Vanilla needs to be flexible enough that it can be used across a wide range of scenarios and shouldn't be constrained to a specific number of applications.

## Visual
Setting `$color-navigation-background` locally is overridden with `is-dark`

## Context
When you have `p-navigation.is-dark` the `is-dark` background-color trumps the `$color-navigation-background` background.

[2021-07-06 01:05] #3822 closed

[2021-07-06 09:04] sowasred2012 opened #3848 "Switch to dart sass by default"
Keep node-sass for now (until 3.0)
Does dart sass accept a "--functions" argument, or an equvialent that allows us to pass a js file

[2021-07-06 09:08] sowasred2012 opened #3849 "Update build documentation"
https://vanillaframework.io/docs/building-vanilla hasn't been updated in a while, and we should add information about building with dart sass (when we've switched to it).

[2021-07-06 09:15] ziheliu214 commented on #3208
@davegoddard42 Great work! Very clear structure and detailed content.
Left some comments, please let me know if there is any questions.

[2021-07-06 09:23] steverydz opened #3850 "Consider removing the fixed header convention that is becoming more common on our sites"
In dev catchup on 6th July 2021 we discussed a problem where fixed headers cause problems with in-page links.

By default when you click an in-page link, e.g. https://example.com#page-section, that section will go straight to the top of the viewport. When there is a fixed header, the top of that section is hidden underneath the header.

There are things we can do to avoid this, such as using [scro

[2021-07-06 10:29] ziheliu214 commented on #3794
Will leave this to review until the decision is finalised and documentation is up-to-date.

[2021-07-07 07:32] Caleb-Ellis commented on #3826
Closed in #3847

[2021-07-07 07:32] #3826 closed

[2021-07-07 07:32] Caleb-Ellis commented on #3845
Closed in #3847

[2021-07-07 07:32] #3845 closed

[2021-07-07 07:32] Caleb-Ellis commented on #3824
Closed in #3847

[2021-07-07 07:32] #3824 closed

[2021-07-07 07:33] Caleb-Ellis commented on #3823
Closed in #3847

[2021-07-07 07:33] #3823 closed

[2021-07-07 07:46] AnnSoMuller commented on #3794
@ziheliu214 this is ready for review :)

[2021-07-07 07:59] #3662 closed

[2021-07-07 11:06] sowasred2012 commented on #3658
Closing: after discussion with @lyubomir-popov, decided this was easily achievable with what's currently available in Vanilla, e.g.

[code]

[2021-07-07 11:06] #3658 closed

[2021-07-07 14:35] long-chung commented on #3834
@wgx @AnnSoMuller @lyubomir-popov @ziheliu214 Hi guys i've done some exploration and several options around this pattern.
Would be grateful if you could take a look and help whittle them down.

Thanks

[2021-07-07 15:12] lyubomir-popov commented on #3834
Looking good @long-chung, I've left a couple of comments.

[2021-07-07 15:47] clagom commented on #3850
FYI this might be more difficult to drop than anticipated because there are some parallel discussions with brand and Mark about navigation that changes on scroll. Maybe we don't need this in every page especially complex ones such as docs, but wouldn't be great to drop it completely. CC @anthonydillon

[2021-07-07 16:24] lyubomir-popov commented on #3850
I'd like to look into this. How can I replicate scroll-padding failing? Any special circumstances?

[2021-07-07 16:32] steverydz commented on #3850
@lyubomir-popov it happens often when loading the page with a section in the URL, e.g.

https://juju.is/cloud-native-kubernetes-usage-report-2021#size-is-important-how-many-machines-and-clusters-are-people-running

but if you click around enough in the side nav you'll probably be able to break it

[2021-07-07 16:34] anthonydillon commented on #3850
It's not technically difficult until it hasn't been addressed which leads to common errors in our sites. It has consequences with other patterns such as sticky table headings. It is a trade-off better the UX of have navigation always available and regular issues on our sites.

[2021-07-07 17:04] lyubomir-popov commented on #3850
I was wondering whether it can be done sitewide, e.g. using the `:target` selector so it isn't a manual process.

[2021-07-08 06:48] #3829 closed

[2021-07-08 06:48] #3825 closed

[2021-07-08 06:48] #3831 closed

[2021-07-08 06:49] #3830 closed

[2021-07-08 06:49] #3828 closed

[2021-07-08 06:51] Caleb-Ellis opened #3855 "Update documentation for new notification variants"

[2021-07-08 08:01] #3109 closed

[2021-07-08 12:21] bartaz opened #3857 "Clean-up new notifications documentation"
@huwshimi @Caleb-Ellis

Regarding the work remaining to be able to merge `new-notifications` branch, there are a few small updates we could do to documentation.

I updated the side navigation (we had some outdated status labels here), and version number is already bumped, so the last remaining thing to prepare PR is add a note to component status page (https://vanilla-framework-3856.demos.haus/doc

[2021-07-08 12:53] #3855 closed

[2021-07-08 14:22] clagom commented on #3794
Is this still blocked?

[2021-07-08 14:50] anthonydillon commented on #3666
Is this a master epic @lyubomir-popov? It is in the pipeline but does not have the label.

[2021-07-08 14:51] lyubomir-popov commented on #3794
@clagom don't think so, we had a productive catchup with @AnnSoMuller and I think we're good to proceed.

[2021-07-08 14:52] lyubomir-popov commented on #3666
Yes, added the label

[2021-07-08 15:17] rayito commented on #3800
First approach to a general convention: https://github.com/canonical-web-and-design/vanilla-framework/issues/3800

[2021-07-08 16:04] ziheliu214 commented on #3794
Left some comments in the documentation @AnnSoMuller, good format thanks!

[2021-07-08 16:12] hatched opened #3858 "Document changing icon colors"
It turns out that the icons are mixins that can be called with a color to change the color of the icon. It would be great to document that you can do this in the [icons page](https://vanillaframework.io/docs/patterns/icons).

[code]

https://github.com/canonical-web-and-design/vanilla-framework/search?q=vf-icon-share

[2021-07-08 16:19] ziheliu214 commented on #3208
@davegoddard42
I will leave the comments here:

I'm questioning the purpose of variant B's existence:
- if we change the Variant A example (168 items) to show 200 per page, does it switched to variant B?
- if so Then I cannot see the 'item to show' component anymore to change to show 20 per page back?

[2021-07-08 16:28] davegoddard42 commented on #3208
@Zihe Liu ***@***.***>

I answered this in the document, but I resolved it and I don't think I
tagged you, so you might have missed it. I wrote:

*"That's a really good point. I envisaged it so that only when first shown
if the number of items is below the 'show' value the second variant is
used. In the case of changing the number of items to be shown, it would
stay as variant A. I realise that is

[2021-07-09 08:44] bartaz commented on #3858
We don't have much documentation on Vanilla internals currently, but we could start documenting things like that.

[2021-07-09 10:30] bartaz opened #3860 ""Import" documentation recommends importing individual files"
We recommend doing `@import vanilla-framework/scss/vanilla`, but in our docs on compoenents "Import" section we show importing individual compoenets instead.

![Screenshot 2021-07-09 at 12.28.42.png](https://images.zenhubusercontent.com/593a660851aa2c30578102bb/e7592926-05ec-4465-8bbb-40d82aef779a)

We should update these snippets to use recommended Vanilla import.

Similarly in the standalone exa

[2021-07-12 02:01] #3857 closed

[2021-07-12 08:02] #3840 closed

[2021-07-12 08:04] cristinadresch commented on #3800
@rayito if you could also present this during design assembly please

[2021-07-12 09:38] #3834 closed

[2021-07-12 12:22] bartaz commented on #3818
@Caleb-Ellis @huwshimi

Your notifications work is now merged in Vanilla and released to npm as `2.33.0-rc1`, so you can use that in react components.

[2021-07-12 19:51] AnnSoMuller commented on #3794
posted on [Discourse](https://discourse.ubuntu.com/c/design/key-value-pair/91)!
So I close it :)

[2021-07-12 19:51] #3794 closed

[2021-07-12 19:52] #2848 closed

[2021-07-13 06:19] anthonydillon opened #3863 "Request for a heading link for anchor sharing"
We would like to add anchor links to headings in docs. This would need some styling. This could be in the form of a icon on hover.

[2021-07-13 07:00] bartaz commented on #3863
On GH:

![anchor.gif](https://images.zenhubusercontent.com/593a660851aa2c30578102bb/826c0c2c-d865-4391-b48b-d3edc1b84b88)

[2021-07-13 13:13] sowasred2012 commented on #3405
@clagom @anasereijo are there any updates on this? It looks like we're waiting on UX and design decisions before we can move this to dev.

[2021-07-13 13:23] clagom commented on #3405
@sowasred2012 Thanks for pointing this out, @cristinadresch probably we need to plan for this since last week @anasereijo was away?

[2021-07-13 16:22] lyubomir-popov opened #3865 "Notifications: improve spacing and cosmetic details"
Adjust spacing of the new notifications to sit properly on the baseline grid.

[2021-07-14 08:44] davegoddard42 opened #3867 "Documentation"

[2021-07-14 08:44] #3867 closed

[2021-07-14 09:15] clagom commented on #3850
@bartaz is going to talk about this issue during Dev catchup

[2021-07-14 09:25] clagom commented on #3836
WG validated the proposal to decouple the accent colour with "is-ticked".

[2021-07-14 09:29] sowasred2012 opened #3868 "Remove hardcoded values from search and filter component"
The search and filter pattern uses a number of hardcoded values for things like padding, positioning, negative margins etc, and it's not clear why those values were chosen or how the pattern would be affected by changes to global spacing variables.

Replacing them with variables either defined locally or whose values are derived from other spacing variables would make them less fragile.

[2021-07-14 09:32] clagom commented on #3800
WG is going to work together during a session about this issue after the roadmap sprint.

[2021-07-14 09:35] sowasred2012 opened #3869 "Search and filter search prompt should match the contextual menu dropdown"
The search and filter search prompt is currently very spacious, and includes padding at the top that makes it look as though it has a thick, white top border:

![Screenshot from 2021-07-14 10-32-59.png](https://images.zenhubusercontent.com/5cd93aaf2406d87914830598/ef7879c8-2672-4d2e-868e-1f1f16cda6f2)

We should make this search prompt look similar to the contextual menu dropdown (without the fixe

[2021-07-14 09:36] lyubomir-popov opened #3870 "Pagination - visual updates"
Visual design work related to #3208

- strip borders from pagination buttons
- review stylign in the wireframe and see if any changes are needed

[2021-07-14 09:41] clagom commented on #3833
https://docs.google.com/document/d/1gXvmudhPYvW2-mRxjXDjG4VVIrEfeYl2fMFo7_I41A0/edit#

[2021-07-14 09:41] #3833 closed

[2021-07-14 09:42] cristinadresch opened #3871 "Build - update form mandatory field label"
Update the required label with new position of asterisk

[2021-07-14 10:34] lyubomir-popov opened #3872 "p-navigation: Add orange-logo background variant (as default?)"
(As interim solution) until any bigger changes to the navigation are approved.

![image](https://user-images.githubusercontent.com/2741678/125608085-e5eb8d0d-3cd1-43a4-86c5-8f85aa03805b.png)

![image](https://user-images.githubusercontent.com/2741678/125608110-d6e5375b-84e8-43c1-bc8a-6f29af9b0e2f.png)

These require custome css on sites, developers have requested integrating that into vanilla so t

[2021-07-14 10:57] bartaz commented on #3850
We discussed this on WG and it seems that there are sites that will continue to use sticky header nav, so we can't drop it completely.

If there are any implementation issues, we need to find a way to address them on implementation side.

[2021-07-14 10:57] #3850 closed

[2021-07-14 11:10] #3819 closed

[2021-07-14 11:10] #3820 closed

[2021-07-14 11:10] #3827 closed

[2021-07-14 11:16] #3842 closed

[2021-07-14 12:56] #3865 closed

[2021-07-15 07:57] #3818 closed

[2021-07-15 08:07] cristinadresch commented on #3872
keep in mind that this is a larger piece of work e.g. more than 1 day, it might not be worth doing as navigation will be changing soon due to brand work

[2021-07-15 08:10] cristinadresch commented on #3869
@ziheliu214 @lyubomir-popov could you review this and check you're happy with this change?

[2021-07-15 10:33] bartaz commented on #2669
Notifications pattern was updated and the "status" element was renamed to "title" which should make it purpose clear.

[2021-07-15 12:31] #3808 closed

[2021-07-15 13:45] ziheliu214 commented on #3869
@sowasred2012 My intention was to keep the search prompt spacious to differentiate with the categories and items below in the menu. Noticed the white border - the grey background was supposed to be a hover state, but now it seems to be always there and not alined with the menu border.

So I guess the solution can be, to make the menu upper boarder lower to the grey area, or remove the grey and put

[2021-07-16 11:16] clagom commented on #3202
We have this in JAAS:
![image](https://user-images.githubusercontent.com/1953388/125939439-aac1c418-0582-4d29-8494-8e71add2da45.png)
And @anasereijo has a similar needs in the side-nav filter on certifications.
Sounds like we all need the same component :)

[2021-07-16 11:25] bartaz commented on #3202
We currently have chips (https://vanillaframework.io/docs/patterns/chip):

<img width="137" alt="Screenshot 2021-07-16 at 13 18 42" src="https://user-images.githubusercontent.com/83575/125939797-a136ec0b-0c5a-4653-8ed8-a6e57186df61.png">

That could be technically used with just numbers (but are not round), but also are meant to be interactive (clickable), and they don't have multiple colors.

<im

[2021-07-18 08:11] matthewpaulthomas commented on #2669
The renaming may help, and one of the two errant examples has been fixed. Unfortunately, one remains, and [another has appeared](https://vanillaframework.io/docs/patterns/notification#negative):

![Error: Node must be connected to a network.](https://user-images.githubusercontent.com/19801137/126059537-c15989b3-b062-4451-94ac-b703f45c1382.png)
![Success: Code successfully reformatted.](https://use

[2021-07-19 06:32] huwshimi opened #3878 "Tab background covers <hr>"
**Describe the bug**

Vanilla 2.31.0 adds a background to tabs that covers a `<hr class="u-no-margin--bottom">` placed before the tabs.

**To Reproduce**

https://codepen.io/huwshimi/pen/oNWwGjq

**Screenshots**

<img width="421" alt="Screen Shot 2021-07-19 at 4 25 13 pm" src="https://user-images.githubusercontent.com/361637/126112952-23abed8b-4782-423f-8e4b-a409c06df37d.png">

[2021-07-20 08:14] lyubomir-popov commented on #2669
@matthewpaulthomas thanks for pointing this out. @bartaz can we just use what @wgx's has used in his wireframes?

[2021-07-20 08:52] lyubomir-popov commented on #3878
This is due to u-no-margin-bottom applying a negative 1px margin-bottom on the hr, which is done to keep it form offsetting elements  underneath from the pixel grid. We can either:

- apply `z-index: 1;` to the hrs in vanilla, which sorts this out
- remove the negative bottom margin and live with the fact that `hr`s upset the vrtical rhithm.

I'd vote for the former. @sowasred2012 what do you thin

[2021-07-20 10:48] sowasred2012 commented on #3878
@lyubomir-popov I was originally thinking the latter, and accepting the pixel shift it would introduce - but the z-index solution looks like a cleaner solution, just gotta check it doesn't interfere with other z-indexes.

[2021-07-20 12:10] wgx commented on #3766
Added to [Discourse](https://discourse.ubuntu.com/t/mandatory-form-fields-specification/23360/1). (cc @AnnSoMuller @ziheliu214 @clagom @long-chung)

[2021-07-20 13:04] clagom commented on #3766
Did we work on this visual wise?

[2021-07-20 13:08] wgx commented on #3766
The visuals on discourse are from @long-chung 's updated versions. I believe they're the latest, but we can update if things change.

[2021-07-20 13:10] clagom commented on #3766
👍 cool, thanks

[2021-07-20 15:58] #3832 closed

[2021-07-21 12:00] lyubomir-popov commented on #3869
@ziheliu214 @sowasred2012 I agree the gray should be a hover state. the height of the area highlighted by the grey hover should be consistent with other similar elements like the contextual menu and side navigation. No need for the top sliver of white if it can be avoided.

[2021-07-21 13:02] #3858 closed

[2021-07-22 18:06] rayito commented on #3626
I wrapped up a quick research and some conclusions about this topic here:

https://docs.google.com/document/d/1J7TXFeG1Yaszd17S509yzgqomV4n7seFS3avP9glcn8/edit?usp=sharing

Please feel free to comment.

[2021-07-23 08:01] #3576 closed

[2021-07-23 08:40] elioqoshi commented on #3626
Thanks @rayito !

I agree with your thinking here, and as long as we don't have any good particular scenarios to omit the clear button, we should stick with it.

However I am worried about the alignment of the search magnifying glass icon on the right, as well as the clear icon on the right too. I don't want to open another can of worms, but I am curious what's the reason we keep the search icon o

[2021-07-23 09:34] rayito commented on #3626
As discussed in the UX channel, the decision is to keep the clear button for all search/filter fields.

We need to have a look at the design and behaviour mentioned by @elioqoshi, but that will be a differten task.

[2021-07-23 09:34] #3626 closed

[2021-07-23 09:54] lyubomir-popov opened #3884 "Search field icon padding update"
Implement decision arrived at in https://github.com/canonical-web-and-design/vanilla-framework/issues/3626

[2021-07-23 11:54] bethcollins92 opened #3885 "Add ability to reduce left padding to accordion panel"
## Pattern to amend

Accordion

## Visual

Using accordion with no styles:
![Screenshot 2021-07-23 at 11 45 53](https://user-images.githubusercontent.com/58959073/126777913-01d66b61-2fc4-438b-a84b-77cf9c0a60bd.png)

with amendment
![Screenshot 2021-07-23 at 11 45 45](https://user-images.githubusercontent.com/58959073/126777847-57b67492-a514-45cb-893a-dca51c8b0cd9.png)

## Context

I'm using the pa

[2021-07-23 13:09] sowasred2012 commented on #3884
The decision arrived at (from [Eden's research doc](https://docs.google.com/document/d/1J7TXFeG1Yaszd17S509yzgqomV4n7seFS3avP9glcn8/edit#)):

[2021-07-23 13:12] sowasred2012 commented on #3885
@lyubomir-popov what do you think? This padding override is being used on a number of (though not all) accordions on u.c, I wonder if we could introduce an `is-dense` modifier for that pattern.

[2021-07-23 13:33] lyubomir-popov commented on #3885
Can't we use `u-no-padding--left`? Do you need modifications on multiple elements?

[2021-07-23 13:38] sowasred2012 commented on #3885
No, what @bethcollins92 has done in the example is reduce it to `1rem`, rather than eliminate the padding entirely - and it's just applied to the `.p-accordion__panel` element.

[2021-07-26 08:13] lyubomir-popov commented on #3869
@sowasred2012 this should be ready for development. Let me know if you need anything.

[2021-07-26 08:39] cristinadresch opened #3887 "Segmented control - build"
## UX work:
https://docs.google.com/document/d/1__Ee_7s1jLJdNBEyrA-fUKNHx5Jbxz158IZuWtb6zEA/edit#heading=h.shysd5ek3g27

## UX issue:
https://github.com/canonical-web-and-design/vanilla-framework/issues/3571

## Link to Zeplin:
[Zeplin](https://zpl.io/2vDWD1Q)

[2021-07-26 09:27] lyubomir-popov commented on #3711
@sowasred2012 this seems fixed - can we close?
![image](https://user-images.githubusercontent.com/2741678/126966556-7fba09b6-a496-45f2-b6cd-2b352dfac70d.png)

[2021-07-26 09:35] sowasred2012 commented on #3711
@lyubomir-popov ah yes - this was raised on juju.is, I'll add an issue there to clean up the [local fix Ovi introduced](https://github.com/canonical-web-and-design/juju.is/blob/master/static/sass/_patterns_p-subnav.scss#L6-L10) while waiting for this.

[2021-07-26 09:35] #3711 closed

[2021-07-27 09:40] lyubomir-popov opened #3888 "Figma library - contextual menu"
This is ready for review @long-chung @elioqoshi

![image](https://user-images.githubusercontent.com/2741678/127132770-c857adbf-3641-4026-a8d7-de38e553518d.png)

[2021-07-27 11:16] long-chung commented on #3888
Looks good and works like a charm

[2021-07-27 11:19] lyubomir-popov commented on #3888
I'm getting the hang of it :) Cool, I'll move it to the official library.

[2021-07-27 12:44] #3860 closed

[2021-07-27 12:58] elioqoshi commented on #3888
@lyubomir-popov Looks good to me too!

Just a few things I am curios with:

- How would we handle if someone needs that component with more items? Or would that not be the case? It's easy to remove items from an instance but it's not possible to add new items unless a new component/variant is created.

- How would one control where dividers would be positioned in the instance? Could that be a vari

[2021-07-27 13:50] anasereijo commented on #3405
I've done some [design explorations](https://zpl.io/bzxLywG) and we discussed this at the **Design Assembly meeting**.

Key points:
- Let's keep icons as is (tick and cross within circles) for short term solution;
- Brand colour icons don’t work as well - `$color-positive` and `$color-negative` are the preferred colours
- Explore neutral colours for icons

Questions:
- Do we need new icons? Open a

[2021-07-27 13:53] anasereijo commented on #3405
@lyubomir-popov
I suppose this is already in place in [Vanilla ticked list](https://vanillaframework.io/docs/patterns/lists#ticked) with the use of `$color-accent` variable?

[2021-07-27 13:56] lyubomir-popov commented on #3888
we can always increase the number in the library file if someone needs more - or the person can detach etc.

try it - the border is already a property

[2021-07-27 14:24] lyubomir-popov opened #3890 "Design system library: add tick elements"
I've ported the tick element component to the figma library, ready for QA:
https://www.figma.com/file/H6MSsN3taoXXOJCPUbIImQ/Design-system-library?node-id=0%3A1
![image](https://user-images.githubusercontent.com/2741678/127170936-5ce9451d-a80b-49a7-81d9-16af5836fe65.png)

[2021-07-27 14:29] long-chung commented on #3890
Maybe we could set the state as a true/false so it can also be a toggle switch rather than a dropdown?

[2021-07-27 15:12] lyubomir-popov commented on #3890
good point!

[2021-07-27 15:17] lyubomir-popov commented on #3890
FIxed the text colour and I see you turned them to switches. Can we close this?

[2021-07-27 17:11] elioqoshi commented on #3888
We should avoid that, but yeah we could offer variants with more items.

Perfect, I missed that somehow. Thanks!

[2021-07-28 08:29] #3890 closed

[2021-07-28 09:10] clagom commented on #3405
- Vanilla ticked list is going to be detached from the $color-accent variable?
- The green and red would be the default values for this component

Follow up
- Explore a neutral version, grey component (and specify when to use this neutral version instead of green/red). Opening a different ticket for this

[2021-07-28 09:10] #3405 closed

[2021-07-28 09:14] anthonydillon commented on #3405
Should we abolished the accent concept at this point?

[2021-07-28 09:28] clagom commented on #3800
Consider these points from the issue
#3126

[2021-07-28 09:30] clagom commented on #2291
@bartaz @sowasred2012 for this issue could you please have a look at the current implementation on ubuntu.com, would this be enough to bring it in Vanilla?

[2021-07-28 09:32] #2291 closed

[2021-07-28 09:33] clagom commented on #3635
@bartaz @sowasred2012 for this issue could you please have a look at the current implementation on ubuntu.com, would this be enough to bring it in Vanilla?

Ref: #2291

[2021-07-28 09:33] clagom commented on #2291
Continuing here: #3635

[2021-07-28 09:43] clagom commented on #3710
@long-chung the icon for sorting should be this one:
![Screenshot 2021-07-28 at 10.42.45.png](https://images.zenhubusercontent.com/5b0d889d89d5dc41604fa14c/4321521a-d76e-4376-8324-74ddfa65b485)

The needs for separators is still valid

[2021-07-28 09:46] clagom commented on #3710
Blocking this issue because we currently don't have this design implemented. Should probably be revisited on the modular table, too.

[2021-07-28 09:46] #3710 closed

[2021-07-28 09:49] clagom commented on #3532
Implemented in the current Vanilla:
https://vanillaframework.io/docs/examples/patterns/tabs/content

[2021-07-28 09:49] #3532 closed

[2021-07-28 09:54] clagom commented on #3587
@waynecrosby any news on this?

[2021-07-28 10:13] lyubomir-popov commented on #3405
@anthonydillon after this change it would only be used in the navigation AFAIK. If so then the nav higlight bar colour can follow the structure of other theme colours, which doens't leave anything for the acent color to do. I would vote to deprecate it.

[2021-07-28 11:24] waynecrosby commented on #3587
@clagom Apologies it's dropped off our radar, I'll make sure it goes into the next iteration. Thanks

[2021-07-28 13:17] clagom commented on #3587
Thanks @waynecrosby, @cristinadresch @SirSamTumless can we please add it for planning thanks

[2021-07-28 15:28] sowasred2012 commented on #3836
Making a note: it was suggested in [a related issue](https://github.com/canonical-web-and-design/vanilla-framework/issues/3405) that `$color-accent` be deprecated altogether (see @lyubomir-popov's [comment](https://github.com/canonical-web-and-design/vanilla-framework/issues/3405#issuecomment-888187444)).

[2021-07-28 15:50] lyubomir-popov opened #3891 "Search and filter: close icon styling doesn't match the search component"
Compare this:
![image](https://user-images.githubusercontent.com/2741678/127354481-a7cd2538-aaac-4e28-9066-9cd1cb0f8370.png)

to this (the correct icon / spacing):

![image](https://user-images.githubusercontent.com/2741678/127354559-0f87e333-b8dd-4bc0-8632-8519a7f632bb.png)

[2021-07-29 08:25] lyubomir-popov opened #3892 "Figma design library: Input and search component"
https://www.figma.com/file/H6MSsN3taoXXOJCPUbIImQ/Design-system-library?node-id=31%3A4153

[2021-07-29 08:26] lyubomir-popov commented on #3892
@long-chung can you please review (and use thew qa labels not the design labels as the design hasn't changed)

[2021-07-29 08:49] long-chung commented on #3892
Thanks Lyubo. Left some feedback.

[2021-07-29 14:21] lyubomir-popov opened #3895 "Password field privacy toggle visual design"
Visual design to accompany the UX spec here https://github.com/canonical-web-and-design/vanilla-framework/issues/3304

[2021-07-29 14:24] lyubomir-popov opened #3896 "Muted heading icon - correct spacing / sizing"
Related issue:
https://github.com/canonical-web-and-design/vanilla-framework/issues/3618

[2021-07-29 14:38] cristinadresch commented on #3303
Theming has now been added to buttons https://vanillaframework.io/docs/patterns/buttons#theming

[2021-07-29 14:38] #3303 closed

[2021-07-29 14:41] #3348 closed

[2021-07-29 14:55] #3849 closed

[2021-07-29 18:26] danielmutis commented on #3817
The conclusions of this issue are on this [zeplin](https://zpl.io/29d1P4y).

[2021-07-30 14:46] sowasred2012 opened #3897 "Tab content accessibility docs are vague"
https://vanillaframework.io/docs/patterns/tabs#content should be more explicit that keyboard events (specifically arrow key presses) are needed for this pattern to be accessible. The example JS includes these keyboard events, but it's not specifically called out in the copy, and easily missed.

Noticed in: https://github.com/canonical-web-and-design/ubuntu.com/pull/10061

[2021-08-02 00:34] Caleb-Ellis opened #3898 "Notification padding too tight when $multi = 1"
**Describe the bug**

Bottom padding of the notification pattern looks too tight when $multi = 1.

**Expected behavior**

Notification padding probably shouldn't be influenced by $multi.

**Screenshots**

### Normal
![Screenshot 2021-08-02 at 10-34-27 Machines bolla MAAS](https://user-images.githubusercontent.com/25733845/127790423-054653c8-b0ef-402d-a255-05a3be21d214.png)

### $multi = 1
![Screen

[2021-08-02 12:06] lyubomir-popov commented on #3817
@danielmutis not entirely clear on what you mean about the horizontal line - it is a way to create grouping, i.e. the items above are more related to each other than to  the ones that follow. Using them to also indicate end of a nesting level seems a bit redundant to me.

[2021-08-02 13:41] danielmutis commented on #3817
@lyubomir-popov thanks for the feedback. I think the issue is when an item that can be expanded is followed by one of the next level that can't be expanded (see below). In this case the item "Device store D1" seems to belong to the list of items that was expanded, when it is not.

<img width="612" alt="Screenshot 2021-08-02 at 14 39 31" src="https://user-images.githubusercontent.com/59825615/12787

[2021-08-02 16:20] lyubomir-popov commented on #3817
It looks like a sibling of Settings and child node of Store A2 - is that not the case? Might be easier to discuss this in a call, ping me when you're available.

[2021-08-02 16:28] #3892 closed

[2021-08-02 17:15] ziheliu214 commented on #3817
I have a few questions:

1) does that mean we will prioritize displaying items "snap, models, members, settings" above the expandable item, so we don't get too many horizontal dividers?
2) I understand the use of horizontal divider is to segment items and expandable items from the same level, then this case the second divider is it still necessary?
<img width="256" alt="Screenshot 2021-08-02 at 18

[2021-08-03 12:21] bartaz opened #3900 "Drop support for node-sass"
This involves:
- make building with dart sass default
- find a way to pass version to SASS from dart sass (or ignore this feature) - it is related to functions.js
- update the documentation (remove node sass from the docs)
- update the code to fix warnings (division in dart sass)

[2021-08-03 12:26] bartaz opened #3901 "Introduce grid related show/hide utils"
Context: #3209

Currently we have utils to show/hide content based on screen size breakpoints, but in many cases it should not be related to screen size, but the grid breakpoints (4/6/12 cols).

We should introduce utils that allow to hide content when grid has specific number of columns to be able to change the grid settings and keep these utils work as expected.

[2021-08-03 12:28] bartaz opened #3902 "Verify if we need 'p-card__image` styling"
There are some styles for `p-card__image` class name, but we don't have examples for it and it's barely used anywhere, so we should verify if we still need it and deprecate/remove if we dont or document properly if it is required.

[2021-08-03 12:52] bartaz opened #3903 "Review the align utilities"
We have `u-align--` and `u-align-text--` utilities that are a bit confusing.
Also flex box calls it "justify" and not align.
So we should consider renaming these utilities, deprecating old names and remove them in 3.0.

[2021-08-03 14:22] danielmutis commented on #3817
**Amended conclusions:**
Updated [zeplin](https://zpl.io/29d1P4y).

Summary:
* Only items on level 1 and 2 can be expandable, so that the items of level 2 expanded can be aligned with level 3.
* Items that expand don’t open a page, so they won’t look selected when expanded.
* Multiple nav items can be expanded at once. The items in the nav will be collapsed by default. The UXer can decide whether

[2021-08-03 19:34] clagom commented on #3817
Nice work @danielmutis, did we also involve devs?

[2021-08-04 05:40] huwshimi opened #3906 "Mobile modal should not take whole screen"
We decided to not make the modal take whole height of the screen on mobile.

# Initial proposal:

## Pattern to amend

Modal

## Visual

<img width="384" alt="Screen Shot 2021-08-04 at 3 32 34 pm" src="https://user-images.githubusercontent.com/361637/128127344-5318169e-67d9-4c35-b3e5-86565846ac3a.png">

## Context

The above visual was designed for ubuntu.com so that when viewing the modal on mobi

[2021-08-04 08:11] sowasred2012 commented on #3900
This seems like a duplicate of https://github.com/canonical-web-and-design/vanilla-framework/issues/3848

[2021-08-04 08:26] Caleb-Ellis commented on #3878
This issue is still valid when a tab is focused, sorry! A simple fix would be increasing the z-index of the hr since a focused tab has a z-index of 1.

![Screenshot 2021-08-04 at 18-16-08 Machines bolla MAAS](https://user-images.githubusercontent.com/25733845/128148013-535d7d5a-35c2-40bf-9264-296a4edf865a.png)

[2021-08-04 09:37] #3898 closed

[2021-08-04 09:56] sowasred2012 commented on #3817
Looks good, but I wonder whether, when there is a chevron and an icon increasing the left indent on all nav items on all levels, the third level will look really cramped/each item will wrap at every word - the side nav on the application layout already has a lot going on:

![Screenshot from 2021-08-04 10-51-51](https://user-images.githubusercontent.com/2376968/128161120-361cf4b6-391e-4c8d-831f-94d

[2021-08-04 10:20] lyubomir-popov opened #3907 "Compare usage of blue links vs buttons in our products and propose guidence on when to use what"
Prepare a benchmarking / summarise painpoints around buttons vs links.

Some recent discussions:
https://docs.google.com/document/d/1Add3LO44zPRHTX04FnDuOwXAiKAZYC5ivtOBdXWqVGI/edit
https://github.com/canonical-web-and-design/commercial-squad/issues/132

Benchmarking
https://www.figma.com/file/mA8jPxvPpkbKPxXLXZfqL7/Untitled?node-id=2%3A10

[2021-08-04 10:22] lyubomir-popov commented on #3817
The width of the sidenav here isn't ptimal, I'm working on the visual design for this and will make sure this is addressed there.

[2021-08-04 10:24] lyubomir-popov opened #3908 "Side navigation with icons / chevrons - visual design"
Create visual design mockups to resolve the remaining alignment / indentation issues arund the newly proposed icons+chevrons side navigation.

Related UX issue: https://github.com/canonical-web-and-design/vanilla-framework/issues/3817

[2021-08-05 08:04] #3878 closed

[2021-08-05 08:26] #3817 closed

[2021-08-05 08:30] ziheliu214 commented on #3817
late reply, yay love this one!

[2021-08-05 14:03] lyubomir-popov opened #3911 "Filter vs Search & filter"
Simple filter cases like the charmhub filter are being used as a basis for much more complex filtering. This means wrapping collecitons of check boxes inside accordions, adding counters to collapsed accordion items to reveal how many checkboxes inside are ticked, etc. This wades into the territory of the Search and FIlter pattern IMO, and raises a few questions:

When should you:

- put the filter

[2021-08-05 15:08] danielmutis commented on #3908
@lyubomir-popov by the way, we also need to consider what happens visually when this nav is collapsed (see image). At the moment we have the chevrons ahead of the icons, so maybe something needs to be done to make that transition obvious. When you are in a child page of an expand-collapse parent, we need to probably show the parent on the nav as selected when the nav is collapsed.

![Screenshot 20

[2021-08-05 15:22] lyubomir-popov commented on #3908
Yes, I agree - I'll include that in the visual examples.

[2021-08-06 08:24] lyubomir-popov opened #3913 "Accordion: add checkbox example"
There's a [need](https://github.com/canonical-web-and-design/ubuntu.com/pull/10125/files/cff5c74de707552eeb7d2641cfd7ac8ff410bc07..441abd652190db472ed7f970767ded81182ee9fa) for indentation-less accordion, my proposal:

![image](https://user-images.githubusercontent.com/2741678/128480758-a36c2202-9689-4009-b02b-6b619cab1572.png)

[2021-08-06 08:56] lyubomir-popov commented on #3888
This is done and published, closing.

[2021-08-06 10:10] bethcollins92 opened #3914 "Option to make checkbox labels ellipse"
## Pattern to amend

`p-checkbox`

## Visual

![Screenshot 2021-08-06 at 08 28 09](https://user-images.githubusercontent.com/58959073/128493849-8133c0aa-b610-48d2-a452-3a082162a0d1.png)

## Context

On `/certified?q=` we want to be able to make the labels ellipse. The issue at the moment is adding the css to the `p-checkbox__label` `<span>` doesn't apply the ellipses without using `display: inline

[2021-08-06 12:34] lyubomir-popov opened #3915 "3.0 Proposal: Replace sass maps with variables"
- verbose syntax
- adding a value to a map is a pain with map-merge

[2021-08-06 12:36] bartaz commented on #3375
We will remove the icon, and fix any links on case by case basis if needed.

[2021-08-06 12:40] bartaz commented on #3350
- chevron added with CSS will wrap, we used to have it and we needed to remove
- investigate if we can make it not wrap
- or have a blue link (this has it's own limitations)

[2021-08-06 12:50] #3848 closed

[2021-08-06 12:55] bartaz commented on #3903
- verify if they can be merged into one set of utils
- see how they are used

[2021-08-06 13:00] bartaz commented on #3915
- verify where they are used and what is the impact of the change
- get devs opinion
- rename maps into vars (if agreed)

[2021-08-06 13:29] bartaz commented on #3350
It seems that chevron on end of the link will wrap in some cases if added in CSS.
If possible we should revisit how inverted links are styled.

[2021-08-06 15:26] long-chung commented on #3870
Had a chat with @davegoddard42 and he's happy with the design proposal. Putting this in for review anyway to give people an opportunity to feedback.

[2021-08-09 08:26] #3888 closed

[2021-08-09 09:11] steverydz opened #3916 "Inline form labels and buttons are not baseline aligned when screen width is > 1680px"
On screens with a width larger that 1680px, as the font size increases, form labels and buttons on inline forms are not aligned at the baseline.

<img width="1740" alt="Screenshot 2021-08-09 at 09 51 39" src="https://user-images.githubusercontent.com/501889/128682766-68fa473c-2e20-4115-aadd-6dc0324066cc.png">

[2021-08-09 09:44] elioqoshi opened #3918 "Figma design library: Notification component"
Added tooltip component with variants for all alignments for review:
https://www.figma.com/file/rvUpWOGOMX405eDa5csI9d/Vanilla_Base?node-id=217%3A185

![image](https://user-images.githubusercontent.com/5436686/128688770-6e9b59f8-49b4-47c2-8718-15bea6dd1794.png)

[2021-08-09 09:59] #3918 closed

[2021-08-09 10:48] #3777 closed

[2021-08-09 12:32] #3836 closed

[2021-08-09 13:58] #3891 closed

[2021-08-10 11:01] #3907 closed

[2021-08-11 09:12] #3304 closed

[2021-08-11 09:28] clagom commented on #3906
We discussed to truncate the height of the modal window after the actual content (in this example, after the red CTA), and centring the window.

[2021-08-11 09:35] clagom commented on #3376
Related to #3061

[2021-08-11 09:42] clagom commented on #2815
WG: keeping it simple, this should just be a blue link (related to the command link discussion) without lines, icons or any other elements.

[2021-08-11 09:42] lyubomir-popov opened #3922 "Command link - related issues"

[2021-08-11 09:43] lyubomir-popov opened #3923 "Write spec on command links"

[2021-08-11 09:55] clagom commented on #3863
To be planned for later iterations

[2021-08-11 10:36] lyubomir-popov commented on #3587
@waynecrosby @spencerbygraves suggested we work closely on this, let me know when you get to it and any way I can help.

[2021-08-11 11:31] cristinadresch opened #3924 "Review scope - Investigation on form labels, mandatory field and error messages"

[2021-08-11 11:37] lyubomir-popov commented on #3924
Quick reminder to myself - this is about the use of h5 as validation error styling, and the knockon effect on form groups distinguished by h5 headings.

Left a comment in zeplin.

[2021-08-11 14:13] #3884 closed

[2021-08-12 08:23] #3900 closed

[2021-08-12 08:23] #3756 closed

[2021-08-12 08:28] lyubomir-popov commented on #3870
Just one comment, we agreed to strip the pagination buttons' borders.

[2021-08-12 08:56] lyubomir-popov commented on #3870
@long-chung can you please link to the final version here for future reference?

[2021-08-12 09:01] long-chung commented on #3870
@lyubomir-popov can you link to the conversation or document what you had discussed?

- Does the active state have a border?
- Is there a border on hover or just an underline or colour change?
- Do we strip out borders from the chevrons?
- If there are no borders do we increase the count?

[2021-08-12 09:01] long-chung commented on #3870
@lyubomir-popov

[2021-08-12 09:24] long-chung commented on #3870
Link to [Zeplin project](https://zpl.io/VY0evEn)

Link to [Figma](https://www.figma.com/file/qdYdqPWOiaJRy9ynBioCdW/21.10-Vanilla-Segmented-Controller)

[2021-08-12 10:01] waynecrosby commented on #3587
@lyubomir-popov @spencerbygraves I made a start and created a project in Figma, I've done a few different options based on the conversations above, I think the outlined versions are the most elegant solution. Take a look and let me know what you think:
https://www.figma.com/file/PDbgKIo0wd7JiwDw5diJW1/Accessible-Icon-colours?node-id=0%3A1

[2021-08-12 12:28] long-chung opened #3926 "Fixed heading and/or close button inside modal"
Proposal to keep the close button and/or title and close button fixed to the top of a modal as when the user scrolls further down the close button is out of view and requires the user to scroll back up in order to close the modal.

This is more prominent in mobile view as on desktop you could click anywhere outside the modal to close this view, whereas on mobile the content area fills most of the

[2021-08-12 13:12] ziheliu214 commented on #3870
Thanks @long-chung visual looks good! no UX issues from my eyes 👀

cc: @davegoddard42

[2021-08-13 10:35] long-chung commented on #3870
@davegoddard42 I've updated the documentation to reflect what we discussed for the mobile behaviour and also replaced the example images with updated visuals.

Closing off this issue as redesigning the pagination wasn't in scope when I initially picked up this issue.

@lyubomir-popov if you still feel strongly about redesigning the pagination, please create a new issue for this and we can relook a

[2021-08-13 10:35] #3870 closed

[2021-08-13 13:49] rayito commented on #3800
After a workshop with @ziheliu214 @bartaz @lyubomir-popov @clagom and @wgx we decided the following:
- The "Label" component (.p-label) is going to be deprecated.
- The "Chip" component will take the place of the labels, with a rework and new styles.
- A new "Badge" component will be included for the simple, numeric labels.

Regarding the new Chips, the variants would be the following:
* Static ch

[2021-08-13 13:49] #3800 closed

[2021-08-13 14:51] sowasred2012 opened #3928 "Deprecated notifications are lacking right padding"
Using the `.p-notification > .p-notification__response` deprecated pattern, there is a lack of right padding since we updated their styling to match the new `.p-notification > .p-notification__content` pattern:

![Screenshot from 2021-08-13 15-48-10.png](https://images.zenhubusercontent.com/5cd93aaf2406d87914830598/b36f118e-8567-47ff-8ac5-4c196dd690cd)

[2021-08-16 07:22] cristinadresch commented on #3587
@waynecrosby spencer is now off for 2 weeks, do you think we should put this one on hold for now? lyubo is also off this week, but back next

[2021-08-16 09:33] ziheliu214 commented on #3911
I distinguished usages of these 2 variants of search and filter in this [documentation](https://docs.google.com/document/d/1zmqt3aAyiEs0j8LxWzLnQoAY67mzYcwE1YfBJKss3EM/edit#)

Please review @clagom @lyubomir-popov

[2021-08-16 10:20] waynecrosby commented on #3587
@cristinadresch I am also on annual leave for 2 weeks so lets pick it up when we get back

[2021-08-16 10:53] #3928 closed

[2021-08-16 12:03] clagom commented on #3911
Thanks @ziheliu214 had a few comments

[2021-08-17 08:22] bartaz commented on #3902
Currently used on https://jaas.ai/case-studies

We should verify if the styles it adds are needed or is simply having an image without a class there enough.

[2021-08-17 10:57] #3914 closed

[2021-08-17 13:37] #3887 closed

[2021-08-17 13:39] #3897 closed

[2021-08-19 07:51] bartaz opened #3936 "Notification content is limited by paragraph max-width"
In new notifications, if `<p>` is used as an element for `p-notification__content` the text is limited by default max width of paragraph instead of full width of the notification:

![Screenshot 2021-08-19 at 09.48.30.png](https://images.zenhubusercontent.com/593a660851aa2c30578102bb/1fad3e67-360e-4cc6-adc7-4641d096ea81)
In old deprecated markup it didn't happen with `p-notification__response` clas

[2021-08-19 11:13] #3936 closed

[2021-08-19 12:01] bartaz opened #3940 "PercyScript is deprecated"
`PercyScript` (a library that we use to do snapshots for percy) is now deprecated. They now have new CLI SDK. We could have a look and update.

Deprecated:
https://docs.percy.io/docs/percyscript

New:
https://docs.percy.io/docs/percy-snapshot

[2021-08-20 09:54] bartaz opened #3941 "Script to `watch:scss:skip-standalone` doesn't work with dart sass"
We have a script to only watch changes to main SCSS files without standalone examples. It was using kinda hacky way to exclude standalone (by watching only /scss/site folder). It worked fine in node-sass (it rebuild /scss/site and any dependencies in main folder, skipping standalone), but in dart sass it trurly only watches to changes in the /scss/site folder.

We should find a way to update it to

[2021-08-23 13:27] bartaz opened #3945 "Build - mandatory field legend"

[2021-08-23 13:28] bartaz opened #3946 "Build - update validation styling and position"

[2021-08-24 08:30] lyubomir-popov opened #3949 "Navigation redesign - high fidelity mockups"
Create high fidelity mockups of Dave's wireframes.

[2021-08-24 09:30] #3902 closed

[2021-08-24 09:37] carkod opened #3950 "Hover state on accordion collpase"
## Pattern to amend

[Accordion button](https://vanillaframework.io/docs/patterns/accordion). [Design suggested](https://github.com/canonical-web-and-design/web-squad/issues/4315) to change provide hover state when closing the accordion. There is some discrepancy whether we really need this, so I will let Vanilla make the decision.

## Visual

This same effect but when collapsing is available

[2021-08-24 16:57] lyubomir-popov commented on #3949
First drafts [here](https://zpl.io/anzNQqx)

[2021-08-25 08:13] #3911 closed

[2021-08-25 08:14] ziheliu214 commented on #3911
Updated usage section for split search and filter.

- Added general usage guideline
- Amended when to use
- Added a section 'when to use a batch filter'

[2021-08-25 13:47] lyubomir-popov opened #3952 "Radio circles misaligned on bigger screens (once the root font-size increases to 1.125rem)"
/docs/examples/patterns/forms/tick-comparison

![image](https://user-images.githubusercontent.com/2741678/130802487-66b33355-4c3a-456d-901c-574335e81bf4.png)

[2021-08-25 14:22] clagom commented on #3350
@lyubomir-popov to create a mockup of the example with the chevron (the option that the WG chose as a solution).

[2021-08-25 14:25] clagom commented on #3604
@ziheliu214 to have a look at this issue and update it

[2021-08-25 14:31] clagom commented on #3923
@lyubomir-popov to add the Figma file to gather feedback from the team.

[2021-08-25 14:38] lyubomir-popov commented on #3923
Benchmarking https://www.figma.com/file/mA8jPxvPpkbKPxXLXZfqL7/Command-link-benchmarking?node-id=2%3A10

[2021-08-25 14:40] clagom commented on #2815
WG: on the link area in Vanilla include this "show-more" option recommending using the command-link: https://vanillaframework.io/docs/patterns/links

[2021-08-25 14:43] clagom commented on #3061
Blocked for this cycle as the issue requires internal product audit and clean-up.

[2021-08-25 14:44] clagom commented on #3376
Blocked for this cycle as the issue requires internal product audit and clean-up.

[2021-08-25 14:48] #2855 closed

[2021-08-25 14:50] clagom commented on #3563
WG: moved to the next cycle as it requires product audit and UX specs afterwards.

[2021-08-25 15:00] #3871 closed

[2021-08-27 03:07] huwshimi opened #3955 "Provide Canonical style title capitalise utility"
Sometimes it is necessary to display dynamic data using the Canonical style title case (uppercase first letter of the first word). Using `text-transform: capitalize` capitalises the first letter of each word.

## Context

When dynamic data needs to be displayed in a title.

## Example

I've implemented this in the following way, but it would be nice as a utility in Vanilla.

[code]

[2021-08-30 07:22] renovate[bot] opened #3959 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency autoprefixer to v10.3.3](../pull/3957)

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-08-31 08:29] #3618 closed

[2021-08-31 08:29] #3753 closed

[2021-08-31 08:30] #3949 closed

[2021-09-01 08:27] #3744 closed

[2021-09-01 08:32] cristinadresch commented on #3955
@huwshimi can you provide an example of when you need to use this?

[2021-09-01 12:09] rayito commented on #3126
From [3800](https://github.com/canonical-web-and-design/vanilla-framework/issues/3800)

After a workshop with @ziheliu214 @bartaz @lyubomir-popov @clagom and @wgx we decided the following:
- The "Label" component (.p-label) is going to be deprecated.
- The "Chip" component will take the place of the labels, with a rework and new styles.
- A new "Badge" component will be included for the simple, nu

[2021-09-01 23:32] huwshimi commented on #3955
In this case the machine type data is returned by the API, I suppose I could create a utility to slice off the first letter, uppercase it and reconstruct the string, but it seems much more convenient to just apply the class...

<img width="555" alt="Screen Shot 2021-09-02 at 9 27 38 am" src="https://user-images.githubusercontent.com/361637/131758520-ec6bdaaf-5468-4364-8678-75b14267e3ca.png">

[2021-09-02 06:56] anthonydillon commented on #3955
There is no question it would be easier and useful to have this utility class to achieve these designs. Providing this utility is not in question but where its used leads too is.

My concern is more philosophical. Should we modify data returned from the API as that is the single source of truth. This could cause confusion when referring to responses from the CLI and the UI. We have had nothing but

[2021-09-02 07:38] huwshimi commented on #3955
Sure, that seems fair. Consider this one unrequested :).

[2021-09-02 07:38] #3955 closed

[2021-09-02 13:23] carkod opened #3966 "Checkboxes' label not aligning when the label is too long"
**Describe the bug**

Checkboxes' label not aligning when the label is too long, it drops to the following line and aligns with the box instead of the text.

**To Reproduce**

Add more text and decrease screen width to see it. E.g.:
![checkbox-alignment-issue](https://user-images.githubusercontent.com/14939793/131851267-f7546f12-74a7-49cf-9ce2-dd8b35bcc315.png)

Source: https://codepen.io/carkod/p

[2021-09-03 13:56] #3885 closed

[2021-09-03 13:56] #3913 closed

[2021-09-06 04:52] huwshimi opened #3970 "Provide dense version of inline notification"
## Pattern to amend

Notification

## Visual

<img width="411" alt="Screen Shot 2021-09-06 at 2 45 22 pm" src="https://user-images.githubusercontent.com/361637/132162133-e363cad2-d36b-4b4e-8724-269a6d384092.png">

## Context

While trying to implement the visual above I first tried the following:

[code]
This had too much spacing above, below and between the icon and the text.

<img width="414" al

[2021-09-06 05:02] huwshimi commented on #3970
Using the following appears to provide the correct spacing:

[code]

[2021-09-06 08:25] lyubomir-popov commented on #3970
Hi Hew, not sure how the non-dense versions were implemented, buyt they are not what the stock notifications look like - here's what it should have looked like, and I'd argue there's no need for a denser version than thihs:

![image](https://user-images.githubusercontent.com/2741678/132184530-a8af8c4d-d74c-4cec-a5d7-c9733467c947.png)

Additional notes:
- the notification design doe not allow for s

[2021-09-06 09:16] huwshimi commented on #3970
Thanks @lyubomir-popov, I should have given a bit more context of the design. This is a card that sometimes has a notification at the top. It has a selected state which gives it that orange left border, here's what the full card looks like in the unselected state:

<img width="414" alt="Screen Shot 2021-09-06 at 7 13 50 pm" src="https://user-images.githubusercontent.com/361637/132192244-8fd19ddd-9

[2021-09-06 12:11] lyubomir-popov commented on #3970
I see. I still don't think a new variant is needed. The problem here arises because you have less spacing vertically between less related elements (notification content, title underneath) than between the coupled title and "yearly" label. I would propose a hr in between, which creates a clearer picture of what belongs where:

![image](https://user-images.githubusercontent.com/2741678/132215535-4d5

[2021-09-06 13:48] sowasred2012 opened #3972 "Help text looks misaligned on checkbox/radio inputs"
On Snapcraft we want to add checkboxes with descriptive help text, like so:
![Screenshot from 2021-09-06 14-44-07.png](https://images.zenhubusercontent.com/5cd93aaf2406d87914830598/07267655-4bef-4914-be29-4c9603f45a32)

At the moment, adding help text below a `p-radio/p-checkbox` looks like:

![Screenshot from 2021-09-06 14-45-21.png](https://images.zenhubusercontent.com/5cd93aaf2406d87914830598/3

[2021-09-06 13:51] bartaz commented on #3972
One week in snapcraft and you already don't know what's happening in Vanilla ;)

Duplicate of #3402

[2021-09-06 13:51] #3972 closed

[2021-09-06 13:54] sowasred2012 commented on #3972
@bartaz haha - I miss you guys!

[2021-09-07 10:25] lyubomir-popov commented on #3970
@anasereijo do you agree with the above? If so we can maybe close this?

[2021-09-07 10:31] bartaz commented on #694
We moved to dart sass for 3.0, we can check if we can use index now.

[2021-09-07 10:39] #3766 closed

[2021-09-07 14:33] #3950 closed

[2021-09-07 16:09] anasereijo commented on #3970
@lyubomir-popov I like your proposal by using the hr, thanks for that. I think we can then close this.

[2021-09-07 16:09] #3970 closed

[2021-09-08 04:28] huwshimi commented on #3970
This actually creates more custom code as it needs to remove padding from the card and reapply it to the child elements (with a wrapping element to apply the correct padding for the notification as it already uses padding to leave space for the icon and another wrapping element to apply padding for the card content after the `<hr>`).

I don't mind which custom code we go with. @anasereijo should I

[2021-09-08 06:48] lyubomir-popov commented on #3970
@huwshimi this pr will make it easier (at least in plan vanilla) to create elements that touch the card's container.  Maybe wai until this is released so you don't have to write local code? https://github.com/canonical-web-and-design/vanilla-framework/pull/3953

[2021-09-08 06:59] huwshimi commented on #3970
Thanks, that definitely looks like it would make things easier. I'll still have to add a wrapping element around the notification to
be able to provide padding on either side:

<img width="434" alt="Screen Shot 2021-09-08 at 4 54 49 pm" src="https://user-images.githubusercontent.com/361637/132461304-0127723a-efa9-4de9-9dad-3df5e7990d84.png">

[2021-09-08 07:23] lyubomir-popov commented on #3970
keep the notificaiton in `.p-card__inner`, then insert an `<hr>` underneath. CC @sowasred2012

[2021-09-08 07:28] huwshimi commented on #3970
But then the hr will get padding on either side...

[2021-09-08 07:30] lyubomir-popov commented on #3970
.p-card__inner applies the padding, not p-card. that's exactly for cases like these.

[2021-09-08 07:37] huwshimi commented on #3970
Ah right, so you're saying have two `p-card_inner`s? So you'd end up with something like this?

[code]

[2021-09-08 07:40] lyubomir-popov commented on #3970
yes, as many as you need. It's just a way to padd things from one side or both (with u-no-padding.. if you need just one side)

[2021-09-08 07:41] huwshimi commented on #3970
Thanks, that sounds good. I'll wait for that release then.

[2021-09-08 08:06] anasereijo commented on #3970
@huwshimi sorry I thought @lyubomir-popov's solution would be something already implemented on vanilla. I was about to suggest keeping it the same, without the hr, but from what I see above you guys already figured it out? Let me know if you need anything else from my side.

[2021-09-08 08:13] huwshimi commented on #3970
Yep sorry a lot of messages, I think I'll be able to do the hr when the next Vanilla release happens.

[2021-09-08 09:15] sowasred2012 commented on #3970
@huwshimi @lyubomir-popov sorry, missed all the action! Yep, the `p-card__inner` PR is merged now, so it'll be available with the next release: 2.36.0.

[2021-09-08 09:25] clagom commented on #3126
Include #3202
@rayito to work on the specs and discuss use-cases in design assembly. @lyubomir-popov to work on the visual

[2021-09-08 09:26] cristinadresch opened #3980 "New badge component"

[2021-09-08 09:29] clagom commented on #3587
@waynecrosby any update on this?

[2021-09-08 14:19] sowasred2012 opened #3974 "Modal/focus trapping docs are vague"
The modal docs currently make it easy to miss the note about containing focus within the modal via JS, might be worth elevating that somehow - @petermakowski was actively looking for guidance around it, it should even be easy for someone who _isn't_ looking for it to find it.

[2021-09-08 14:47] sowasred2012 opened #3975 "Password toggle + readonly attribute makes the password hard to read"
![Screenshot 2021-09-08 at 15.46.31.png](https://images.zenhubusercontent.com/5cd93aaf2406d87914830598/da28d4e1-3381-4107-b1f5-0ea9a775f2f0)

[2021-09-08 17:13] elioqoshi opened #3976 "Add icon components to Figma library"
Added the icon components from Sketch to the Figma library
https://www.figma.com/file/H6MSsN3taoXXOJCPUbIImQ/Design-System-Library?node-id=3%3A117

![image.png](https://images.zenhubusercontent.com/5a5649f54b5806bc2bc23b6d/de118418-3efa-4e10-bcfe-12200cb7a2ff)

Removed some duplicate icons (expand and collapse) and reordered the icons on the file.
@long-chung @lyubomir-popov would appreciate if yo

[2021-09-09 08:18] lyubomir-popov opened #3977 "Figma library: Add side navigation component"

[2021-09-09 08:32] #3976 closed

[2021-09-09 13:13] elioqoshi opened #3978 "Add Segmented controller components to Figma library"
I reconstructed the segmented controller components in a (hopefully) more lightweight way based on the WIP @long-chung did.

You can find it in the Design System Library file under Components in review:
https://www.figma.com/file/H6MSsN3taoXXOJCPUbIImQ/Design-System-Library?node-id=203%3A1887

Link to UX specification:
https://docs.google.com/document/d/1__Ee_7s1jLJdNBEyrA-fUKNHx5Jbxz158IZuWtb6zEA

[2021-09-09 13:29] lyubomir-popov commented on #3978
Is this something we can consult the forums for? It feels like we're creating a very bespoke workflow, and it might be the best so nothing wrong with that. But surely people have come across these issues before and there's a best practice. I'd rather get confirmation this is the one before we start doing this everywhere, as it does add an additional step to set the properties of the inner componen

[2021-09-09 13:43] elioqoshi commented on #3978
I mean it's not set in stone, rather than a design philosophy decision. These vary vastly across design systems. GitLab is still not using instances for example:
https://www.figma.com/file/E6vGCBRPAN7ZctiuBB4VLP/GitLab-Component-Library-Community?node-id=425%3A138

That's also exactly how TailwindUI does it with their own Figma library:
![image.png](https://images.zenhubusercontent.com/5a5649f54b5

[2021-09-09 16:11] lyubomir-popov commented on #3978
@elioqoshi Let's catchup tomorrow to look at these together.

[2021-09-09 17:05] lyubomir-popov commented on #3908
Link to visual:
https://zpl.io/2v8K3B7

[2021-09-10 07:43] #3402 closed

[2021-09-10 07:43] #3966 closed

[2021-09-10 08:59] elioqoshi opened #3979 "Add description and documentation and reorganize text styles"
Currently our text styles seem a bit incoherent in their organization:

 ![image.png](https://images.zenhubusercontent.com/5a5649f54b5806bc2bc23b6d/ea4d4a18-a560-44a5-a337-069799ef7ce6)

i.e:P,  H4 and H5 are not grouped and I am not sure if this encompasses all sorts of text styles we are using in production, there should be more, no?

Also, each text style is missing documentation or a descripti

[2021-09-12 21:15] waynecrosby commented on #3587
@clagom We were going to wait for Spencer and myself to get back from annual leave, but I'll pick this up next week with Lyubo to progress it

[2021-09-13 09:23] long-chung commented on #3978
@elioqoshi Thanks for transferring this over to the main fig file.
There are a few things that need updating before this is ready to go live.

- Tab buttons should be 36px tall as per the spec to align with button heights.
- In the spec under "Questions to ask yourself" it is recommended that we should use no more than 5 segments
- I'm not sure grouping the dense and normal size together as you ha

[2021-09-13 16:50] hatched opened #3981 "Checkbox is positioned incorrectly after upgrading to 2.36"
**Describe the bug**

The checkbox is positioned incorrectly after upgrading to 2.36

**Expected behavior**

The checkboxes should be visible.

**Screenshots**

After upgrading to Vanilla 2.36:
<img width="232" alt="Screen Shot 2021-09-13 at 10 40 13 AM" src="https://user-images.githubusercontent.com/532033/133124052-88e56b4a-847e-43bf-ad3a-414466192e4b.png">

Unchecking this position relative mos

[2021-09-14 06:17] bartaz commented on #3981
@hatched Not sure exactly what's the difference, but in Vanilla itself we have checkboxes in the tables and they work as expected:

https://vanillaframework.io/docs/examples/patterns/forms/tick-comparison

Could you try updating it to `p-checkbox--inline` (which is supposed to be used in contexts like this)? Hopefully that will help with alignment. Or maybe there are some other local styles that a

[2021-09-14 22:21] hatched commented on #3981
Thanks @bartaz that was the trick, it needed the `--inline` added. Looks like I missed that when implementing this.

[2021-09-14 22:21] #3981 closed

[2021-09-15 09:27] #3906 closed

[2021-09-15 15:32] #3926 closed

[2021-09-16 09:09] bartaz commented on #3294
Logo strips (canonical-web-and-design/vanilla-framework#2847) pattern has been introduced for such use cases, inline images are now deprecated, so I think we should not be adding any variants to it.

[2021-09-16 09:09] #3294 closed

[2021-09-16 13:01] lyubomir-popov commented on #3977
@long-chung @elioqoshi the side navigation is ready for review:

https://www.figma.com/file/H6MSsN3taoXXOJCPUbIImQ/Design-System-Library?node-id=187%3A2591

[2021-09-16 13:29] long-chung commented on #3977
@lyubomir-popov Wow really nice work! this was a super complex one. (I feel you).

Couple of minor things
Setting layers "BG" and the main component to "Hugs content" in the resizing parameters would help the component resize when changing its label.
The components don't accommodate multiline. It losses its top and bottom padding as well as the icons being centred to the text.

[2021-09-17 08:27] #3908 closed

[2021-09-17 08:28] cristinadresch commented on #3978
@elioqoshi can you have a look please ^

[2021-09-20 08:27] #3941 closed

[2021-09-20 13:29] sowasred2012 commented on #3872
Marking as blocked, brand are working on navigation changes at the moment.

[2021-09-20 16:52] #3977 closed

[2021-09-20 16:57] lyubomir-popov commented on #3980
@rayito do you think we need more variations than these?
[Uploading... image.png]

[2021-09-21 08:51] bartaz opened #3988 ""Raw HTML" side navigation wraps wrong when there is code in titles"
**Describe the bug**

The side navigation items down work correctly when there is some HTML in the page titles (like `<code>`).
It happens in "Raw HTML" variant, but possibly affects other variants as well.

<img width="277" alt="Screenshot 2021-09-21 at 10 45 03" src="https://user-images.githubusercontent.com/83575/134141510-53a3d737-e295-45e6-a691-5c23285f02a6.png">

code pen: https://codepen.io

[2021-09-21 14:18] cristinadresch opened #3989 "Accordions visual updates with new chevron"
@elioqoshi to add description

[2021-09-21 14:24] danielmutis opened #3990 "New pattern for confirmation bars and summary of changes"
I would like to propose a new pattern to use across products for when a user makes a change and a confirmation is necessary. I used something like this on the release UI of snapcraft.io and also when users make changes to their snap's listing details.

**Collapsed:**
![Screenshot 2021-09-21 at 15.16.00.png](https://images.zenhubusercontent.com/5e1c5367f4dbe2bfe4c77ad8/5e4d4bee-3f23-42ee-ae16-ab037

[2021-09-21 18:59] hatched opened #3992 "Paragraph max width causing odd whitespace in docs"
See: https://vanillaframework.io/docs/patterns/accordion

![Screen Shot 2021-09-21 at 12 57 29 PM](https://user-images.githubusercontent.com/532033/134231364-9bb609da-8327-4d9d-be72-08640632fbce.png)

[2021-09-22 09:05] #2673 closed

[2021-09-22 09:16] clagom commented on #3989
- Follow-up from https://app.zenhub.com/workspaces/-vanilla-squad-59438c953747487777fbe484/issues/canonical-web-and-design/vanilla-squad/968
- Change both states of the icons, from + and - to ▶️ and 🔽
- Double-check sizes of the icons and eventually relations to the headers
- Do we animate the chevrons while opening?

[2021-09-22 09:24] elioqoshi opened #3994 "Update List Tree visual design with chevrons"
Based on https://github.com/canonical-web-and-design/vanilla-squad/issues/968#issuecomment-823104390 we should update the visuals for list trees as well. They are currently using + and -:

https://vanillaframework.io/docs/patterns/list-tree

![image.png](https://images.zenhubusercontent.com/5a5649f54b5806bc2bc23b6d/e38b5585-1bf5-41bf-af30-4b8755ddf8b0)

[2021-09-22 09:27] clagom commented on #3990
- Confirmation drawer/bar pattern?
- Spec out UX use cases
- Panel would be for app-layout?

[2021-09-22 10:45] cristinadresch opened #3995 "Pagination - build"

[2021-09-22 10:54] sowasred2012 opened #3996 "Refactor u-no-margin utility and exceptions"
Related: https://github.com/canonical-web-and-design/vanilla-framework/pull/3991

When adding the new responsive margin collapse utilities, we found the current setup to be quite confusing, particularly when it comes to using the `u-no-margin--bottom` utility. The class extends a placeholder, which contains a number of exceptions for different typographic elements, and each of those elements handl

[2021-09-22 11:23] sowasred2012 opened #3997 "Notification center"
Snapcraft is now using notifications in a notification center, as part of the work @steverydz is doing with React on the admin view, so we should talk about whether we want to add it to Vanilla.

[2021-09-23 08:33] cristinadresch commented on #3997
Check in WG if this notification designs were based on Will's notification designs, and decide if we should implement this in Vanilla.

[2021-09-24 08:30] spencerbygraves commented on #3587
@waynecrosby @lyubomir-popov I can see from the Figma doc that these options pass for Graphical and UI elements, but only one passes for text. Are we sure that this colour change doesn't affect other things that use text, like labels for instance? Thanks.

[2021-09-27 09:31] #3974 closed

[2021-09-27 15:59] elioqoshi commented on #3978
@long-chung Thanks!

- I updated the height to 36px
- Good point. I changed the default component of segmented controls to 5. If someone needs less, they need to remove item and dividers in their instance.

I am not sure what the problem is. The tab item instance is not supposed to be consumed in designs, the item group is meant to be consumed and comes with 2 variants. The final segmented control

[2021-09-27 16:06] elioqoshi commented on #3978
Going into the specs again, it says:

Maybe the max amount of items should be 4 then. @danielmutis do you agree?

Also, I didn't plan for icon support yet, so I will do that before we go ahead with this.

[2021-09-27 16:14] long-chung commented on #3978
@elioqoshi Ah sorry my bad. I didn't notice that you could select default/dense from the component level.
Its when I selected a segment(link) it gave a dropdown for default/dense and only changed that particular segment.

[2021-09-27 16:29] elioqoshi commented on #3978
@long-chung All good! What you said made me think though: Do we even need a dense and default item component? We could have a generic item component and a group component where dense and default is controlled from. There might be no need for 2 flavours within the item component.

[2021-09-27 16:41] elioqoshi commented on #3978
@long-chung I removed the dense item variants now. Density is now controlled within the group component. Also added icon variants to the group for better ergonomics so you don't need to go within the items of an instance to toggle icons on one by one.

I saved the previous version to the Figma version history, just in case, but I think this is better designed now. If you could have another look be

[2021-09-28 07:49] elioqoshi opened #4001 "Update switch toggle component visuals"
I usually tend to avoid visual topics, but figured I should bring this up since several others also mentioned it.

Our switch component (also known as toggles in other design systems) has been rectangular for quite some time now. I am not sure what the reasoning behind that is, but it's clear that with some lightweight benchmarking it's hard to find a similar approach in other design systems.
![im

[2021-09-28 08:04] danielmutis commented on #3978
@elioqoshi the spec is giving only a recommendation, these decisions should stay up to the UX designer who is working on the project. I think maybe we can reduce the maximum to 5, because really a 7 item one would be overkill, but I don't agree with making decisions for the designer through the specs.

[2021-09-28 08:07] elioqoshi commented on #3978
@danielmutis Well, we need to make decisions for the designer in the design system unfortunately. We can keep it at 5 then.

[2021-09-28 08:22] lyubomir-popov commented on #3980
@rayito could you please take a look and let me know whether the above seems ok to you / covers all scenarios we discussed ^

[2021-09-28 08:27] anthonydillon commented on #4001
A little background here (I feel old) is that we used the Unity switcher component when developing the Vanilla one as we wanted to maintain a look and feel better the OS and the website. Of course, this has since changed and been replaced with Gnome which use round switcher:
![Screenshot from 2021-09-28 09-20-39](https://user-images.githubusercontent.com/1413534/135051258-f3d3ceb0-d3f9-4131-b991-d

[2021-09-28 08:59] long-chung commented on #3978
@elioqoshi LGTM. Thanks for sorting.

I removed "type=default" fro each of the components in the "Segmented Control Elements" Variant as it left a dropdown with only 1 value (default).

[2021-09-28 09:03] elioqoshi commented on #3978
Thanks, yeah I missed that!

[2021-09-28 09:03] #3978 closed

[2021-09-28 10:18] sowasred2012 opened #4002 "Investigate ways to add helper JS scripts/modules to Vanilla"
Vanilla has an increasing number of patterns that require Javascript to work (Modal, content tabs, the upcoming search in the navigation etc) - it would be nice to figure out a way to make it easier for Vanilla users to add that functionality, without them needing to manually copy the same code from project to project.

[2021-09-28 15:55] lyubomir-popov commented on #3992
@hatched this is a recurring complaint. It feels tidier if things that happen to sit next to each other have matching widths, and doing that is fine - as long as it doesn't stretch elements beyond what is considered optimal for each element. For text specifically, there's a long-standing typographic best practice of limiting to 12 words or 75 characters (+/-3 words, depending on the situation). Th

[2021-09-28 19:41] hatched commented on #3992
I'm not sure about disregarding cosmetic concerns over a hardline approach to line lengths, especially if it's a recurring complaint 😉. The fact is that it simply doesn't look good when you have paragraph text interspersed with content that's of a wider width. So if we must stick with a character limit in a `p` then maybe we should reduce the full width of that second column as well.

Looking arou

[2021-09-29 08:10] lyubomir-popov commented on #3992
We actually want the content column to bhe wider to accomodate examples that need the space - for example the grid examples. Currently the iframe forces them into mobile mode. We cannot compromise on the needs of different elements to make them match each other's widths. There are other ways to improve how these fit together, like better use of vertical white space between elements, etc - we're go

[2021-09-29 12:28] spencerbygraves commented on #3992
@hatched in this case I think Lyubo is right to say that the text and examples should be separate. We need the width for some examples but we also need a sensible line length for readability.

[2021-09-30 08:31] #3992 closed

[2021-09-30 14:53] bartaz opened #4007 "Focus on modal close button seems broken in Firefox"
Focus outline around close button in modal is also around the title:

![Screenshot 2021-09-30 at 16.50.46.png](https://images.zenhubusercontent.com/593a660851aa2c30578102bb/d9864860-8022-48ad-8a1e-93627fcf6aa2)

It seems fine in Chrome.

[2021-09-30 16:46] lyubomir-popov opened #4008 "Safari header turns orange"
Not sure if this has been set (as described in this [article](https://css-tricks.com/safari-15-new-ui-theme-colors-and-a-css-tricks-cameo/)), or a default, but the colour of the header is too strong for an element with such a large area. I suggest changing it to something more neutral like #f7f7f7 for example.

As reported by @cassiocassio:
![image](https://user-images.githubusercontent.com/274167

[2021-09-30 16:55] lyubomir-popov commented on #4008
Sorry filed in wrong repo, moving.

[2021-10-04 10:09] rayito commented on #3980
Sorry, I didn't get (or see) any notification from the mentions.

The question that comes to me is if we ever want to allow a large and important number to be in a badge. If it's something like notifications, more than 999 is already so wild that nobody cares about the real number; but what about important stuff?

Let's say machines / processes / models / whatever. Having 1.000 or 50.000 might be

[2021-10-04 10:38] lyubomir-popov commented on #3980
50k still fits within th4 4 allotted characters :) Good suggestion though, we should have it in the documentation. I'll put this in the workign group so someone can be assigned to write the documentation. CC @clagom

[2021-10-04 10:39] lyubomir-popov commented on #3980
Adding the WG:validated label as this is now ready for final spec / documentation, the visuals are done.

[2021-10-05 07:42] lyubomir-popov commented on #3980
Closing, the design is on zeplin at the link above. I've illustrated @rayito's suggestions in the mockups.

[2021-10-05 07:42] #3980 closed

[2021-10-05 07:43] lyubomir-popov opened #4011 "Add table heading and small text to text with margin component"

[2021-10-05 07:44] lyubomir-popov commented on #4011
@long please review when you get a chance - https://www.figma.com/file/H6MSsN3taoXXOJCPUbIImQ/Design-System-Library?node-id=93%3A1056

[2021-10-05 07:47] lyubomir-popov opened #4012 "Add tabstrip figma component"
https://www.figma.com/file/H6MSsN3taoXXOJCPUbIImQ/Design-System-Library?node-id=415%3A5232

@long pleaser review when you get a chance.

[2021-10-05 08:38] lyubomir-popov opened #4013 "Chip - enhance to support coloured chips - build"
## Pattern to amend

Chip

## Context
As part of https://github.com/canonical-web-and-design/vanilla-framework/issues/3126 we agreed to deprecate labels and expand chips to cover the functionality currently supported by lables. We agreed to do this as there's no clear distinction between labels and chips, so rather than having two components that overlap, we can have one component. Just opening an

[2021-10-05 08:42] ziheliu214 commented on #3126
@rayito Hi since the visual issue was completed (https://github.com/canonical-web-and-design/vanilla-framework/issues/3980) what's the next step?

@lyubomir-popov and I think its good to have a small documentation to classify "badges" and "chips" following the workshop decision. And some behaviors should be captured e.g. the number badge becomes "K" when its greater than 999 etc

[2021-10-05 09:00] long-chung commented on #4011
@lyubomir-popov because these aren't using any text styles, if you type in some text and then change the text style (component) in the drop down you lose any text that you have written.

[2021-10-05 09:30] lyubomir-popov commented on #4011
Good point, I was wondering why that happens.

[2021-10-05 11:01] lyubomir-popov commented on #4011
Fixed. If you could take another look so I can close this.

[2021-10-05 11:45] long-chung commented on #4011
@lyubomir-popov it doesn't seem to be fixed when I test it by dragging the component on to a board.
I just realised the reason why the text reverts back to its default is because all the placeholder text is different from each other in the variant.
This is happening with every variant that has different text for example "Button with margin" will do the same thing if you change the label and switch

[2021-10-05 12:29] lyubomir-popov commented on #4011
@long-chung you're right, renaming all text objects to "text" fixed it. Thanks for the trouble shooting. Can you take one final look and if it's ok add a design +1

[2021-10-06 08:28] #4011 closed

[2021-10-06 08:48] danielmutis opened #4016 "Summary of changes - Benchmarking of solutions"

[2021-10-06 08:48] danielmutis opened #4017 "Summary of changes - Investigate use cases"

[2021-10-06 08:51] danielmutis opened #4018 "Summary of changes - Spec out component"

[2021-10-06 09:20] lyubomir-popov opened #4019 "Chip - enhance to support coloured chips - spec"
Vanilla 3.0 introduced coloured chips and we need to add that to the spec. Spec should also include a message about chips being clickable and labels not.

[2021-10-06 09:25] elioqoshi opened #4020 "update slider specs in line with new toggle switch specs"
![image.png](https://images.zenhubusercontent.com/5a5649f54b5806bc2bc23b6d/5d069508-f605-435d-be61-706ce86dc65e)

The slider component is using the same visual style as the current toggle switch. Once we update the toggle switch component, we should also update the slider accordingly (#4001)

[2021-10-06 09:28] clagom commented on #3997
@sowasred2012 we don't recall having notification center in the admin view pages, just notification toasts. @wgx wrote the specs for a notification center but it's not implemented in Vanilla yet.

[2021-10-06 09:31] clagom commented on #3659
WG: postponed to next cycle

[2021-10-06 09:34] clagom commented on #3350
WG: @lyubomir-popov to discuss this during Design Assembly to agree on a compromise

[2021-10-06 09:37] wgx commented on #4020
Sliders in Ubuntu desktop (light mode) look like this:

![image.png](https://images.zenhubusercontent.com/5ecce60f6f3d7a74562f9dfe/42aa89ce-889d-48f1-ad17-36521625332b)

[2021-10-06 09:45] #3126 closed

[2021-10-06 09:46] lyubomir-popov commented on #3758
@anthonydillon would it work for you if we apply the default active opacity on a class called is-active?

![image.png](https://images.zenhubusercontent.com/59d2496bb0222d5de479ea17/a065bde9-2607-4039-a76e-ea2e269eed67)

[2021-10-06 10:32] long-chung commented on #4012
@lyubomir-popov found a couple of things in the component that needs fixing.

- Second item in the tab strip component has an underline whereas the others don't.
- Only item 1 and 2 are components, the others are just smart layout layers

[2021-10-06 11:08] lyubomir-popov commented on #4012
@long-chung thanks, fixed - ready for another look

[2021-10-06 11:49] anthonydillon commented on #3758
Yeah sure, what way to show the currently active item. Not sure it's very clear from your image. But something like that.

[2021-10-06 11:59] long-chung commented on #4012
@lyubomir-popov Hey sorry, one last thing. I'd take the grey bar out of the tabs themselves and have it as its own element that spans the full width, as you may only need say 3 tabs but the grey bar won't fill the page width.

[2021-10-06 12:17] lyubomir-popov commented on #3758
Ok, we ca ntake the colours freom the chips, which have the same base colour. The active will be a little darker. This is ready for dev then @bartaz.

[2021-10-06 13:02] long-chung commented on #4012
@lyubomir-popov sure that makes sense

[2021-10-06 13:08] long-chung commented on #4012
@steverydz could you increase the margins between the top and bottom of the diagram, then its good to go. Thanks

[2021-10-06 14:45] lyubomir-popov commented on #3202
This is blocked until the badges component is implemented.

[2021-10-06 15:00] #3752 closed

[2021-10-06 15:24] #3666 closed

[2021-10-07 13:30] cristinadresch commented on #3208
@lyubomir-popov because the build hasnt been done yet

[2021-10-07 13:36] lyubomir-popov commented on #3036
We have a panel shadow in the application layout that solves this.

[2021-10-07 13:36] #3036 closed

[2021-10-07 15:18] lyubomir-popov commented on #3055
Duplicateof #3301

[2021-10-07 15:18] #3055 closed

[2021-10-07 15:20] lyubomir-popov commented on #2706
I volunteered with this but noone has actually requested it, and it was quickly marked as low priority. I'm going to close it since it doesn't seem needed by anyone atm.

[2021-10-07 15:25] lyubomir-popov commented on #3872
This is not in line with the current brand direciton, so I don't think it's worth implementing at this point.

[2021-10-11 08:27] #4012 closed

[2021-10-11 10:12] sowasred2012 opened #4025 "Deprecate .p-article-pagination__link"
The [audit](https://docs.google.com/spreadsheets/d/1dGq05s3THl4rj1dG0jQ4ioNsGIx_6MnozMX_BfFXVfw/edit#gid=0) revealed that this class isn't being used, and it only its variants (--previous and --next) are.

[2021-10-11 10:12] sowasred2012 opened #4026 "Document u-sv utilities"

[2021-10-11 12:45] bartaz opened #4027 "Update docker image used by CircleCI"
CircleCI config that we have for running Percy is using old canonicalwebteam/dev docker image which is no longer maintained and it's starting to cause some dependency issues (mostly around it running node 12).

We should look into updating it to some more recent and maintained image (ubuntu latest?) with node 14.

[2021-10-12 10:06] steverydz opened #4029 "Radio panel pattern UX"
## Visual

<img width="1439" alt="Screenshot 2021-10-12 at 10 58 40" src="https://user-images.githubusercontent.com/501889/136935319-c1e279bd-b29f-4858-a8db-2a5930be33cb.png">

<img width="1429" alt="Screenshot 2021-10-12 at 10 58 47" src="https://user-images.githubusercontent.com/501889/136935332-dee698d1-8eb7-4e31-83f9-35920fdc4084.png">

<img width="1393" alt="Screenshot 2021-10-12 at 10 58 54"

[2021-10-12 12:00] bartaz opened #4031 "Remove default 100% wide mobile buttons"
As a follow-up to discussion in #3991 instead of adding bunch of utilities we decided to remove the root of the problem - wide mobile buttons.

Currently on small mobile screens all buttons get width 100% by default.
We should remove this default and provide it only as opt-in. This will remove (or at least reduce) the need for screen-size specific utilities.

[2021-10-12 15:28] sowasred2012 opened #4032 "Update icon examples with aria-labels"
Follow up to this conversation: https://github.com/canonical-web-and-design/vanilla-framework/pull/4004#discussion_r726979773

In [icon accessibility docs](https://vanillaframework.io/docs/patterns/icons#accessibility), we suggest that the text meant for assistive technology should be between the `<i>` tags, and then we use CSS to place it offscreen for non-assistive tech users. We can achieve the

[2021-10-12 15:34] sowasred2012 opened #4033 "Icon only button examples should include aria-labels"
We have a few examples of buttons that only have icons, and lack any labelling text, such as `aria-label` attributes.

[ARIA live regions](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions) may also be a factor for the two examples below - presumably in the implementation the button contents will change depending on whatever process they represent processing/complet

[2021-10-12 15:43] sowasred2012 opened #4034 "Notification dismiss button height depends on invisible text"
Related to: https://github.com/canonical-web-and-design/vanilla-framework/issues/4033

[The dismiss button on notifications](https://vanillaframework.io/docs/patterns/notification#buttons) could have its descriptive, hidden text sit within an `aria-label` attribute, but the button lacks a set height, so when text is removed, the button moves from its position in the notification:

![Peek 2021-10-1

[2021-10-12 15:53] sowasred2012 commented on #4033
@anthonydillon yeah, we were just talking about this, and is why I've just created a bunch of issues, including https://github.com/canonical-web-and-design/vanilla-framework/issues/4032 which relates to your example in particular - basically, we realised we could achieve what `%vf-hide-text` does using `aria-label` attributes (on the button, in your example), so CSS doesn't have to get involved wh

[2021-10-12 19:49] anthonydillon commented on #4029
Another state would be disabled.

[2021-10-13 11:41] lyubomir-popov opened #4035 "Switch - update visual design"

[2021-10-13 14:49] lyubomir-popov opened #4036 "Switch and slider - visual update"
Link to WIP: https://zpl.io/VDQvOlO

cc @elioqoshi

![image](https://user-images.githubusercontent.com/2741678/137157591-a01540b7-105d-4063-a54e-95fefc02ddfd.png)

[2021-10-13 16:07] sowasred2012 opened #4037 "[Accessibility Docs] Accordion"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Accordion](https://vanillaframework.io/docs/patterns/accordion)

[2021-10-13 16:14] sowasred2012 opened #4038 "[Accessibility Docs] Breadcrumbs"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Breadcrumbs](https://vanillaframework.io/docs/patterns/breadcrumbs)

[2021-10-13 16:15] sowasred2012 opened #4039 "[Accessibility Docs] Buttons"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Buttons](https://vanillframework.io/docs/patterns/buttons)

[2021-10-13 16:15] sowasred2012 opened #4040 "[Accessibility Docs] Cards"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Cards](https://vanillframework.io/docs/patterns/card)

[2021-10-13 16:15] sowasred2012 opened #4041 "[Accessibility Docs] Chips"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Chips](https://vanillframework.io/docs/patterns/chip)

[2021-10-13 16:16] sowasred2012 opened #4042 "[Accessibility Docs] Contextual menu"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Contextual menu](https://vanillframework.io/docs/patterns/contextual-menu)

[2021-10-13 16:17] sowasred2012 opened #4043 "[Accessibility Docs] Grid"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Grid](https://vanillframework.io/docs/patterns/grid)

[2021-10-13 16:17] sowasred2012 opened #4044 "[Accessibility Docs] Heading icon"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Heading icon](https://vanillaframework.io/docs/patterns/heading-icon)

[2021-10-13 16:18] sowasred2012 opened #4045 "[Accessibility Docs] Icons"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Icons](https://vanillframework.io/docs/patterns/icons)

[2021-10-13 16:18] sowasred2012 opened #4046 "[Accessibility Docs] Images"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Images](https://vanillframework.io/docs/patterns/images)

[2021-10-13 16:18] sowasred2012 opened #4047 "[Accessibility Docs] Inline images"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Inline images](https://vanillframework.io/docs/patterns/inline-images)

[2021-10-13 16:19] sowasred2012 opened #4048 "[Accessibility Docs] Labels"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Labels](https://vanillaframework.io/docs/patterns/labels)

[2021-10-13 16:19] sowasred2012 opened #4049 "[Accessibility Docs] Links"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Links](https://vanillframework.io/docs/patterns/links)

[2021-10-13 16:20] sowasred2012 opened #4050 "[Accessibility Docs] List tree"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [List tree](https://vanillframework.io/docs/patterns/list-tree)

[2021-10-13 16:20] sowasred2012 opened #4051 "[Accessibility Docs] Lists"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Lists](https://vanillframework.io/docs/patterns/lists)

[2021-10-13 16:21] sowasred2012 opened #4052 "[Accessibility Docs] Logo section"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Logo section](https://vanillaframework.io/docs/patterns/logo-section)

[2021-10-13 16:21] sowasred2012 opened #4053 "[Accessibility Docs] Matrix"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Matrix](https://vanillframework.io/docs/patterns/matrix)

[2021-10-13 16:21] sowasred2012 opened #4054 "[Accessibility Docs] Media object"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Media object](https://vanillframework.io/docs/patterns/media-object)

[2021-10-13 16:22] sowasred2012 opened #4055 "[Accessibility Docs] Modal"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Modal](https://vanillaframework.io/docs/patterns/modal)

[2021-10-13 16:22] sowasred2012 opened #4056 "[Accessibility Docs] Muted heading"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Muted heading](https://vanillframework.io/docs/patterns/muted-heading)

[2021-10-13 16:23] sowasred2012 opened #4057 "[Accessibility Docs] Navigation"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Navigation](https://vanillframework.io/docs/patterns/navigation)

[2021-10-13 16:23] sowasred2012 opened #4058 "[Accessibility Docs] Notifications"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Notifications](https://vanillaframework.io/docs/patterns/notification)

[2021-10-13 16:24] sowasred2012 opened #4059 "[Accessibility Docs] Pagination"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Pagination](https://vanillaframework.io/docs/patterns/pagination)

[2021-10-13 16:24] sowasred2012 opened #4060 "[Accessibility Docs] Quotes"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Quotes](https://vanillframework.io/docs/patterns/pull-quote)

[2021-10-13 16:25] sowasred2012 opened #4061 "[Accessibility Docs] Search and filter"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Search and filter](https://vanillframework.io/docs/patterns/search-and-filter)

[2021-10-13 16:25] sowasred2012 opened #4062 "[Accessibility Docs] Search box"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Search box](https://vanillframework.io/docs/patterns/search-box)

[2021-10-13 16:26] sowasred2012 opened #4063 "[Accessibility Docs] Slider"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Slider](https://vanillframework.io/docs/patterns/slider)

[2021-10-13 16:26] sowasred2012 opened #4064 "[Accessibility Docs] Strip"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Strip](https://vanillframework.io/docs/patterns/strip)

[2021-10-13 16:26] sowasred2012 opened #4065 "[Accessibility Docs] Switch"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Switch](https://vanillaframework.io/docs/patterns/switch)

[2021-10-13 16:27] sowasred2012 opened #4066 "[Accessibility Docs] Table of contents"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Table of contents](https://vanillframework.io/docs/patterns/table-of-contents)

[2021-10-13 16:27] sowasred2012 opened #4067 "[Accessibility Docs] Tabs"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Tabs](https://vanillframework.io/docs/patterns/tabs)

[2021-10-13 16:28] sowasred2012 opened #4068 "[Accessibility Docs] Tooltips"
Using [this template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit#), create accessibility docs for [Tooltips](https://vanillframework.io/docs/patterns/tooltips)

[2021-10-15 06:49] marinacastejon opened #4071 "Placeholder should not replace label"
Placeholders replacing labels in certain input fields.

In Vanilla there are 2 instances of this:

- [Search and filter component](https://vanillaframework.io/docs/patterns/search-and-filter)
<img width="912" alt="Screenshot 2021-10-15 at 09 17 47" src="https://user-images.githubusercontent.com/83575/137447641-6cf4f734-c531-4f66-bebd-523185763eb8.png">

- [Search box component](https://vanillafram

[2021-10-15 07:20] bartaz commented on #4071
Thanks @marinacastejon, I think we should bring this to Working Group meeting and discuss there. Especially around making Search & Filter more clear, as that's the one that doesn't have the button with search icon.

[2021-10-18 10:00] #4033 closed

[2021-10-18 10:00] #4032 closed, assigned to nobody

[2021-10-18 10:38] spencerbygraves commented on #4036
@lyubomir-popov the design on Zeplin looks good, thanks 👍

[2021-10-18 10:59] petesfrench opened #4074 "Nested ordered list where the primary section is always visible, x.1, x.2..."
Currently an ordered list will appear as follows:
![image](https://user-images.githubusercontent.com/58276363/137718703-c1765fcd-dbd1-4a84-915c-944b8b71e401.png)

There is a use case, mostly within /legal, to allow lists with the 'section' and 'item' number on each item, for example:
1. Section 1
  1.1. item 1
  1.2. item 2
2. Section 2
  2.1. item 1
  2.2. item 2

## Context

Any nested list wher

[2021-10-19 14:07] marinacastejon opened #4076 "Amending Search and filter behaviour"
## Pattern to amend
Amendment proposal regarding the behaviour of the Search and filter component when the user removes the filter. Currently the panel opens.

## Visual
![137158310-2f78b7f3-51da-4c39-bf13-99c6e822b428.gif](https://images.zenhubusercontent.com/61309e789df65d8124887eac/edc79b4f-944b-4705-8b92-f295f06e8db3)

## Context

[See this issue](https://app.zenhub.com/workspaces/-vanilla-squ

[2021-10-20 09:36] clagom commented on #4076
- The current implementation of the component didn't take into consideration the UX specs: https://discourse.ubuntu.com/t/behaviour-delete-a-filter-chip/21546
In particular:
- The input field should include chips (currently in a different container, separated from the input field)
- Users should be able to use backspace to remove chips (currently is not possible because of the separation of the el

[2021-10-20 11:20] #4076 closed, assigned to nobody

[2021-10-21 08:28] #4036 closed

[2021-10-21 08:28] cristinadresch opened #4080 "Switch and slider - build"
Working group issue: https://app.zenhub.com/workspaces/-design-system-tribe-59438c953747487777fbe484/issues/canonical-web-and-design/vanilla-framework/4001

Designs: https://app.zenhub.com/workspaces/-design-system-tribe-59438c953747487777fbe484/issues/canonical-web-and-design/vanilla-framework/4036

[2021-10-21 09:11] bartaz opened #4081 "Refactor media query breakpoints"
We noticed some inconsistencies in how media query breakpoints are handled in Vanilla.

We want to review and fix it for 3.0 release.

This involves:

- moving 6-12 grid threshold from "medium" breakpoint to "large" breakpoint
- making sure all --small --medium --large utilities are consistent in the ranges they cover
- getting rid of redundant or unnecessary breakpoints
- reviewing and adjusting

[2021-10-21 12:12] bartaz opened #4082 "Update responsive components to consistent size ranges"

[2021-10-21 12:13] bartaz opened #4083 "Remove medium breakpoint"

[2021-10-21 12:14] bartaz opened #4084 "Audit existing use of breakpoints in components"

[2021-10-21 12:14] bartaz opened #4085 "Update components to consistent breakpoints"

[2021-10-22 11:45] sowasred2012 opened #4087 "Blog post draft and plan to support release/upgrading"
- Upgrade guide (checklist)
- Upgrade guide (troubleshooting i.e. "Why is my navigation broken?")
- Dropping IE
- Breakpoints
- etc etc

[2021-10-22 13:21] #4038 closed, assigned to sowasred2012, bethcollins92

[2021-10-25 08:46] bartaz opened #4090 "Introduce coloured versions of chips"
To be able to remove "p-label" component from 3.0 we need to update chip component to support the coloured versions.

This issue requires visual design (proposed colors of the chips) and building it as amendment of the chip pattern.

[2021-10-26 06:27] #4025 closed, assigned to sowasred2012

[2021-10-26 06:59] bartaz opened #4095 "Add spacing variable mapping to 3.0 upgrade guide"
In 3.0 spacing variables have been refactored and renamed.

We need to add mapping between old variable names to new ones in the upgrade guide, so devs know how to rename variables when build fails.

[2021-10-26 16:31] sowasred2012 opened #4098 "Update contribute page for new cycle"
This will need to be updated for next cycle: https://vanillaframework.io/contribute

😭 😭 😭 😭 😭 😭 😭 😭 😭 😭 😭 😭 😭 😭 😭 😭 😭 😭 😭 😭 😭 😭

[2021-10-27 09:21] #4084 closed, assigned to bartaz

[2021-10-27 13:40] anthonydillon opened #4100 "Create example of a grouped table row"
## Pattern to amend
Table

## Visual
![image](https://user-images.githubusercontent.com/1413534/139076786-c34519ca-943a-4055-a554-8534e7ed2436.png)
_Can be found here: https://ubuntu.com/cpu-compatibility_

## Context
We often want to group the some roles in the table around a common column (I assume the first one). We can solve this with `span-row` but then needs some border styling on the table.

[2021-10-27 14:35] #4031 closed, assigned to sowasred2012

[2021-10-27 14:51] sowasred2012 opened #4102 "Table heading row and accordion button heights are out by 1px"
Found while trying to document the `u-sv` classes - from what I understand, each of these elements should be 40px in height, but currently there are 1px differences in the table row header and the accordion button:

Table heading (41px height)
![Screenshot from 2021-10-27 15-47-01.png](https://images.zenhubusercontent.com/5cd93aaf2406d87914830598/ea2760aa-64f8-459d-9de0-65a101f71c68)

Table row (4

[2021-10-27 16:32] anthonydillon opened #4103 "Table mobile card varient extra border on mid-breakpoint"
**Describe the bug**
On a medium view point the is an unexpected border top on the mobile card parrten.

**To Reproduce**
1. Go to https://vanillaframework.io/docs/examples/patterns/tables/table-mobile-card
2. Reduce the screen to 430px
3. See that there is an extra border at the top of the wrapping cell

**Expected behavior**
There should be no extra border on a wrapping cell at that breakpoint.

[2021-10-28 07:30] bartaz opened #4104 "Investigate adding inline form labels in 3.0"
Labels in Vanilla are block. With removal of base checkboxes this causes a problem that native browser checkboxes can't easily be used with Vanilla labels.

We could explore making Vanilla labels inline (or inline-block) by default to make it easier, but should verify what impact it will have on forms.

Initial exploration PR: https://github.com/canonical-web-and-design/vanilla-framework/pull/4073

[2021-11-01 09:21] #4026 closed

[2021-11-01 09:28] #4095 closed

[2021-11-01 10:07] #4082 closed

[2021-11-01 17:52] lyubomir-popov commented on #4090
Design ready for review:

https://www.figma.com/file/H6MSsN3taoXXOJCPUbIImQ/Design-System-Library?node-id=487%3A5089

![image](https://user-images.githubusercontent.com/2741678/139717285-f0e8e94a-9416-47ce-b818-7b1994b8e656.png)

[2021-11-02 06:56] bartaz commented on #4090
@lyubomir-popov Are grey chips affected by the change? Can you also show coloured ones with dismiss? Can chip have both a badge and dismiss button?

[2021-11-02 09:23] lyubomir-popov commented on #4090
good questions, will add these to the examples.

[2021-11-02 11:17] spencerbygraves commented on #4090
@lyubomir-popov I think this is fine with the update to the red badge in an orange chip, as discussed earlier. Thanks.

[2021-11-02 16:00] sowasred2012 opened #4112 "Switch pattern refactor"
This was noticed in a separate PR: https://github.com/canonical-web-and-design/vanilla-framework/pull/4110#pullrequestreview-795573227

[2021-11-03 07:10] #4104 closed

[2021-11-03 09:28] #4090 closed

[2021-11-03 10:22] clagom commented on #4074
WG: issue validated, can go to build directly

[2021-11-03 10:28] danielmutis commented on #4017
For reference: https://ubuntu.com/advantage/subscribe

[2021-11-03 10:38] clagom commented on #4071
WG: double check if for screen readers this is well implemented. CC @bartaz

[2021-11-03 10:49] clagom commented on #3202
WG: this component is now called "badge" and has been approved and ready to build https://app.zenhub.com/workspaces/-vanilla-squad-59438c953747487777fbe484/issues/canonical-web-and-design/vanilla-framework/4013

[2021-11-03 10:49] #3202 closed

[2021-11-03 10:50] marinacastejon commented on #4071
Blocked until checked with users with cognitive disabilities. I'll try to find participants in Canonical for the research on the hiring dashboards.

[2021-11-03 10:54] clagom commented on #3997
@AnnSoMuller @steverydz could you clarify what "notification centre" we are talking about? WG recalls having just notification toasts in the admin view pages, not a notification centre.

[2021-11-03 10:56] clagom commented on #4020
Build issue here: https://app.zenhub.com/workspace/o/canonical-web-and-design/vanilla-framework/issues/4080

[2021-11-03 10:56] #4020 closed

[2021-11-03 11:03] bartaz commented on #4013
UX/Visual issue: https://app.zenhub.com/workspaces/-vanilla-squad-59438c953747487777fbe484/issues/canonical-web-and-design/vanilla-framework/4090

[2021-11-03 11:53] lyubomir-popov commented on #4100
The row borders are important, they prevent cell contents from appearing vertically grouped from a visual point of view. We actually have a solution for this in the modular table spec under the grouping scenario: https://ubuntucommunity.s3.dualstack.us-east-2.amazonaws.com/original/2X/f/f7acb578236f7ec0b6b4053d8f4ba827b856cfcc.png https://discourse.ubuntu.com/t/grouping/19857

[2021-11-03 14:45] bartaz opened #4115 "Vanilla website updates for 3.0 release"
We need to make sure Vanilla site is up to date with 3.0 release.

- [x] Make sure home page is up to date
   - [x] mention sketch is compatible with vanilla 2.25.0
   - [x] Install instructions on home page - use just yarn add sass.... and import and include statements
- [x] Remove Slack or any other irrelevant information
- [x] Update Contributors page with new squad members - [Done](https://git

[2021-11-04 15:20] #4112 closed

[2021-11-04 15:36] #3903 closed

[2021-11-08 15:03] anthonydillon opened #4121 "Local modification to the docs navigation on Juju"
**Describe the bug**
When visiting the [Juju docs](https://juju.is/docs) the side navigation is overflow hidden. Which is [locally styled](https://github.com/canonical-web-and-design/juju.is/blob/7af548bbeff3426e7a38f155efbd2087c1c97fa2/static/sass/styles.scss#L233) and different from a lot of other docs.

Is there a rule here or a better way to keep them consistent?

[2021-11-08 15:10] #4098 closed, assigned to sowasred2012

[2021-11-08 15:30] bartaz commented on #4121
It seems that some of that local styling has something to do with their sticky top navigation.

First, I think they are missing `is-sticky` class name on their side navigation component, because from all other local styling it looks like they want it sticky.
The rest of they local styles seems to adjust for the fact that top navigation is sticky as well, so side nav needs to stay below it.

[2021-11-08 15:32] bartaz commented on #4121
Maybe they implemented it before sticky side-navigation was removed as default and moved to variant: https://vanillaframework.io/docs/patterns/navigation#sticky

[2021-11-08 21:12] anthonydillon commented on #4121
That was my thinking. So if the guidance is that all docs should follow the docs layout. I'll file an issue to remove/update inconsistencies on the other projects.

@steverydz do you have background on these local styles?

[2021-11-09 09:35] steverydz commented on #4121
I wasn't involved in the juju.is docs but my guess would be that @bartaz is right, and it was implemented prior to the vanilla pattern.

[2021-11-11 15:02] bartaz opened #4122 "Side navigation collapse/expand sections - build"
UX design issue:
https://github.com/canonical-web-and-design/vanilla-framework/issues/3817#issuecomment-893271621

Visual design issue:
https://github.com/canonical-web-and-design/vanilla-framework/issues/3908

[2021-11-12 11:11] #4081 closed

[2021-11-12 11:15] #3838 closed

[2021-11-15 17:38] lyubomir-popov commented on #4013
Proposed shades for the different states. These are fiddly to recreate with formulas as they have different initial darkness (the warning colour has to be 2% darker than the rest to appear visually similar), so probably easier to just hardcode them than trying to account for those differences with code calculations. What do you think @bartaz ?

![image](https://user-images.githubusercontent.com/27

[2021-11-16 07:00] bartaz commented on #4121
Reported as a bug in juju.is: https://github.com/canonical-web-and-design/juju.is/issues/363

Closing this one.

[2021-11-16 07:00] #4121 closed

[2021-11-16 07:06] bartaz commented on #4013
@lyubomir-popov As for now they only need to work on this limited set of colors, so I don't mind hardcoding the values if needed.

For the chips states themselves - what do these 3 lines show? normal, hover, active (from top to bottom?). The changes are very subtle, I don't think I see the difference between line 1 and 2 at all, and 3 only seems slightly darker. But maybe when it's interactive and

[2021-11-16 07:45] elioqoshi opened #4123 "Accordion UX specs"
Based on outcome from https://github.com/canonical-web-and-design/vanilla-squad/issues/968 and #3989

[2021-11-16 07:50] elioqoshi commented on #4037
@bartaz Should we make this part of the UX specs work in the WG since this needs to be done anyway? https://github.com/canonical-web-and-design/vanilla-framework/issues/4123

[2021-11-16 08:42] bartaz commented on #4037
@elioqoshi We could, but an important part of these docs is related to implementation (what types of elements to use, what `aria-` attributes to use on them, what features JS needs to provide). Do we expect UX people to write those as well?

[2021-11-16 09:18] lyubomir-popov commented on #4013
@bartaz let's see how it is when you niteract and  I can adjust. We're daerkening by 2 % no hover, and another 4% on top of that on active, I think it will look subtle but noticeable. This is based on benchmarking I did when I did the new blue exploration.

I think they should be focusable - currently only the dismiss inside is. @sowasred2012 any accessibility considerations arund that?

[2021-11-16 09:21] sowasred2012 commented on #4037
Ideally, UX and dev should both be involved in writing these, or at least if a dev creates the PR, it should be reviewed by a UXer (and vice versa) - one discipline may have considerations that wouldn't occur to the other.

[2021-11-17 10:48] spencerbygraves commented on #4013
@lyubomir-popov the difference is quite subtle, but happy to look when built as mentioned above.

[2021-11-17 11:18] elioqoshi commented on #4019
@rayito to work with @lyubomir-popov for the specs. Let us know if you need anything WG-wise!

[2021-11-18 08:49] bethcollins92 opened #4126 "Prepare Cypress masterclass"

[2021-11-18 09:42] lyubomir-popov opened #4127 "Logo sections: process logos"
## Summary
We need to resize all logos used on ubuntu.com so the site can upgrade to Vanilla 3.0.

## Team
Lyubo, Long

## Resources
List of all logos on ubuntu.com:
https://github.com/canonical-web-and-design/ubuntu.com/issues/10535

Link to Figma:
https://www.figma.com/file/JiTqU8abmf1Lc5TXb68JrI/Brand-Logos?node-id=0%3A1

## Quesitons
What about other sites? Do we want to run the same exercise

[2021-11-18 09:44] lyubomir-popov opened #4128 "Ubuntu.com new navigation"

[2021-11-18 09:46] long-chung opened #4129 "Brand logos - Resize & create components in Figma"
Link to [Figma](https://www.figma.com/file/JiTqU8abmf1Lc5TXb68JrI/Brand-Logos?node-id=0%3A1)

[2021-11-18 09:46] lyubomir-popov opened #4130 "Ubuntu.com navigaiton iteration 7: Update mobile nav to match latest desktop designs"

[2021-11-18 10:44] bartaz opened #4131 "A11Y: Mobile card variant of table misuses aria-label"
In mobile card table pattern we use `aria-label` to show column headers in mobile view. This causes screen reader to only read column title and completely skip cell value.

We should not use `aria-label` this way.

[2021-11-18 10:48] bartaz opened #4132 "A11Y: Improve accessibility of form examples"
In our form examples we should correctly mark inputs as required when the label says it's required.

We could also use `aria-describedby` with form validation messages to better describe inputs.

We could also try to find a way to hide * from required fields from screen reader (but this is done in CSS so may need some research).

[2021-11-18 10:50] bartaz opened #4133 "A11Y: Review and fix landmarks on Vanilla site and docs"
We should review our use of landmarks (header, navigation, main, etc) on Vanilla site and in docs, we should make sure all landmarks are correctly labeled and ideally the names should not contain the type of landmark. For example "Main navigation" is being read as "Main navigation, navigation".

[2021-11-18 10:52] bartaz opened #4134 "A11Y: Side navigation is focusable when off-screen"
Side navigation (in docs layout) on small screen gets moved off screen and can be toggled back to view.
But even off screen when using tab to move focus, or screen reader, it is accessible and may be confusing.

We should make sure it's either completely hidden (not focusable), or gets into view when focused via keyboard.

[2021-11-18 15:10] #3915 closed

[2021-11-19 16:51] long-chung commented on #4129
@lyubomir-popov Ready for a review when you get a chance. Thanks.
https://www.figma.com/file/JiTqU8abmf1Lc5TXb68JrI/Brand-Logos?node-id=0%3A1

[2021-11-20 23:30] hatched opened #4136 "Application layout documentation missing Import section"
**Describe the bug**

There are no instructions on what needs to be imported/included to use the application layout

**To Reproduce**

Go here https://vanillaframework.io/docs/layouts/application

**Expected behavior**

The documentation should have instructions on how to use the layout.

[2021-11-22 09:14] #4126 closed

[2021-11-22 11:01] bartaz commented on #4132
Fixed by #4125 #4135

[2021-11-22 11:01] #4132 closed

[2021-11-23 07:16] #4013 closed

[2021-11-23 09:28] #4129 closed

[2021-11-23 09:32] cristinadresch opened #4137 "Decide workflow for replacing the current logo"

[2021-11-23 09:32] cristinadresch opened #4138 "Refining the logos"

[2021-11-23 09:51] long-chung opened #4139 "Button component - Figma library"

[2021-11-23 09:57] bartaz opened #4140 "Replace label component with colored chips"
In 3.0 we introduce colored chips component, they replace label component.

We need to remove label component and document updating from it to chips.

[2021-11-23 11:45] elioqoshi commented on #4001
@lyubomir-popov I think we can close this, right?

[2021-11-23 12:02] elioqoshi commented on #4139
@long-chung are you sure this is a 2? Seems a bit more complex.

Also, should we only have the option to have buttons with margins or also without?

[2021-11-23 12:05] long-chung commented on #4139
@elioqoshi in terms of level of effort 2 is about right. Mostly copy and pasting.

What other option of buttons should there be?

[2021-11-23 12:20] elioqoshi commented on #4139
@long-chung I mean whether we want to allow users to have the button without a bounding box that goes beyond the button itself.

<img width="545" alt="image" src="https://user-images.githubusercontent.com/5436686/143023057-ed5d4c45-612d-4ddb-bcae-7b14fc01c2c6.png">

[2021-11-23 12:25] long-chung commented on #4139
@elioqoshi Yes I agree... However I think having 3 variations of margin for the same button is going to be super confusing for the end user.
So the question is do we need a button/s with predefined margins @lyubomir-popov

[2021-11-23 12:31] elioqoshi commented on #4139
I think it's rather a question of 1. whether it makes maintaining the library harder for us and 2. offering too many options creates space for more errors (however we might want to balance that with the fact that if designers get frustrated with component instances, they will end up detaching them and that's worse I think).

For what's worth, one could remove the margins manually in the instance's

[2021-11-23 14:35] long-chung commented on #4139
Ready for review. Thanks

[2021-11-23 14:49] long-chung opened #4144 "Breadcrumb component - Figma library"

[2021-11-23 14:53] elioqoshi commented on #4139
Thanks @long-chung. Generally looks good to me. There is some property artifact `¬` in the icon-right property which I removed, it was like this before:

<img width="365" alt="image" src="https://user-images.githubusercontent.com/5436686/143046489-513ef71d-b063-4e62-8d4d-8b994629bb88.png">

I also changed the Type property values to not mention `button` as that's redundant.

Generally I am not sur

[2021-11-23 14:58] long-chung commented on #4139
Thanks @elioqoshi. I'm not sure what's happening with the character ¬ in the name. I noticed it and removed them; it seems to be coming back. Perhaps a bug, or the names are too long?

[2021-11-23 15:01] elioqoshi commented on #4139
@long-chung I don't know, I removed it in the variants panel and it seems fine now.

[2021-11-23 15:31] long-chung commented on #4144
Ready for review please.

Link to Figma component
https://www.figma.com/file/H6MSsN3taoXXOJCPUbIImQ/Design-System-Library?node-id=667%3A7578

[2021-11-23 15:43] elioqoshi opened #4145 "Audit and tweak text styles - Figma library"

[2021-11-23 15:51] long-chung opened #4146 "Pagination component - Figma library"

[2021-11-24 10:28] long-chung commented on #4146
Ready for review.

Link to Figma component
https://www.figma.com/file/H6MSsN3taoXXOJCPUbIImQ/Design-System-Library?node-id=673%3A7714

[2021-11-24 10:29] long-chung opened #4148 "Matrix component - Figma library"

[2021-11-24 10:34] elioqoshi commented on #4144
@long-chung looks good to me, thanks! Might have been a bit easier to use if the arrows and text are in separate layers so people can update the text easily without deselecting the arrow ascii character.

![image.png](https://images.zenhubusercontent.com/5a5649f54b5806bc2bc23b6d/63802acf-3488-4760-89ea-5282674430f3)

Is there a deliberate choice for this?

[2021-11-24 10:39] long-chung commented on #4144
Thanks @elioqoshi. I've changed the component so now the arrow is in a separate layer.

[2021-11-24 10:51] elioqoshi commented on #4144
@long-chung Thanks. I went the extra mile and locked the arrows so anyone using this doesn't need to delete the arrows as they are in separate layers now. I put them under another auto layout and locked the arrows, so when deleting a link, it deletes both link and arrow while not allowing the user to select the arrow which is redundant.

<img width="301" alt="image" src="https://user-images.github

[2021-11-24 10:59] long-chung commented on #4144
@elioqoshi LGTM

[2021-11-24 11:12] elioqoshi commented on #4144
Published!

[2021-11-24 11:12] #4144 closed

[2021-11-24 11:20] elioqoshi commented on #4146
@long-chung thanks. Changed the pagination group property to `Is truncated` for consistency with other components. I will try to add also some description to the variants as well.

Not very familiar with this component but when truncated, the active page number will always be the middle one, so tweaked that in the component variant.

@lyubomir-popov maybe a design review to be sure?

[2021-11-24 14:59] long-chung commented on #4148
Ready for review

[2021-11-24 15:00] long-chung opened #4150 "Heading icon component - Figma library"

[2021-11-24 15:56] elioqoshi commented on #4148
@long-chung Works great! The descriptions were missing so I added them. Is there any scenario when there can be more than 9 items displayed? @bartaz maybe knows? Do we need to cater for that? I only see 9 items in the examples on Vanilla.

[2021-11-24 15:59] long-chung commented on #4148
Thanks for reviewing and adding the descriptions @elioqoshi

[2021-11-24 17:04] elioqoshi commented on #4148
@long-chung as @lyubomir-popov pointed out, there are instances where we use more than 9 instances (e.g 12 on MAAS.io)

Should we eventually allow for 15 items as part of the component and allow people to delete rows and items they do noit need?

Also, is it currently possible to use the component with 3 items only? I had some trouble with a redundant divider in that case.

[2021-11-25 08:07] bartaz commented on #4148
It seems from code point of view it works well with multiplications of 3 items, so 3, 6, 9, 12, etc would work well.

[2021-11-25 09:04] elioqoshi opened #4151 "Tab strip and tab content components - Figma library"

[2021-11-25 09:23] long-chung commented on #4151
@elioqoshi looks great and works well.

Just a couple of things:
There is a parameter "is empty" that only has one value. What does this do and do we need it?
I don't see the need for tabs/content? as there are a number of different components that could go in this content area and would be hard to control without making everything a component in order to put it i this placeholder.

[2021-11-25 09:25] long-chung commented on #4148
@elioqoshi Having 15 items will create a really long module on mobile. Is this something we want?
The stray divider line can be hidden if not needed.

[2021-11-25 09:44] long-chung commented on #4148
@elioqoshi I've added 15 items. Let me know if this os ok or if it feels too heavy on mobile. Thanks

[2021-11-25 09:48] elioqoshi commented on #4148
@long-chung Thanks! Oh definitely it's too heavy and I'd discourage anyone to use more than 9, though we had this discussion in Design Assembly one day that we should let designers do these decisions themselves and be flexible in the Figma library.

This is good to go now I think.

[2021-11-25 09:48] #4148 closed

[2021-11-25 10:04] long-chung commented on #4150
Ready or review.

Link to Figma component:
https://www.figma.com/file/H6MSsN3taoXXOJCPUbIImQ/Design-System-Library?node-id=680%3A16683

[2021-11-25 10:10] elioqoshi commented on #4151
@long-chung Cool, thanks.

I removed the 'is empty' property, It was a remain from the former component.

You might be right for the tabs/content. I added it as we have it in Vanilla and wanted to mirror it: https://vanillaframework.io/docs/examples/patterns/tabs/content

Though in Figma one would not build it up that way. I will get rid of it then. Will add descriptions and publish then if it's g

[2021-11-25 10:11] long-chung opened #4152 "Modal component - Figma library"

[2021-11-25 10:27] elioqoshi commented on #4150
@long-chung looks good to me! Just added a description to each variant. We can publish this and close this issue.

[2021-11-25 10:27] #4150 closed

[2021-11-25 13:51] long-chung commented on #4152
Ready for review

Link to Figma component:
https://www.figma.com/file/H6MSsN3taoXXOJCPUbIImQ/Design-System-Library?node-id=692%3A9482

[2021-11-25 13:53] long-chung opened #4153 "list component - Figma library"

[2021-11-26 07:24] elioqoshi commented on #4151
Published, closing this.

[2021-11-26 07:24] #4151 closed

[2021-11-26 08:48] elioqoshi commented on #4152
@long-chung Thanks!

I don't see a reason for having an item component for this. The modal building blocks could be already included in the final component, no?

What about content? We should either offer a content section paragraph or a content placeholder instance (maybe both as variants?)

Might need some more tweaks I think (of course @lyubomir-popov and me should take this on from here on)

[2021-11-26 08:54] elioqoshi commented on #4146
I added descriptions and removed duplicate truncation elements (no need for truncation states for hover or active). Published as well.

[2021-11-26 08:54] #4146 closed

[2021-11-26 10:34] #4130 closed

[2021-11-26 10:38] #4139 closed

[2021-11-26 11:47] long-chung commented on #4153
Ready for review. (My last PR 🥺😭)

I haven't grouped these in to one big group because there are so many different types of lists with their own parameters. So i'll leave it up to you folks to work out the best course of action on how these should/shouldn't be grouped.

Thanks.

[2021-11-26 12:01] elioqoshi opened #4155 "Document Working Group (WG) process on webteam practices website"
With various changes with patterns, components classification, accessibility considerations and Figma components, we should update our practices for the WG to have a single place we can refer to when engaged in WG items.

[2021-11-26 12:02] elioqoshi commented on #4155
@clagom @cristinadresch something we could consider during the WG meeting?

[2021-11-26 12:43] elioqoshi commented on #4153
Thanks so much @long-chung! @lyubomir-popov and me will probably go over this next week to see what's the best approach to take.

[2021-11-26 12:44] elioqoshi opened #4156 "Card component - Figma Library"

[2021-11-26 12:47] elioqoshi opened #4157 "Create WIP documentation content for WG process"

[2021-11-26 16:17] bartaz opened #4158 "Dark theme for chips"
Some minimal adjustments  are needed for chips on dark backgrounds (borders only, so they meet contrast ratio requirements against `#333` and similar backgrounds like the jaas one)

![image](https://user-images.githubusercontent.com/2741678/143604837-a759d785-a952-4222-98de-9bfc86a9a61b.png)

[2021-11-29 10:17] elioqoshi commented on #4153
@lyubomir-popov structure I am suggesting:

![image.png](https://images.zenhubusercontent.com/5a5649f54b5806bc2bc23b6d/ed4e0a26-4619-4baa-925b-9f552da0aff9)

[2021-11-29 12:06] elioqoshi commented on #4152
@lyubomir-popov I redesigned the modal with content placeholder options as well as making them scrollable in prototyping mode: Could you stress test them? https://www.figma.com/file/H6MSsN3taoXXOJCPUbIImQ/Design-System-Library?node-id=734%3A11299

[2021-11-29 12:18] lyubomir-popov opened #4159 "Expose $text-max-width as a class"
Somethign we used to have but under a confusing high-brow name (.measure--p). It would be very useful, for example to make a list that contains text only as wide as a paragraph. (Lists don't have a max-width as anything could be implemented as a list, there's no way of knowing if it is going to contain text only at framework level). My proposal: `.u-text-max-width`.

[2021-11-29 12:42] lyubomir-popov commented on #4152
Wrapping needs work:
![Uploading image.png…]()

[2021-11-29 14:59] bethcollins92 commented on #4158
@lyubo Should I add a new `$colors-dark-theme--tinted-borders:` or change the existing borders to the ones suggested above?

[2021-11-29 15:49] lyubomir-popov commented on #4158
@bethcollins92
add a new one

[2021-11-29 17:56] anthonydillon commented on #4159
What is the use case for this?

[2021-11-29 17:58] elioqoshi commented on #4152
@lyubomir-popov should have addressed these, can you re-review?

[2021-11-30 07:20] bartaz commented on #4159
I'm also not sure what it is solving - if we want lists (`<ul>`, `<ol>`) to have max width same as paragraphs shouldn't they have it by default? To make sure they are consistent and work whenever they are used (for example in docs from discourse, where class can't be added).

Sure, we use lists a lot in components (for navigation, etc), but in component we can easily remove the max-width, because

[2021-11-30 08:55] lyubomir-popov commented on #4159
The use case is to be able to make anything match the size of text. e.g. Images, code snippets, lists.

@bartaz If we did that navs and all sorts of other things that use the ul markup would get max-width. This was how I originally did it, but we had to revert.

[2021-11-30 09:16] lyubomir-popov commented on #4159
Thinking some more about it, the framework is in a much better state now than it was at v 1.6 - so maybe we can try setting it as default to `ul`s and `ol`s again?

Regardless I think it is still very usefull to be able to apply a max-width to other elements like code snippets or images - not by default, but when those elements are single instances and appear to depart from the overall layout for

[2021-11-30 09:28] bartaz commented on #4159
Yes, it would be good if we could try adding it by default and remove in components that use lists.

As for the usefulness of the utility - sure, it seems we can find use cases for it, but it seems that it would be most useful in places where we can't add class name - discourse docs.

For example: https://snapcraft.io/docs - should the tables have limited max-width here? Should the notification on

[2021-11-30 09:50] bethcollins92 opened #4161 "Default fixed max-width on ul/ol"
## Pattern to amend

- ul/ol
- See Lyubo's [comment](https://github.com/canonical-web-and-design/vanilla-framework/pull/4160#issuecomment-982430976) about adding the `$text-max-width` as default to lists
- Can we try and see if anything breaks setting the max width on lists as default? This will ensure the text in lists always wraps the same as paragraphs but could potentially break lists containi

[2021-11-30 10:33] lyubomir-popov commented on #4159
Well we did have it before under a different name - `.measure--p`. So technically it's just giving it a more user friendly name.

[2021-11-30 12:18] lyubomir-popov commented on #4158
@bethcollins92 Update on the colours:

fill-positive: rgba(14, 134, 32, .5)
fill-caution: rgba(199, 89, 0, .5)
fill-negative: rgba(199, 22, 43, .5)
fill-information: rgba(9, 89, 170, .5)
fill-neutral: rgba(255, 255, 255, .15)

border-positive: #33CC4A
border-caution: #F9A11F
border-caution: #F87E8D
border-neutral: #999
border-information: #3896F5

We'll need to be careful when we create states for

[2021-11-30 15:37] petermakowski opened #4162 "Mobile card labels have negative margin when $multi is 1"
## Describe the bug

`v2.37.1`
When `$multi` is `1`, the bottom margin of the `::before` element in responsive table pattern on mobile has a negative value of `-0.25rem` (selector: `.p-table--mobile-card td[aria-label]::before`)

## Screenshots
### Actual
![image](https://user-images.githubusercontent.com/7452681/144077543-5500fd75-d1b1-4ed6-b3f1-dcb2d4144f9a.png)

### Expected:
I'd expect the `bo

[2021-11-30 15:47] petermakowski opened #4163 "Using responsive and expanding table variant overwrites margins on mobile"
## Describe the bug

If you use `.p-table--expanding` in combination with `.p-table--mobile-card` the margin values on mobile are overwritten by `.p-table--expanding` values.

## To Reproduce

Steps to reproduce the behavior:

1. Go to responsive table codepen example: https://vanillaframework.io/docs/base/tables#responsive
2. Check that margins are correct on mobile
2. Add `p-table--expanding` cl

[2021-11-30 15:51] lyubomir-popov commented on #4162
Hi, thanks for reporting this. We're actually deprecating and removing the $multi in 3.0, which is imminent. So any release fro mcurrent master will completely remove $multi and treat everything as if $multi is set to 2. @bartaz what is the policy on this - should we issue a patch or should this be fixed locally until the whole site is migrated to 3.0?

[2021-12-01 08:47] bartaz commented on #4162
I'd say wait for 3.0. I don't think this issue was introduced recently, so quite likely this bugs exists for a while. It's probably not worth fixing it if we release 3.0 in a week or two.

But on our side I guess it's worth verifying how it looks in 3.0.

[2021-12-01 09:29] elioqoshi commented on #4152
This was published,  so closing this.

[2021-12-01 09:29] #4152 closed

[2021-12-01 09:33] anthonydillon commented on #4161
@bethcollins92 this one needs an estimate.

[2021-12-01 09:49] bartaz commented on #4163
First of all I don't think these 2 variants were designed to be mixed. They are two separate top level variants `--modifiers` and usually you should not put multiple of those on same element.

I do understand the possible need for that though. We did create a spec for modular table with various of features, but it was not heavily developed for now.

This particular issue seems to be fairly easy to

[2021-12-01 12:04] bethcollins92 commented on #4161
This needs to be discussed again after the release of Vanilla 3.0 so put this issue in icebox

[2021-12-01 12:09] bethcollins92 opened #4166 "Dismiss icon should be in css"
## Pattern to amend

Chip pattern. Currently the `p-icon--close` icon is included in the HTML for chips with a dismiss button. We don't want users to use any other icon other than close here so it should be added with CSS instead.

For the dark variant we currently need to add the `is-light` class to the icon which is confusing. Having it in CSS will enable us to include it in theming

## Visual

[2021-12-01 12:29] bartaz opened #4167 "Build interactive chips (using buttons)"
We need to add possibility of having interactive chips using `<button>` tag.

[2021-12-01 16:34] elioqoshi opened #4170 "Installer LVM changes"

[2021-12-01 16:44] elioqoshi opened #4171 "User stories validation"

[2021-12-01 16:55] elioqoshi opened #4172 "Initial user journey mapping"
Based on benchmarking and user stories, we should provide initial user journeys related to the LVM feature choices.

[2021-12-02 09:25] elioqoshi commented on #4156
This is ready for review: https://www.figma.com/file/H6MSsN3taoXXOJCPUbIImQ/Design-System-Library?node-id=721%3A9341

[2021-12-02 09:27] #4159 closed

[2021-12-02 09:53] #4158 closed

[2021-12-02 11:16] cristinadresch opened #4174 "u.com navigation updates"
- Grey variations
-

[2021-12-02 12:59] #4140 closed

[2021-12-02 15:38] anthonydillon commented on #4174
Is this issue complete? Seems to be missing information.

[2021-12-02 15:42] anthonydillon opened #4175 "Card footer is misaligned to the left"
**Describe the bug**
If you visit the card content bleed examples it looks as if the footer content has extra padding on the left due to being right aligned.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to ['...'](https://vanillaframework.io/docs/patterns/card#content-bleed)
2. Check the example

**Expected behaviour**
I was not expecting that content to be right aligned and because

[2021-12-02 16:14] cristinadresch commented on #4174
We have planning together with marcus  and wayne on Monday to go through the details for this

[2021-12-03 14:34] bartaz commented on #4162
Just verified that in 3.0 `multi` is removed and this problem doesn't happen anymore.

[2021-12-03 14:34] #4162 closed

[2021-12-03 14:42] bartaz commented on #4163
It seems to be caused by these lines, but they don't seem to be needed at all for expanding table (margin is 0 anyway), so it should be safe to just remove it and it will fix the conflict there.

https://github.com/canonical-web-and-design/vanilla-framework/blob/2c051aa4c656f66059a4931f555ced1f1a7bb01c/scss/_patterns_table-expanding.scss#L24-L26

[2021-12-03 15:14] #3278 closed

[2021-12-03 15:23] #4163 closed

[2021-12-03 15:37] bartaz commented on #4166
Added this to existing PR #4169

[2021-12-07 07:49] bartaz commented on #4027
Fixed via #4143

[2021-12-07 07:49] #4027 closed

[2021-12-07 08:29] #4131 closed

[2021-12-07 09:23] bartaz opened #4182 "Nesting typography styles makes font-face broken"
If we nest base typography styles in a class name it makes font-face broken (see https://github.com/sass/sass/issues/1251)

[code]

As mentioned in comments for [sass bug](https://github.com/sass/sass/issues/1251) `@at-root` should be used to make sure font-face declarations are always on root level.

[2021-12-07 11:34] bartaz opened #4183 "Bring the p-label component back in 3.0"
As a result of discussion around interactive and non-interactive chips, we made a decision to keep chips only for scenarios that they are interactive and we need a separate component for scenarios that there are not interactive.

For that we decided to keep the 'p-label' component, that will likely be later re-designed.

[2021-12-07 13:19] lyubomir-popov commented on #4001
yes

[2021-12-07 13:20] #4001 closed

[2021-12-07 15:55] lyubomir-popov opened #4186 "Hr dark theme uses black instead of white as fill, making it invisible on dakr backgrounds"
![image](https://user-images.githubusercontent.com/2741678/145062387-be124d74-941b-4daf-890f-e4a36cbd5e48.png)

[2021-12-08 08:42] bartaz opened #4187 "Remove non-interactive chips"
As part of chips work we decided not to use chips for non-interactive elements and keep label component for this purpose. We need to make sure we remove any examples and documentation around non-interactive chips.

The only chips should be interactive `<button>` or a chip with dismiss button in it.

[2021-12-08 08:45] lyubomir-popov commented on #4187
Can the dismiss chip extend our button with icon? Seems strange to have some in a span and some in a button.

[2021-12-08 09:15] bartaz commented on #4187
@lyubomir-popov I know, but how would dismiss work in such case - clicking on whole chip would dismiss it? This feels weird, seems like we need some UX input on this.

[2021-12-08 09:36] cristinadresch commented on #4187
@elioqoshi to add a comment

[2021-12-08 09:58] #3416 closed

[2021-12-08 09:58] #4166 closed

[2021-12-08 09:58] #4167 closed

[2021-12-08 11:40] #4136 closed

[2021-12-08 15:05] #4183 closed

[2021-12-09 09:42] anthonydillon commented on #4174
I am going to assume this is for this iteration

[2021-12-09 09:48] lyubomir-popov commented on #4174
@anthonydillon yes, it is for this iteration.

[2021-12-09 09:54] bartaz opened #4189 "Round dismiss buttons in chips"
As @elioqoshi suggested in comment to #4188:

<img width="147" alt="grafik" src="https://user-images.githubusercontent.com/5436686/145365452-b585c0e9-e4a6-4666-b1b3-609ccbe4e85d.png">

[2021-12-09 10:27] #4187 closed

[2021-12-09 10:29] bartaz commented on #4189
@lyubomir-popov Any thoughts? Are we fine with doing it like this? If we want such style should we apply it to some other things outside chips?

[2021-12-09 10:34] bartaz commented on #4115
As per @bethcollins92 comment:

It seems default grid demo shows small screen grid because iframe is too small.
I guess it's hard to fix that - but maybe we can show responsive grid demo instead, that would make more sense in smaller iframe.

[2021-12-09 10:36] lyubomir-popov commented on #4189
I'm ok with this. We don't have naything similar to apply it to, but if in the future we have other round narrow containers, that's a good solution.

[2021-12-09 10:47] bartaz commented on #4189
@lyubomir-popov quick adjustment of border radius can give us this:

<img width="147" alt="Screenshot 2021-12-09 at 11 46 12" src="https://user-images.githubusercontent.com/83575/145382511-aab10d55-9d2f-44db-a3d9-68830b1530e0.png">

if we want to tweak padding or something it may require readjusting spacing in chips, so I'd like to avoid this before 3.0

[2021-12-09 14:23] lyubomir-popov commented on #4128
This work s tracked on the brand board: https://github.com/canonical-web-and-design/vanilla-framework/issues/4128

Closing.

[2021-12-09 14:24] lyubomir-popov commented on #4174
This work is tracked on the brand board, closing.

 https://github.com/canonical-web-and-design/vanilla-framework/issues/4128

[2021-12-09 14:24] #4174 closed

[2021-12-09 14:24] #4128 closed

[2021-12-09 14:29] #4182 closed

[2021-12-09 15:49] #4189 closed

[2021-12-10 09:51] bartaz opened #4193 "How should validation message look with checkbox/radio inputs?"
Vanilla provides examples of how to use [validation with standard text input fields](https://vanillaframework.io/docs/examples/patterns/forms/form-validation), but not with radios/checkboxes. Using existing validation message placement doesn't seem to work well with single or groups or checkboxes.

<img width="402" alt="Screenshot 2021-12-10 at 10 49 51" src="https://user-images.githubusercontent.

[2021-12-10 13:12] bethcollins92 opened #4194 "[Sphinx] Indentation in right-hand ToC only goes down one level"
Currently the ToC only indents once, regardless of whether the headings are another heading level down. The ToC should respect the level headings with indentation

See comment:
https://github.com/evildmp/vanilla-sphinx-test/issues/13#issue-1048809508

[2021-12-10 13:13] bethcollins92 opened #4195 "[Sphinx] Permalink anchors should only be displayed on hover"
The heading links shouldn't be visible unless you over over the title. They also need some styling.

[2021-12-14 10:30] bethcollins92 opened #4205 "Missing chevrons on the buttons"
see [demo](https://react-components-656.demos.haus/?path=/story/maintable--overflow), there are missing chevrons on the buttons

[2021-12-14 10:59] bartaz opened #4206 "Deprecation warning for sass division in chips"
Warning when building Vanilla:

[code]

Recently added change to chips uses `/` for division. We should use `math.div` instead.

[2021-12-14 11:35] #4205 closed, assigned to bethcollins92

[2021-12-14 12:53] #4206 closed

[2021-12-14 16:43] bethcollins92 opened #4211 "Logo section outdated on homepage"
Add image_template module and use logo section on logos on homepage

[2021-12-15 10:45] marinacastejon opened #4213 "Side navigation component - Figma Library"
The side navigation component is not totally ready for use (unless it was done as it is on purpose with a good reason?):
- The menu items do not have fixed width. This is an issue in figma when we have long names that need to be wrapped.

- The naming of the menu items are inconsistent with Vanilla. My understanding is that the hover state changes color but does not display the side vertical line,

[2021-12-15 11:18] bethcollins92 opened #4214 "Make sure homepage is up to date"
- [x] mention sketch is compatible with vanilla 2.25.0
   - [ ] Install instructions on home page - use just yarn add sass.... and import and include statements

[2021-12-15 11:53] #4211 closed

[2021-12-15 11:56] bethcollins92 opened #4217 "Update what's new page"
Update "What's new page" to be up for 3.0 release
  - [x] copy entire Previously in vanilla to new page what's new in v2.0
  - [x] Add link from what's new in Vanilla 3.0
  - [x] Mention everything that was removed (deprecated labels). add a new table under what's new - add new description

[2021-12-15 17:06] #4214 closed

[2021-12-16 10:00] #4217 closed

[2021-12-16 10:08] bethcollins92 opened #4220 "Update labels in side nav"
- [x] Add updated/new labels to components changed for 3.0
  - [x] updated - Labels, chips, expanding search box, switch

[2021-12-16 12:09] bethcollins92 opened #4222 "Update README"
Get rid of gulp and suggest Sass part of building with Vanilla

[2021-12-16 13:20] #4222 closed

[2021-12-16 13:53] #4115 closed

[2021-12-16 14:19] #4220 closed

[2022-01-04 14:42] bethcollins92 commented on #4051
First draft of [accessibility doc](https://docs.google.com/document/d/1pK4kmbo83pyfQ92DuRLCqVAJaY9HdRTWbaAI3yCg59I/edit#) for lists.

Feedback VERY welcome (especially UX/UI considerations I may have missed @elioqoshi)
also @bartaz

[2022-01-04 15:49] bethcollins92 commented on #4049
First draft of [accessibility doc](https://docs.google.com/document/d/1DcYBpmuLKZGLIWR6jgjYfZc1X64d8HtDt9uKMoB0POE/edit#) for links.

Looking for any feedback - especially on the how it works? Can't think what else to write here 😬

@elioqoshi @bartaz

[2022-01-05 10:24] bethcollins92 commented on #4039
First draft of [accessibility doc](https://docs.google.com/document/d/11H6xPtBRxB1a8KCmK7XFH1FeZDduQhSJXxq-wNJ_CZ8/edit#) for buttons

Feedback VERY welcome (especially UX/UI considerations I may have missed @elioqoshi)
also @bartaz

[2022-01-05 10:25] elioqoshi commented on #4051
@bethcollins92 I don't have much to add here, but maybe mentioning ARIA `list` and `listitem` would be appropriate?
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/list_role

Not my forte though!

[2022-01-05 10:36] sowasred2012 commented on #4051
@bethcollins92 @elioqoshi I'd be wary of using/mentioning ARIA roles here - using `ul`/`ol`/`dl`, we get the benefits those roles brings automatically, so it might encourage people to apply them to other HTML elements (and possibly conflict with other Vanilla components).

That said! I looked at the lists docs, and there is a component in there whose example _isn't_ a list: https://vanillaframewor

[2022-01-05 10:55] bethcollins92 commented on #4051
Thanks @sowasred2012 and @elioqoshi. I agree that we shouldn't be encouraging the use of ARIA roles where native HTML elements can be used instead.

About the example, it seems strange not to use `<ul>` and `<li>` here. I edited the code on codepen and using the divider classes on list elements seem to work fine. I'll file a bug on vanilla to look into this.

[2022-01-05 11:00] elioqoshi commented on #4049
@bethcollins92 I added some copy-related principles which are somewhere inbetween UX and Code. Though it also depends where we will store a11y docs (on their own or part of UX/Code?)

[2022-01-05 11:03] bethcollins92 opened #4225 "List example doesn't use list HTML elements"
**Describe the bug**

This example of a list https://vanillaframework.io/docs/patterns/lists#responsive-divider doesn't use the correct `<ul>` and `<li>` elements like the rest of the list examples. It should either use the elements or last resort `role=list` and `role=list-item`

[2022-01-05 11:15] sowasred2012 commented on #4049
@elioqoshi for the new design system site, the docs are intended to live under their own tab alongside (if I'm recalling correctly) design and implementation.

[2022-01-05 11:18] elioqoshi commented on #4049
That was the original assumption but we discussed it and are not sure if it's still the ideal approach, as information would be spread around further (there are a11y considerations fitting in code or ux )

[2022-01-05 12:14] bethcollins92 commented on #4037
First draft [accessibility doc](https://docs.google.com/document/d/1UekmbTagZNVppuiuw3i9aoMpgQBJVdZnSHC2ciW6blY/edit#) for accordions

@bartaz @elioqoshi

[2022-01-05 14:45] bethcollins92 commented on #4040
First draft [accessibility doc](https://docs.google.com/document/d/1f_dJS0MquxNm9D6e1OaHohyqXBNG1GwnPfFdxFci60k/edit#) for cards.

@bartaz @sowasred2012 @elioqoshi

[2022-01-05 15:22] bethcollins92 opened #4226 "Old search still being used in Nav on vanilla docs"
- Search should be updated to use the new expanding search
- Search should be in nav throughout all pages for consistency (currently it's only on docs and examples)

[2022-01-05 15:29] carkod opened #4227 "Dart sass "/" depreciation warnings"
**Describe the bug**

After updating dart sass to higher versions such as `1.45.2`, it's warning us that in files like
[code]
We have variables that are using a division format that is going to be deprecated e.g.

[code]

Instead they recommend:

[code]

Apparently, this is a sass thing, and there is an [automatic migrator](https://sass-lang.com/d/slash-div)

**To Reproduce**

I believe running an

[2022-01-06 09:33] cristinadresch commented on #4227
This will be fixed in 3.0

[2022-01-06 09:33] #4227 closed

[2022-01-06 11:54] bethcollins92 commented on #4062
First draft [accessibility doc](https://docs.google.com/document/d/1YH05QhjuXLl93pdh_9ETYhalY7lU7tfNQ5EKD4ZRfw0/edit#) for search box.

Feels like this could do with padding out but can't find much more information.

[2022-01-06 16:28] bethcollins92 commented on #4068
This [blog](https://sarahmhigley.com/writing/tooltips-in-wcag-21/) mentions how when the tooltip isn't active we should be using aria-hidden="true" on the descriptive text.

I tried using voice over on the tooltips, it's not great. the description is read out after the label text of the button, and then read out again straight after. I tried to add aria-hidden to the description but this hides it

[2022-01-06 16:37] bethcollins92 commented on #4068
Here is the first draft of the tooltip [accessibility doc](https://docs.google.com/document/d/1Pgk4JYHIIbdkFmAzrPBKO1uNQnzmAeXqwTKtoiajoCA/edit#)

[2022-01-06 16:43] wgx commented on #4037
✅  Done

[2022-01-06 22:31] davegoddard42 commented on #4039
@bethcollins92 nice work. LGTM.

[2022-01-06 22:44] davegoddard42 commented on #4040
@bethcollins92 nice work - I added one suggestion about headings. LGTM

[2022-01-07 08:37] bethcollins92 opened #4229 "Write blog post about writing accessibility docs"

[2022-01-07 14:15] sowasred2012 commented on #4037
Added a few comments, looking good!

[2022-01-07 15:31] AnnSoMuller commented on #4062
added a comment in the doc and +1

[2022-01-07 18:42] amylily1011 commented on #3923
Command link spec: https://docs.google.com/document/d/1IPuq76HRCODYgxLkaMHbG4Ts9UU-ozK-E2FOiny4RO4/edit#heading=h.bqkuzi7416pz

[2022-01-10 10:12] #4226 closed

[2022-01-10 10:56] marinacastejon commented on #4029
Sorry for the late comment.
As we expected, the radio panel benchmark I did showed that indeed radio panels should be read by screen readers exactly like radio buttons.
@bartaz

[2022-01-10 11:47] bethcollins92 commented on #4229
First draft is here. I don't want to publish it until I've added some of the ones currently in review to our website and can link from the issue so people can read and give feedback.

https://docs.google.com/document/d/16Jn-mJp8942BOWFalNdqhGQU_rQao9nwdpqb7BHxqNQ/edit

[2022-01-10 18:34] tbille opened #4232 "Search issue on firefox"
it seems the search is not displaying correctly on Firefox.

![image](https://user-images.githubusercontent.com/2707508/148819927-2f83fa99-271e-4bea-94e6-7ba5ee778358.png)

[2022-01-11 07:01] bartaz commented on #4232
Thanks @tbille - search seems fine on my side - could this be a cache issue? Maybe the site loaded with old stylesheet?

[2022-01-11 07:02] #4087 closed

[2022-01-11 07:42] tbille commented on #4232
yeah it seems it's all good now.
It's weird when I tried to do some cache-busting I still had the issue.
Anyway closing the issue now.

[2022-01-11 07:42] #4232 closed

[2022-01-11 13:40] #4037 closed

[2022-01-11 16:50] #4051 closed

[2022-01-11 23:56] anthonydillon opened #4238 "The table in the what's new page is to tight on small screens"
**Describe the bug**

The key information on the what's new page is not accessible on small screens.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://vanillaframework.io/docs/whats-new on a phone
2. See the version and other important information is truncated

**Expected behavior**
I should be able to see the all the information as it's key content.

**Screenshots**
![Screensh

[2022-01-12 09:24] #4049 closed

[2022-01-12 10:22] clagom commented on #2815
Work in progress here: https://app.zenhub.com/workspaces/-design-system-tribe-59438c953747487777fbe484/issues/canonical-web-and-design/vanilla-framework/3923

[2022-01-12 10:22] #2815 closed

[2022-01-12 10:23] bethcollins92 opened #4240 "Tooltip description read out twice by screen reader"
**Describe the bug**

First the button text is read out, then additional description (aria-describedby). The additional description is being read out twice because it's placed inside of the button and is part of the button text content.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://vanillaframework.io/docs/patterns/tooltips
2. Activate VoiceOver
3. Allow VoiceOver to read t

[2022-01-12 10:32] clagom commented on #3990
Not for 22.04

[2022-01-12 10:38] clagom commented on #3997
Closing this as we didn't get more information, please open a new issue if still relevant.

[2022-01-12 10:38] #3997 closed

[2022-01-12 10:42] #3659 closed

[2022-01-12 10:48] clagom commented on #3563
We might solve this issue with the work scheduled for the release UI on Snapcraft: https://zpl.io/25l0pWr

[2022-01-12 10:56] clagom commented on #3758
@amylily1011 is going to work on this as a pattern for this cycle

[2022-01-12 12:52] lyubomir-popov commented on #4100
@clagom this seems ready to build to me. The version in @anthonydillon 's screenshot matches the modular table spec so nothing to add from visual design perspective. @bartaz do you agree? Anything missing that you'd like to see in the spec as it relates to this issue?

[2022-01-12 13:46] #4062 closed

[2022-01-12 14:04] bartaz commented on #4100
If it's fine from design perspective it can go to build. I'm not sure exactly from the top of my head how we would implement that into table pattern, but it's something to figure out when building.

[2022-01-12 14:07] clagom commented on #4100
Should it be a variant of the table pattern? So that we can pick one or the other case by case.

[2022-01-12 14:13] lyubomir-popov commented on #4100
@clagom it already is,  the image [here](https://ubuntucommunity.s3.dualstack.us-east-2.amazonaws.com/original/2X/f/f7acb578236f7ec0b6b4053d8f4ba827b856cfcc.png) is from the discourse article on table grouping.

[2022-01-12 14:16] clagom commented on #4100
Yes sorry I meant a variant implementation wise, e.g. class name, so that we can set which one we want to use every time.

[2022-01-12 14:34] #4040 closed

[2022-01-12 14:50] bartaz opened #4242 "Missing space between title and content of notification"
In couple places in Vanilla docs I noticed that there is a space missing between title and text of notification (Accordion, Tooltips):

![Screenshot 2022-01-12 at 15.47.10.png](https://images.zenhubusercontent.com/593a660851aa2c30578102bb/fac4a221-08b4-48bc-a0f4-82c96fee0ad0)
![Screenshot 2022-01-12 at 15.47.00.png](https://images.zenhubusercontent.com/593a660851aa2c30578102bb/de05070a-3060-4bd4-b

[2022-01-12 15:07] #4068 closed

[2022-01-13 11:28] elioqoshi opened #4243 "🦑 UA in Server installer"

[2022-01-13 11:31] elioqoshi opened #4244 "User flows and user stories"

[2022-01-13 11:34] cristinadresch opened #4245 "UX Spec - Enable UA subscription attach in Subiquity"

[2022-01-14 09:03] wgx commented on #4229
Reviewed! 👍🏽

[2022-01-14 09:25] elioqoshi commented on #3923
This looks good to me @amylily1011! Just a little comment on whether variant C can be defined as Anchor links

[2022-01-14 09:26] #4229 closed

[2022-01-17 10:01] #4039 closed

[2022-01-17 13:34] bethcollins92 commented on #4194
PR [here](https://github.com/evildmp/vanilla-sphinx-test/pull/40)

[2022-01-17 13:46] bartaz opened #4249 "Update style of the Switch"

[2022-01-17 13:46] bartaz opened #4250 "Update style of the Slider"

[2022-01-17 13:55] bethcollins92 commented on #3863
I'm currently working on this [issue](https://github.com/canonical-web-and-design/vanilla-framework/issues/4195). For now I'm going to make sure the header links are hidden apart from on hover, but they need new styling.

[2022-01-17 14:18] #4242 closed

[2022-01-17 16:28] bartaz opened #4251 "Doubled "Accessibility" section on Buttons page"
There are 2 Accessibility sections on Buttons page: https://vanillaframework.io/docs/patterns/buttons#accessibility

One was added recently, another probably was there before. They should be merged into one.

[2022-01-18 09:15] #4251 closed

[2022-01-18 09:33] bartaz commented on #3481
Mobile table has already been redesigned. This can be closed now.

[2022-01-18 09:33] #3481 closed

[2022-01-18 11:38] bethcollins92 commented on #4052
First draft of [accessibility doc](https://docs.google.com/document/d/1oVPfBXrkm6YsKRoL4MlAXO7SMKmewv7zYWHEQH9uHSI/edit#) for logo section.

Looking for review from UX and Devs

[2022-01-18 13:51] bethcollins92 commented on #4048
[Accessibility doc](https://docs.google.com/document/d/1xRFBOGBN0m8kW94TSrcfSTWJ1ftjHm-_CXEe9IgbRuw/edit#) for Labels. Not much here so open to any suggestions of what I could include

[2022-01-18 14:48] bethcollins92 opened #4256 "Pagination isn't accessible"
Accordiong to accessibility guidelines, the pagination component should include:

- `aria-current="true"` to the active page
- `aria-label="page [x]"` to each link
- and it should be wrapped in a nav element with the `aria-label="pagination"`

https://tink.uk/using-the-aria-current-attribute/
https://a11y-style-guide.com/style-guide/section-navigation.html#kssref-navigation-pagination

[2022-01-18 15:03] bethcollins92 opened #4257 "`p-pagination` class name should be on nav element"
## Pattern to amend

#### [Pagination component](https://vanillaframework.io/docs/patterns/pagination)
After the recent addition of the `<nav>` element to the pagination component, there should be a re-shuffle of the classnames. Similar to the side navigation, the `p-navigation` class should be moved to the `nav` element, and there should be an additional class added to the `<ol>` element, maybe `

[2022-01-18 16:45] bethcollins92 commented on #4059
First draft [accessibility doc ](https://docs.google.com/document/d/1S1Wv8XjYL-q_yLzkmjebjRS1Pqvd4NDLOAyHI7x2Tzk/edit#) for pagination. There have been some amendments to the pattern in writing these docs. The PR with the changes is [here](https://github.com/canonical-web-and-design/vanilla-framework/pull/4258)

[2022-01-19 04:19] #4250 closed

[2022-01-19 09:28] #4194 closed

[2022-01-19 09:56] bethcollins92 opened #4259 "Slider component isn't accessible"
The slider has a couple of problems:

- It doesn't have an `aria-valuenow` property which means as you navigate through using the keyboard, the current value isn't read out just "greater than..."
- We use `min` and `max` values but the [WCAG guidelines](https://www.w3.org/TR/wai-aria-practices-1.1/#slider_roles_states_props) suggest using `aria-valuemin` and `aria-valuemax`

[2022-01-19 10:22] #4249 closed

[2022-01-19 10:33] #4256 closed

[2022-01-19 10:48] bethcollins92 commented on #4063
Here is the[ accessibility doc](https://docs.google.com/document/d/1LPTN4EgsQ10DJfAqM9MHbgj3NyVHHcJUDvBpSV4Fx9U/edit#) so far. It's blocked by this [issue](https://github.com/canonical-web-and-design/vanilla-framework/issues/4259), as our slider isn't actually accessible.

[2022-01-19 12:09] bethcollins92 commented on #4065
[Accessibility doc ](https://docs.google.com/document/d/1mvRvpEwtxUQAVRrfMiEgS-QgsWCm4-QsmWFfg6y5NZ0/edit#heading=h.53fyn87a5ihd) for switch

[2022-01-19 12:31] bethcollins92 commented on #4052
This has Dev +1 just waiting on design

[2022-01-19 12:55] wgx commented on #4048
@bethcollins92 reviewed - not much to add but made a few tweaks. 👍🏽

[2022-01-19 13:11] AnnSoMuller commented on #4052
+1 for me!

[2022-01-19 14:28] bethcollins92 commented on #4195
@bartaz you should be able to review this now irrespective of the other one as I've removed the changes that were from the other PR

[2022-01-19 14:43] bartaz commented on #4195
@bethcollins92 Could you link to the PR? I don't see it here anywhere.

[2022-01-19 14:48] #4175 closed

[2022-01-19 15:12] bethcollins92 commented on #4195
@bartaz wups - sorry https://github.com/evildmp/vanilla-sphinx-test/pull/41

[2022-01-19 15:49] bethcollins92 opened #4263 "<cite> shouldn't be included inside <blockquote> in pull quote"
I've been researching the blockquote accessibility considerations, and I've come accross this [blog](https://css-tricks.com/quoting-in-html-quotations-citations-and-blockquotes/#aa-the-citation-element), which explains how the `<cite>` tag shouldn't be used to reference the author/spokesperson, but the work.

I since checked the MDN docs and they have also used the same HTML structure as the perso

[2022-01-19 15:54] bethcollins92 commented on #4060
[Accessibility doc](https://docs.google.com/document/d/1pRncWWbbpJtQSM-pQ-YFeKw8hNdxErFOzCtiISjTbRc/edit#) for now, but it's blocked by this [issue](https://github.com/canonical-web-and-design/vanilla-framework/issues/4263)

[2022-01-20 11:47] #4074 closed

[2022-01-20 12:16] #4195 closed

[2022-01-20 13:59] #4052 closed

[2022-01-20 16:40] mtruj013 commented on #4059
Doc has been reviewed and +1'd. Great job @bethcollins92! 🎉

[2022-01-20 16:43] mrgnr commented on #4048
@bethcollins92 Looks great! I made a few small suggestions (added a comma and split a sentence), but do what you think sounds best :+1:

[2022-01-20 16:49] mtruj013 commented on #4065
+1 👍🏻

[2022-01-20 17:04] mtruj013 commented on #4067
+1 👍🏻

[2022-01-21 10:32] #4048 closed

[2022-01-21 10:41] marinacastejon commented on #4059
@bethcollins92 I added a couple things that need reviewing from DEV

[2022-01-21 10:55] marinacastejon commented on #4065
@bethcollins92 I updated the doc with some comments, they need a DEV review

[2022-01-21 13:30] bartaz commented on #3262
Scope:

- try to apply Vanilla validation error styles (red border, followed by message in red color with error icon) applied when input is invalid (via `:invalid` selector, and possibly by `aria-invalid` as well).
- add it as separate example "Forms / Native validation" or something like that

[2022-01-21 13:32] bartaz commented on #3713
Scope:
- investigate how it is implemented in React ActiveButton component
- try to replicate it in the example in Vanilla (add JS to keep the width of the button)
- if it is possible with just adding some JS add such example to Vanilla, if additional class names are needed propose how to amend button component to achieve that

[2022-01-21 13:45] #3988 closed

[2022-01-21 14:28] bartaz commented on #3017
Scope:
- try to see if scrolling into position after loading examples will work
- or find another solution

[2022-01-24 09:07] #4059 closed

[2022-01-24 09:08] bethcollins92 commented on #4067
@elioqoshi could you take a look at [this](https://github.com/canonical-web-and-design/vanilla-framework/issues/4067#issuecomment-1016549551) please?

[2022-01-24 09:29] cristinadresch commented on #3923
@amylily1011 you're happy to put this in discourse now that has been reviewed?

[2022-01-24 09:46] bethcollins92 opened #4272 "Slider has two inputs"
Currently the Slider component has two inputs with the same value, the actual slider thumb and the input field. This is causing problems with accessibility.

When the slider thumb moves, the value in the input box which is visible to sighted users isn't read out by the screen reader. The screen reader just keeps repeating "greater than".

[2022-01-24 10:44] #4065 closed

[2022-01-24 12:01] #4103 closed

[2022-01-24 12:31] bethcollins92 commented on #4042
[Accessibility doc](https://docs.google.com/document/d/1uRHo5Jp034T31E18IuTSdgpzLaF77lOFGHzn7U49hqk/edit#) for contextual menu.

I've listened to VoiceOver, the focus isn't trapped in the contextual menu and it feels like it should be? Also, when you tab off the menu, voiceover speaks "menu closed" when it doesn't actually close.

[2022-01-24 14:11] #4034 closed, assigned to mtruj013, ilayda21

[2022-01-24 14:13] wgx commented on #4029
Working on the spec in this Doc: https://docs.google.com/document/d/1lNspyxiffzV1lO_cbsoXYtbaevulijxVXRiGVoXVCEI/edit#heading=h.2tbz0zuxor01

[2022-01-24 14:33] bethcollins92 commented on #4044
Accessibility doc for [heading icon](https://docs.google.com/document/d/1-pph5kexTYURof_M1WgYbouPUxElhPbubgQq5hbuiXs/edit#heading=h.53fyn87a5ihd)

[2022-01-24 15:58] bethcollins92 commented on #4043
[Accessibility doc](https://docs.google.com/document/d/1cPgsBMHdS0_3fhaLReiN830Ni8uJSNIM-frqvpZTB8E/edit#) for Grid

[2022-01-25 08:55] AnnSoMuller commented on #4043
Good for me!

[2022-01-25 09:31] amylily1011 commented on #3923
I just need to make some correction and I'll put it on discourse.

[2022-01-25 09:36] amylily1011 commented on #3923
@elioqoshi I think there will be just 2 variants - progressive disclosure and anchor link and I will merge variant B and C together. I think that makes more sense.

[2022-01-25 09:42] steverydz commented on #4043
LGTM 👍

[2022-01-25 11:53] amylily1011 commented on #3923
@lyubomir-popov here is the spec!

[2022-01-25 12:43] mrgnr commented on #4044
@bethcollins92 Reviewed -- I added some punctuation but otherwise looks great!

[2022-01-25 14:31] wgx commented on #4044
@bethcollins92 added 1 new bullet, looks good to me 👍🏽

[2022-01-25 14:44] wgx commented on #4029
Ok, finished my draft. Needs a review by another Vanillian. 🍦

[2022-01-25 15:03] davegoddard42 commented on #4029
LGTM @wgx.

The only possible issue with these is making sure the user knows they are clickable options and not just images etc. Have you explored including a radio button within the card? Roughly, maybe something like below?

![image](https://user-images.githubusercontent.com/25453620/151001689-bfe55ac4-0e89-403a-8144-3ae8019cc470.png)

Maybe these patterns are standard enough now it's not an iss

[2022-01-25 17:09] elioqoshi commented on #4067
@bethcollins92 looking good! Added a few suggestions and tweaks.

[2022-01-25 18:59] elioqoshi commented on #4029
Looking good @wgx!

Just +1 on what Dave said. This overflows into visual design quite a bit but some benchmarking might be useful here what others are doing with radio panels. Something which is quite clear might be an example like this: https://stackoverflow.com/questions/54723738/how-to-custom-style-images-and-radio-buttons

![grafik](https://user-images.githubusercontent.com/5436686/151041140-

[2022-01-26 06:37] marinacastejon commented on #4029
Good points. From an accessibility perspective (screen readers apart) the general rule is that colour should not be used alone to convey meaning. In the case of showing the difference between selected and non-selected states, I agree it would make sense to use something other than colour to show what has been selected.

[2022-01-26 09:54] bethcollins92 commented on #4045
[Accessibility doc](https://docs.google.com/document/d/1B3JqDWU25pGuVdmETeM5DCxQog-9aQSciF4_wWPDAaY/edit#) for icons

[2022-01-26 10:06] bethcollins92 commented on #4038
Notes are up here: https://vanillaframework.io/docs/patterns/breadcrumbs#accessibility

[2022-01-26 10:06] bethcollins92 commented on #4037
Notes are up here: Notes are up here: https://vanillaframework.io/docs/patterns/accordion#accessibility

[2022-01-26 10:07] bethcollins92 commented on #4051
Notes are up here: Notes are up here: https://vanillaframework.io/docs/patterns/lists#accessibility

[2022-01-26 10:08] bethcollins92 commented on #4049
Notes are up here: https://vanillaframework.io/docs/patterns/links#accessibility

[2022-01-26 10:08] bethcollins92 commented on #4062
Notes are up here: https://vanillaframework.io/docs/patterns/search-box#accessibility

[2022-01-26 10:08] bethcollins92 commented on #4040
Notes are up here: https://vanillaframework.io/docs/patterns/card#accessibility

[2022-01-26 10:09] bethcollins92 commented on #4068
Notes are up here: https://vanillaframework.io/docs/patterns/tooltips#accessibility

[2022-01-26 10:09] bethcollins92 commented on #4039
Notes are up here: https://vanillaframework.io/docs/patterns/buttons#accessibility

[2022-01-26 10:10] bethcollins92 commented on #4052
Notes are here: https://vanillaframework.io/docs/patterns/logo-section#accessibility

[2022-01-26 10:10] bethcollins92 commented on #4048
Notes are up here: https://vanillaframework.io/docs/patterns/labels#accessibility

[2022-01-26 10:10] bethcollins92 commented on #4059
Notes are up here: https://vanillaframework.io/docs/patterns/pagination#accessibility

[2022-01-26 10:10] bethcollins92 commented on #4065
Notes are up here https://vanillaframework.io/docs/patterns/switch#accessibility

[2022-01-26 10:41] lyubomir-popov commented on #4029
IMO this should be made clear by the context. Adding a radio in it feels insecure... like a "click here" label. Here's how apple do it:
![image](https://user-images.githubusercontent.com/2741678/151148640-d31cb81e-9eec-4ffd-95ba-4fd1c6edb504.png)

[2022-01-26 11:52] wgx commented on #4029
1. Updated google Doc with 'no selection' state fix from @davegoddard42
2. Agree with @lyubomir-popov that the radio visual isn't needed - I feel there's enough visual affordance there already
3. Agree with @marinacastejon about some non-colour affordance on the selected state

The only remaining questions are visual, so happy to leave it to visual design to take it forward. 👍🏽

[2022-01-26 11:53] wgx commented on #4029
@elioqoshi I'm not dead against the radio icon being present, just not sure it's needed - from the user point of view they're "buttons that behave like radios".

[2022-01-26 11:58] barrymcgee commented on #3262
🤌🏻

[2022-01-26 12:21] lyubomir-popov commented on #4029
not entirely like radios - as you'd need a confirm button if using radios... to me, they seem like multiple choice toggles...

[2022-01-26 13:51] davegoddard42 commented on #4045
LGTM @bethcollins92

Did you come across anything about icon colour contrast, in the same way we look at contrast ratios for text on a background? I'd guess we should use similar rules (WCAG). There's some stuff [here](https://www.w3.org/WAI/WCAG21/Understanding/non-text-contrast.html) (ctrl+f search "icons").

[This page](https://www.w3.org/WAI/WCAG21/Techniques/general/G207) is specific to icons

[2022-01-26 14:04] ilayda21 commented on #4057
[Accessibility doc](https://docs.google.com/document/d/1WAmoXaiy6bSBXitwglNAg5PFls-Zi5R8K4jIlzFR1Sw/edit) for navigation

[2022-01-26 14:31] anthonydillon opened #4280 "Search box has accessibility issues"
**Describe the bug**
The search box has two main a11y issues.
1. The input has not label
2. The buttons are empty

[2022-01-26 15:08] bethcollins92 commented on #4045
Thanks @davegoddard42, I hadn't seen that so thanks for pointing it out. I added another point in the considerations mentioning this

[2022-01-26 15:20] davegoddard42 commented on #4045
@bethcollins92 thanks - awesome job again

[2022-01-26 15:55] bethcollins92 opened #4281 "[Document Design System] Write component/pattern accessibility docs"
From https://github.com/canonical-web-and-design/vanilla-squad/issues/1100:

[2022-01-27 09:19] petermakowski commented on #4045
This looks great @bethcollins92

Just a small suggestion - I'd include the most point the considerations section in the summary (a lot of people read _only_ the summary). Something like:

~~text can be added within the element to aid accessibility~~
text should be added unless the icon is purely decorative

[2022-01-27 09:31] cristinadresch commented on #4029
Visual issue here https://app.zenhub.com/workspaces/-design-system-tribe-59438c953747487777fbe484/issues/canonical-web-and-design/vanilla-squad/1192

[2022-01-27 09:31] #4029 closed

[2022-01-27 09:32] cristinadresch opened #4282 "Command links - Visual"
For reference - the spec issue: https://github.com/canonical-web-and-design/vanilla-framework/issues/3923#issuecomment-1033582360

[2022-01-27 09:44] lyubomir-popov commented on #3923
Thanks @amylily1011, looks great. There are a couple of visual things to resolve but those will be on a separate Visual design issue.

[2022-01-27 09:58] amylily1011 commented on #3923
Awesome @lyubomir-popov, give me a ping when you got those tickets done and I'll add the visuals to the doc and publish it 😄
Should we close this ticket for now and create another one for publish command links? (@cristinadresch)

[2022-01-27 10:10] wgx commented on #4057
@bethcollins92 done :)

[2022-01-27 10:56] marinacastejon commented on #4042
I did the same test with VoiceOver but in iOS. I checked in Safari and Chrome, and I got the same behaviour. VO reads the following:
When collapsed: take action, button, menu pop-up, collapsed, double-tap to expand.
When expanded: take action, menu pop-up expanded
Then it keeps reading all the items in the menu as buttons and then it keeps reading the other elements in the page without closing the

[2022-01-27 11:17] sowasred2012 commented on #4042
I think this should be an issue on Vanilla, as you say.

I tested https://vanillaframework.io/docs/examples/patterns/contextual-menu/default in Orca on Ubuntu and what I got was:

- Keyboard interaction between the button with a contextual menu and a link with a contextual menu isn't the same. Pressing Enter opens both, but pressing Space opens only the button example. I actually wonder if all our

[2022-01-27 11:24] cristinadresch opened #4283 "UX Wireframes - Enable UA subscription attach in Subiquity"

[2022-01-27 13:30] mtruj013 commented on #4058
[Accessibility doc](https://docs.google.com/document/d/1iw5ZMMzDjnnz3oG1P4wwjj9JYsGOsTPfl6Kzp_H6NoU/edit#) for notifications is ready for review

[2022-01-27 14:16] bethcollins92 commented on #4007
<img width="827" alt="Screenshot 2022-01-27 at 14 15 22" src="https://user-images.githubusercontent.com/58959073/151376314-bc45cf08-5a0a-4b00-a9be-1b961c27e2a6.png">
@ilayda21 and I have both checked this, it seems to be fine now. Must have been a bug in Firefox

[2022-01-27 14:16] #4007 closed

[2022-01-27 14:42] bethcollins92 opened #4284 "Contextual menu isn't accessible"
Please see [this comment](https://github.com/canonical-web-and-design/vanilla-framework/issues/4042#issuecomment-1023086324) and [this comment](https://github.com/canonical-web-and-design/vanilla-framework/issues/4042#issuecomment-1023103961)

In conclusion, the contextual menu should close when the focus leaves

[2022-01-27 14:42] bethcollins92 commented on #4042
Ok, after reading all this (thank you so much!) I'll block this accessibility doc issue by an [issue](https://github.com/canonical-web-and-design/vanilla-framework/issues/4284) to fix the menu closing when the focus leaves.

[2022-01-28 07:22] marinacastejon commented on #4058
Updated the doc with 2 new things: focus management and timing

[2022-01-28 08:32] marinacastejon commented on #4042
@bethcollins92 @sowasred2012 in the keyboard interaction guidelines we still decide if tab moves to the next element inside the menu or if it moves out of the menu and closes it (meaning you can navigate inside the menu with arrow keys, ala Carbon Design System). Usability-wise I don't believe there is a better option, you may decide what makes more sense technically speaking.

[2022-01-28 10:29] #4043 closed

[2022-01-28 10:52] #4044 closed

[2022-01-28 11:44] bethcollins92 commented on #4058
Great work @mtruj013 - super grateful for your help with this. Just a couple of comments in the doc but feels like you've covered everything

[2022-01-28 14:55] elioqoshi commented on #4238
@lyubomir-popov @bartaz quick draft. Would it be structurally okay / possible to merge the status and version values as part of the component? They feel more like labels than needing their own column: ![grafik.png](https://images.zenhubusercontent.com/5a5649f54b5806bc2bc23b6d/688ebd27-635d-47ff-b281-8e53ce1bda8a)

Alternatively we could include them in the table from the start in this manner?

Any

[2022-01-28 15:11] lyubomir-popov commented on #4238
What's the point of the version column? We have one table per release, so you can remove the version column altogether.

[2022-01-28 15:22] #4067 closed

[2022-01-28 15:38] elioqoshi commented on #4238
Good point. Not sure how it ended up there or whether it was automatical. Thought there might be some sub-version releases which might be relevant?

Regardless, even if that's remove there is still space lacking

[2022-01-28 16:54] #4045 closed

[2022-01-30 20:10] #4244 closed

[2022-01-31 16:56] #4058 closed

[2022-02-01 08:55] #4057 closed

[2022-02-01 09:31] cristinadresch commented on #4238
@bartaz any thoughts?

[2022-02-01 16:12] anthonydillon opened #4292 "Replace the table empty section with new empty state"
**Describe the bug**
With the introduction of the new empty state documentation we should replace the old table empty state docs with a link to the new.

**To Reproduce**
1. Go to http://0.0.0.0:8101/docs/base/tables#empty
2. See the old empty table content
3. Provide a link to the empty state for tables in the empty states page http://0.0.0.0:8101/docs/patterns/empty-state#no-content

[2022-02-02 10:33] #3262 closed

[2022-02-02 11:06] bartaz commented on #4238
@elioqoshi

Overall I think version column is valuable, while we keep separate table for latest release, we do merge all previous releases into one long table, like here with 2.0:

<img width="846" alt="Screenshot 2022-02-02 at 12 00 57" src="https://user-images.githubusercontent.com/83575/152141731-5800e195-076a-4be5-96e8-a07f9fc12dc6.png">

It is valuable to have this version information. While

[2022-02-02 13:46] elioqoshi opened #4293 "Request to add Vanilla components to the component gallery"
https://component.gallery

I think it would be great to request adding Vanilla in there. The site is great for benchmarking and could add some visibility of Vanilla.

We can do so by reaching out to the author ( https://component.gallery/about/ )

[2022-02-03 10:40] bartaz opened #4294 "Collapse/expand side navigation for docs"
After clarifying some side navigation requirements with docs team, here is what they would like to have in terms of expanding side navigation:

- Each item in the menu should be a link to a resource.
- Each item that contains other items should be collapsed by default.
- When an item that contains other items is selected, or we land on a page, then as well as navigating to the page, its child item

[2022-02-03 13:54] marinacastejon opened #4295 "Empty states for data visualisation"
## Pattern to amend

[Empty state for data visualisation proposal doc
](https://docs.google.com/document/d/1x4KQJBZU1Rw91zKR7XUeZ0HtqueO3ijNQ5MKGLcStOo/edit#)[Link to the empty state pattern in Discourse](https://discourse.ubuntu.com/c/design/pattern-empty-state/95).

## Visual

This is  wireframe of the Hiring Dashboards UI.
![image.png](https://images.zenhubusercontent.com/61309e789df65d8124887e