[2022-02-03 14:25] #4280 closed

[2022-02-03 15:28] marinacastejon commented on #3350
Hi,
We discussed about this in the accessibility guild.
[This example was shown](https://charmed-osm.com/osm-hackfests) (see bottom of the page)
We agreed on this being not compliant and wanted to shared a good resource that summarises well the WCAG guideline: [Yale university](https://usability.yale.edu/web-accessibility/articles/links). Non-colour indicators include underlining and also adding a

[2022-02-04 11:05] amylily1011 commented on #3923
https://discourse.ubuntu.com/c/design/pattern-command-links/100/l/latest

[2022-02-04 12:26] #4292 closed

[2022-02-04 14:29] carkod opened #4298 "Should button styles work in pagination?"
**Describe the bug**

In "interactive forms" the `p-button--positive` is applied together with `p-pagination__link--next`, it seems that the pagination styles override the button styles.

It works in the previous Vanilla version, see below screenshot

**To Reproduce**

Steps to reproduce the behavior:

[Here is a codepen](https://codepen.io/carkod/pen/bGYwood) to see this clearly based on paginati

[2022-02-04 16:33] bethcollins92 opened #4299 "Investigate aria-dsiabled vs disabled"
There are some accessibility issues with using the native browser `disabled` attribute, as it hides the element from Assistive Tech.

The general advice is to use aria-disabled attribute but this doesn't come with the functionality of actually making the button disabled, or any of the styles. We need to look into how important it is to move to using aria-disabled, as it would be a lot of work.

ht

[2022-02-04 18:04] elioqoshi commented on #3923
Thanks Amy! The Design specs need to be merged into one single post on Discourse however, could you do that and update here again? The Accessibility docs can be separate.

[2022-02-07 09:08] bartaz commented on #4298
@carkod

It seems that button styles never worked with pagination and they were not expected to.

Your CodePen example changed to Vanilla 2.37.1 has the same issues: https://codepen.io/bartoszopka/pen/eYeBaqE

It seems that on ubuntu.com/aws the "pagination" that is used is not really Vanilla `p-pagination` but some other `pagination` style that doesn't affect button styling (or has no styling at

[2022-02-07 09:12] #4080 closed

[2022-02-07 11:21] marinacastejon commented on #4071
It doesn't look like I will be able to recruit any participants with Aspergers or autism spectrum. Therefore, I investigated and tried to find some research that explicitly said advised against the use of placeholders as labels.
- What we already knew, [NNGroup advises against that](https://www.nngroup.com/articles/form-design-placeholders/), but doesn't mention any sources.

Other sources I check

[2022-02-07 13:44] carkod commented on #4298
Updated the title

[2022-02-07 14:22] bethcollins92 commented on #4299
Another interesting article: https://css-tricks.com/making-disabled-buttons-more-inclusive/

This article shares a lot of the same advice, that using `disabled` is the worst option, aria-disabled is second best and better still is to keep the button enabled and provide feedback on why the form can't be submitted

[2022-02-08 15:49] sowasred2012 opened #4301 "Partner logos - resize & create components in Figma"

[2022-02-09 07:28] #4263 closed

[2022-02-09 09:33] bethcollins92 commented on #4301
Need these for April release

[2022-02-09 10:03] clagom commented on #3923
@amylily1011 What is the status of this? I think @marinacastejon pointed out an accessibility issue with the underline link, too?

[2022-02-09 10:22] clagom commented on #3350
@marinacastejon @lyubomir-popov can you raise this issue during the next design assembly please?
CC @amylily1011 as part of the work you did

[2022-02-09 10:25] clagom commented on #4071
WG: the accessibility guild is going to discuss this during the accessibility working group. @bethcollins92

[2022-02-09 10:27] #3563 closed

[2022-02-09 10:30] marinacastejon commented on #3923
Hi, I left a comment in an[ issue](https://app.zenhub.com/workspaces/-design-system-tribe-59438c953747487777fbe484/issues/canonical-web-and-design/vanilla-framework/3350) that already existed, currently assigned to Lyubo.

[2022-02-09 10:33] clagom commented on #3758
WG: work planned for the 28th of March

[2022-02-09 10:41] lyubomir-popov commented on #3350
Added to the agenda https://docs.google.com/document/d/160W5VxwUPszuNzV1pzi5f9XO6Yl-RVbcZG3faCq4hsI/edit#

[2022-02-09 10:49] clagom commented on #4295
WG: @marinacastejon could you add more information on this issue, explaining what is the current problem we need to solve and the different use-cases?

I think this can be part of the data visualisation pattern, and integrate the empty state from that perspective.

[2022-02-09 10:53] clagom commented on #4298
WG: we recommend using the primary buttons for these use-cases, the pagination button shouldn't be used in these case (depends on the UX work done during the definition phase)

[2022-02-09 10:53] #4298 closed

[2022-02-09 11:00] amylily1011 commented on #3923
@clagom, it's published on discourse but I need to consolidate this into 1 single page (as suggested by @elioqoshi ). @marinacastejon Created a separate issue for accessibility and attached it to the doc.

[2022-02-09 11:02] clagom commented on #3923
@amylily1011 @marinacastejon thanks we have this issue too: #3350 to discuss and define in this context

[2022-02-11 11:41] wgx commented on #4064
Needs a review @bethcollins92 but the doc is here: https://docs.google.com/document/d/1cEkDcilw5irLRLEqkJcozx_-WORdm3Ihu4dPtg8mO2o/edit#

[2022-02-11 11:54] bethcollins92 commented on #4064
Thanks @wgx - you are the winner! First one to the finish line. I'll take a look (probably will be next week now)

[2022-02-11 14:02] elioqoshi commented on #4283
Included wireframe related changes in the user journey as well: https://miro.com/app/board/uXjVOSU66Is=/?invite_link_id=566158019602

[2022-02-11 14:52] elioqoshi commented on #4245
Draft specs here (in progress): https://docs.google.com/document/d/1oji-YLGafmL15EbZE5Iq42s8Xfzhff-Pgu5eOHi7UNk/edit#

[2022-02-14 10:14] AnnSoMuller opened #4303 "Data Visualisation"
This is the Epic around the Data Visualisation work.
Here is the [Miro Board](https://miro.com/app/board/uXjVOcXQvUc=/?moveToWidget=3458764514847626108&cot=14) for the working group research quick start.
Here is the [Drive folder](https://drive.google.com/drive/folders/1I0jmf_SSVBgvBf3UmbHdUERARlyszC6y?usp=sharing) with different docs.

[2022-02-14 10:18] AnnSoMuller opened #4304 "D.V Internal Benchmarking"
This is about the internal Benchmarking of Data Visualisation.
Here is the [Figma file](https://www.figma.com/file/fgJL13EviuGQQqx1Rl4mOd/Data-visualisation-Working-group?node-id=0%3A1) with the findings

[2022-02-14 10:18] AnnSoMuller opened #4305 "D.V External Benchmarking"
This is about the external Benchmarking of Data Visualisation.
Here is the [google sheet with the findings](https://docs.google.com/spreadsheets/d/1cccsRTMZwE6A3zrFV-3sm2YrBOqkZ7P673c1ImxhVl4/edit?usp=sharing).

The scope of this one would be to have the template ready: document with all relevant sections

[2022-02-14 13:07] AnnSoMuller opened #4306 "D.V Define main use cases"

[2022-02-14 14:03] AnnSoMuller opened #4307 "D.V UX Guideline definition"
Let's have a look a what are the "do" and "Don't" recommendations
See in the [Google doc](https://docs.google.com/document/d/18IP1Jx7-5TJufEwMzQCQ7G4HCaDLzSS1HCdd-5fRTaQ/edit?usp=sharing)

[2022-02-14 14:05] AnnSoMuller opened #4309 "D.V. Accessibility guidelines definition"

[2022-02-14 14:06] AnnSoMuller opened #4310 "D.V. Visual guidelines definition (except colours)"

[2022-02-15 08:46] #4055 closed

[2022-02-15 11:59] lyubomir-popov commented on #3350
Discussed in today's design assembly:

![image.png](https://images.zenhubusercontent.com/59d2496bb0222d5de479ea17/a2e9e291-7501-40d1-abda-65b54bc48766)

[2022-02-15 12:25] bethcollins92 commented on #4064
Dev +1 from me. Wondering if @marinacastejon could take a look and review UX - thanks!

[2022-02-15 13:47] AnnSoMuller opened #4314 "D.V. Research: Pie Charts"

[2022-02-15 15:17] clagom commented on #4299
We discussed this issue in our Design Assembly today. It's a large task that has multiple repercussions across all our websites and applications. We are going to take some time to inform more ourselves on this matter, then I would like to organise a combined workshop across disciplines.

[2022-02-15 17:45] elioqoshi commented on #4245
Initial specs ready!
https://docs.google.com/document/d/1oji-YLGafmL15EbZE5Iq42s8Xfzhff-Pgu5eOHi7UNk/edit?usp=sharing

UX Review from @wgx would be appreciated. Needs sign off from @lechsandecki and Daniel Bungert as well which I am doing separately. Additionally checking with the ua-client team to ensure coherency.

[2022-02-15 17:52] elioqoshi commented on #4283
This is ready for review! https://miro.com/app/board/uXjVOSU66Is=/?invite_link_id=715758985020

@wgx if you could have a look, with a focus on the offline installer especially as that might be a bit more fidgety. The last screen in the offline installer might need a copy review.

[2022-02-16 08:03] marinacastejon commented on #4064
@bethcollins92 @wgx Done! I just fixed a typo (_the_ for _they_)

[2022-02-16 09:26] #4064 closed

[2022-02-16 09:37] sowasred2012 commented on #4301
@bethcollins92 @cristinadresch - didn't see this reply - these logos are blocking us upgrading ubuntu.com and canonical.com, would love to get them before April!

[2022-02-16 09:49] bethcollins92 opened #4316 "Add accessibility doc to site"
here is the [doc](https://docs.google.com/document/d/1cEkDcilw5irLRLEqkJcozx_-WORdm3Ihu4dPtg8mO2o/edit#)

[2022-02-16 10:18] lyubomir-popov commented on #4301
@sowasred2012
Why are they blocking ubuntu.com? I thought the list provided by @goulinkh and the logos Long resized fully cover u.c?

[2022-02-16 10:24] wgx commented on #4283
Couple of optional suggestions @elioqoshi but 👍🏽

[2022-02-16 10:25] wgx commented on #4245
+1 from me.

[2022-02-16 10:33] sowasred2012 commented on #4301
@lyubomir-popov I checked which projects were using the Partners API, and it was those two projects - though looking at it more closely I see that, even though there are one or two logos being used on /certified pages that haven't been resized, they're not in logo cloud sections, so it's actually not blocking ubuntu.com.

[2022-02-16 11:46] elioqoshi commented on #4283
Thanks @wgx !

Closing this

[2022-02-16 11:46] #4283 closed

[2022-02-16 12:50] marinacastejon commented on #4314
Different resources:
[Storytelling with data: death to pie charts](https://www.storytellingwithdata.com/blog/2011/07/death-to-pie-charts)
[Storytelling with data: what is a pie chart](https://www.storytellingwithdata.com/blog/2020/5/14/what-is-a-pie-chart#:~:text=There%20are%20two%20primary%20use,is%20relatively%20small%20or%20large)

[2022-02-16 13:59] mrgnr opened #4319 "Use query parameters to change the example HTML"

[2022-02-17 13:07] elioqoshi commented on #4245
Thanks @wgx .

Will await a review from Lech on the document before closing this.

[2022-02-17 13:26] #4319 closed

[2022-02-17 13:28] mrgnr opened #4320 "Build component to display example code"

[2022-02-17 14:46] bethcollins92 commented on #4071
@marinacastejon

I've added labels to all the searchbox examples on Vanilla since this issue was created. I haven't checked all our websites, but everyone in the accessibility guild is now aware we need labels and not just placeholders, so they will check their projects and add them if necessary

[2022-02-18 10:52] #4225 closed

[2022-02-18 11:04] elioqoshi opened #4324 "User Testing / Interviews"
Have a 1-3 user testing sessions to test the prototype of the UA in Desktop installer

[2022-02-18 16:12] marinacastejon commented on #4295
Sure. The current pattern does not take into account use cases where there is a chart. As defined in my previous work ([empty states definition](https://miro.com/app/board/uXjVOTPrM_A=/), there are cases where it makes more sense to hide an entire section (ie. chart outline is hidden) and cases where it makes sense to show the graph outline with values as zero.

[2022-02-21 16:34] carkod opened #4331 "Codepen link component"

[2022-02-22 11:53] lyubomir-popov commented on #3350
Decision from design assembly:
- reintroduce underline on all links in Vanilla
- Accessible blue on dark grey, + underline:
- White underlined links on varying backgreounds (gradients, images in hero elements)
Next steps: apply the above rules to a few pages, reconvene to finalise decision

![image](https://user-images.githubusercontent.com/2741678/155127031-45fc26d7-4b5a-4a0e-b4b7-c16f7173dc96.pn

[2022-02-22 15:37] elioqoshi commented on #4245
Did a few changes on this based on my discussion with Lech and others. We will not be supporting attaching tokens offline as we don't see much value in it. Updated specs and mockups accordingly and awaiting final review from Lech and the Foundations team

[2022-02-22 16:50] bethcollins92 opened #4335 "Write presentation for Marketing Town Hall"

[2022-02-22 16:50] bethcollins92 commented on #4335
Done: https://docs.google.com/presentation/d/1yHc20XwlGtqiEKrArtinoZfQmWkVYVyPl17KNwZU5pQ/edit#slide=id.g114a46f3c1a_0_49

[2022-02-22 16:50] #4335 closed

[2022-02-22 16:51] bethcollins92 opened #4336 "Review written submission"

[2022-02-22 16:51] #4336 closed

[2022-02-22 17:07] danielmutis opened #4337 "Create editable fields within code snippets"
After speaking with Landscape's product manager, he suggested we implement an editable field feature within the code snippet; which could update other pieces of code where the user's input may be needed. An example would be a tutorial where all the steps depend on a project's name, and they could replace that word in all following steps of the tutorial.

There is an example of this being implement

[2022-02-22 17:09] danielmutis opened #4338 "Copying the contents of a code snippet copies also the dollar sign at the beginning"
An issue has been reported to me by Rajan Patel (PM of Landscape) about people complaining that when they copy the contents of a code snippet, they also copy the dollar sign at the beginning of the snippet; which is unnecessary.

[2022-02-22 17:58] bartaz commented on #4338
@danielmutis Do you have more context on where this problem occurs? Current code snippet component has $ as an icon that can't be selected or copied:

<img width="850" alt="Screenshot 2022-02-22 at 18 57 31" src="https://user-images.githubusercontent.com/83575/155191373-b71f84aa-3ae7-419f-844b-a7ab22b37115.png">

[2022-02-23 02:09] rajannpatel commented on #4338
This may be a symptom of us not using Vanilla features correctly, when publishing content.

2 examples of a $ sign being selectable:
1. https://ubuntu.com/tutorials/multipass-and-libvirt-vms-on-ubuntu-managed-via-landscape#1-overview
2. https://ubuntu.com/blog/get-started-with-linux-game-development-on-ubuntu

1 example of the $ sign not being used at all:
https://ubuntu.com/blog/replacing-docker-

[2022-02-23 08:08] bartaz commented on #4338
Thanks for the links @rajannpatel. Yes, these seem to errors in usage of code block. Both of the examples with $ have dollar sign as part of code block text, so obviously it's selectable. It would probably be better for users if $ was just removed from those.

But I guess it shows where the problem originates - in places where content is created (discourse or wordpress). They only provide standard

[2022-02-23 10:07] clagom commented on #4294
@danielmutis is going to meet the documentation team next week

[2022-02-23 10:10] clagom commented on #3923
WG: this issue might be blocked by: #3350

[2022-02-23 10:22] clagom commented on #4337
WG: @danielmutis to bring this up with the documentation team to double-check on the use-case

[2022-02-23 10:23] clagom commented on #4295
@marinacastejon I think this can be included in the spec of the data visualisation pattern, to inform how an empty state would be.

[2022-02-23 10:27] clagom commented on #4193
WG: validated, @wgx can you look at this next iteration? Sync with @cristinadresch in case please

[2022-02-24 09:29] #4320 closed

[2022-02-24 11:02] #4245 closed

[2022-02-24 11:09] #4307 closed

[2022-02-24 11:09] #4304 closed

[2022-02-24 11:09] #4305 closed

[2022-02-24 11:23] cristinadresch opened #4339 "Data Visualisation - Next steps"

[2022-02-24 15:07] anthonydillon commented on #4338
Due to the source of the content being external we can't convert that to the Vanilla pattern for code snippets. Therefore this content needs to remain basic. I have removed the `$` from the beginning of the commands to make the easier to copy.

[2022-02-24 15:07] #4338 closed

[2022-02-24 22:35] sowasred2012 opened #4341 "Dark themed side navigation visited links show as black text on dark grey"
**Describe the bug**

Looked for an existing issue but couldn't find one - if a link in the dark themed side navigation has been visited, the text becomes very difficult to read.

**To Reproduce**

Steps to reproduce the behavior:

- Visit [the dark side nav example](https://vanillaframework.io/docs/examples/patterns/side-navigation/dark)
- Click any of the links
- Every link in the example (becau

[2022-02-25 09:34] bartaz commented on #4341
Oh, good catch, how did we miss that?

[2022-02-28 14:04] #4341 closed

[2022-03-03 09:41] rayito commented on #4019
[First version of the spec](https://docs.google.com/document/d/1gAq0oliQ5XEPuwJs8IUrdZNBKFuEWjSyLDuGeC4oSNw/edit?usp=sharing)

Please have a look, there are things I am not completely sure about (like the possibility of using new colours and not only the predefined ones).

[2022-03-03 11:33] wgx commented on #4193
**Visual thoughts**

Agree the warning seems mis-aligned, but not by much. Nudging it a few pixels down and 1px right seems to space it better - but will defer to a visual expert.

![image](https://user-images.githubusercontent.com/930099/156555739-d0451da4-8cc2-44a1-a91d-91590a059d16.png)

**UX thoughts**

The main goals should be:

1. Make users instantly aware there is an error
2. Allow users t

[2022-03-04 09:26] cristinadresch commented on #4282
@amylily1011 can you review the visuals that Lyubo put together pls

[2022-03-04 14:33] bartaz opened #4350 "Investigate SCSS comments parser for class reference"
During hackaton we discovered scss-comment-parser and CDocParser

scss-comment-parser: https://github.com/SassDoc/scss-comment-parser
CDocParser: https://github.com/FWeinb/CDocParser

We could look into using one of them to parse custom annotations from the SCSS code to build class reference.

[2022-03-04 14:34] bartaz commented on #4350
Branch with POC after hackaton: https://github.com/canonical-web-and-design/vanilla-framework/tree/classreference-scss-docs-parsing

[2022-03-04 14:35] bartaz commented on #4350
Some notes from the code for reference:

https://github.com/canonical-web-and-design/vanilla-framework/blob/def0c74b0fb22779531d09a8b1286ff03cfdd762/scripts/create-class-references.js#L4-L23

[2022-03-07 09:37] danielmutis commented on #4193
I agree with the UX recommendations. Visually, I am not sure whether the error on a single-line checkbox should be aligned with the text rather than with the box. Maybe @lyubomir-popov can take a look.

[2022-03-07 09:56] lyubomir-popov commented on #4193
@danielmutis I would propose something like this:
![image](https://user-images.githubusercontent.com/2741678/157008731-0dac378e-0743-4121-84a4-7c77c6a1713b.png)

[2022-03-07 11:00] danielmutis commented on #4193
I think this is a good approach when the error is related to only one checkbox, but not when it relates to the whole list (in this case I would align it as per Will's example).

[2022-03-07 11:16] bethcollins92 opened #4351 "Written interview"

[2022-03-07 11:17] bethcollins92 opened #4352 "Written interview"

[2022-03-07 11:19] lyubomir-popov commented on #4193
@danielmutis good point, I'll add a design for that too. Can you think of a plausible example for groups of checkboxes? I'm finding it difficult to come up with a scenario where the message applies to more than one.

[2022-03-07 11:25] lyubomir-popov commented on #4193
"You can't register unless you also subscribe to the newsletter" isn't very plausible, but in terms of design, when the message applies to more than one checkbox, maybe something like this:

![image](https://user-images.githubusercontent.com/2741678/157022434-0dc878a5-4f1c-4b54-bb6b-10eb48bb6414.png)

[2022-03-07 15:05] #4282 closed

[2022-03-07 15:05] lyubomir-popov commented on #4282
@amylily1011 final visuals for the images that need replacing are in https://www.figma.com/file/Gay7v9kkqNwmGCNxK0RU0e/Command-link-example-mockups?node-id=0%3A1

[2022-03-07 15:34] amylily1011 commented on #3923
This is not blocked anymore, @lyubomir-popov added new visuals to the spec and the spec is updated on the ubuntu blog https://discourse.ubuntu.com/t/about-the-pattern-command-links-category/26520

[2022-03-07 15:38] lyubomir-popov commented on #3350
Some thoughts after testing the above decision on ubuntu.com:

1) Not sure whether this is due to the typeface, but underlines on ubuntu (especially light, thin) are surprisingly thick and unbalanced compared to the font-weight:

![image.png](https://images.zenhubusercontent.com/59d2496bb0222d5de479ea17/b4cacb17-549b-4489-b8d4-d9c81a4322d9)

2) ubuntu.com makes heavy use of links. So much so that

[2022-03-07 15:59] clagom commented on #3350
That underline is really something we need to fix in the new font @marcushas @waynecrosby, how come we didn't have this issue before?

[2022-03-08 02:12] huwshimi opened #4354 "All columns full width in the default example in docs"
**Describe the bug**

The columns in the "Grid / Default" example in the docs are all full width.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://vanillaframework.io/docs/patterns/grid
2. Scroll down to the "Grid / Default" example
3. See that all the columns are the full width of the container.

**Expected behavior**

I expected the columns to be the size defined by their cl

[2022-03-08 09:27] petesfrench opened #4355 "Update p-table--mobile-card to use mobile friendly breakpoint"
## Pattern to amend

`p-table--mobile-card`

Currently the breakpoint for this class is set to 1035px but should be set to 485px as it is for mobile view only.

[2022-03-08 09:28] elioqoshi opened #4356 "Ubuntu Pro installer (server+desktop) copydoc"

[2022-03-08 09:29] cristinadresch commented on #4019
@rayito just checking you managed to review lyubo's comments in the doc?

[2022-03-08 09:41] waynecrosby commented on #3350
@clagom It is a common pattern for the underline to be slightly heavier, although the Thin is particularly heavy and more obvious. I think the amount of links makes it more obvious too. We've contacted Dalton Maag to get their input and will let you know their thoughts.

[2022-03-08 09:49] rayito commented on #4019
Yes, I did, changed some lines and will check with him about the last one.

[2022-03-08 09:54] bethcollins92 opened #4357 "Numbered lines appear outside numbered code snippet block"
**Describe the bug**

On this [blog post](https://ubuntu.com/blog/planning-phased-ubuntu-22-04-enterprise-desktop-upgrades-with-landscape) the numbered code appears broken. This is because the `p-code-snippet__line` class is being used oustide of the `--numbered` code block.

**Expected behavior**

If the `p-code-snippet__line` class is added outside of the numbered block, the numbered styles shou

[2022-03-08 09:57] spencerbygraves commented on #4193
Thanks @lyubomir-popov, I think this looks good.

[2022-03-08 10:15] lyubomir-popov commented on #3350
Update:  this can be controlled via the `text-decoration-thickness` css property, although it would be good for the font metric to be updated (`text-decoration-thickness: from-font;` is the default it seems). Here is an updated example:
![ubuntu com_ (6)](https://user-images.githubusercontent.com/2741678/157216129-8968881e-2dff-44b8-b937-25cefa80f9a2.png)

[2022-03-08 10:29] #4351 closed

[2022-03-08 11:22] #4352 closed

[2022-03-08 11:39] lyubomir-popov commented on #3350
Update: there's also a property for underline offset, I've used it to distance the underline from the text, which improves legibility to a certain extent.

Still, the excessive use of links is something to think about in a separate conversation.

As to the choice here, the options are presented in this zeplin project: https://app.zeplin.io/project/62273eecef3ac2b9258f9440
Please visit the link and

[2022-03-08 12:20] #4331 closed

[2022-03-08 14:09] elioqoshi commented on #4356
First draft is here: https://docs.google.com/document/d/1Fq9lombUx04OMwi-KSXws7CVmofnLfeFi4gxMUoSnws/edit?usp=sharing

Doesn't need a UX review as Mark will likely look at this himself as well. But FYI @wgx

[2022-03-09 10:16] clagom commented on #4193
WG: @wgx to write UX spec to specify how we handle errors, including visually.

[2022-03-09 10:25] #3923 closed

[2022-03-09 10:30] #3922 closed

[2022-03-09 10:33] #3604 closed

[2022-03-09 10:43] clagom commented on #4355
WG: we wouldn't recommend changing this default value and behaviour because it depends on the particular use case of the product. We covered this responsive aspects in our modular table spec: https://discourse.ubuntu.com/t/responsive-behaviours/19855
Can you provide more information on what you would need in this case @petesfrench?

[2022-03-09 12:33] petesfrench commented on #4355
@clagom It was @davegoddard42 who originally brought it to my attention when we were working on the comparison table on https://microk8s.io/compare. The table responds as expected and is completely readable, but Dave asked if it was possible to have it change to cards at a smaller size. I thought that maybe it was oversight as the name `--mobile-card` implies it only applies to mobile (small) scre

[2022-03-09 13:31] bartaz commented on #4355
@petesfrench Yes, this is intended for the tables to turn into cards on medium and small screens (below ~1000px), but I also agree that the name may make it a bit confusing.

As for the page you linked, you seem to be missing some headings in HTML attributes I think, because right now mobile cards make the data incomprehensible.

<img width="618" alt="Screenshot 2022-03-09 at 14 27 16" src="https:

[2022-03-09 13:33] bartaz commented on #4355
@petesfrench In case of customising table mobile card pattern - I believe right now to change the breakpoint it uses you would need to practically copy the whole pattern and use it with different breakpoint. Let us know how challanging it is - maybe we can extract this pattern in a way that will make it easier to configure.

[2022-03-09 13:42] davegoddard42 commented on #4355
@bartaz The first issue @petesfrench was trying to solve was the fact that the data is incomprehensible due to the missing headers. The current breakpoint (1000px) feels way too early on this particular page, which is why we started to explore the breakpoint a bit.

I actually agree though on this page breaking the rows into cards, as opposed to columns is a better way to handle this data table. I

[2022-03-09 14:47] petesfrench commented on #4355
@bartaz Thanks for the feedback, If customizing the class is going to be complicated I think it is best to stick with current functionality of vanilla. So let's go with that @davegoddard42

[2022-03-09 14:48] petesfrench commented on #4355
Closing as we found a work around for the specific use case

[2022-03-09 14:48] #4355 closed

[2022-03-10 10:06] bethcollins92 commented on #4186
@lyubomir-popov - Not too sure what you mean by this. Currently, if you're using the `hr` on a dark background you can add the ".is-dark" class to it to use the light line fill. Is this not the expected behaviour?

[2022-03-10 10:52] lyubomir-popov commented on #4186
You are right, I don't know why I was expecting it to be working without the class. Closing this.

[2022-03-15 12:08] #4356 closed

[2022-03-16 09:28] #4284 closed

[2022-03-16 10:43] cristinadresch commented on #4303
Created a phase 2 epic here https://app.zenhub.com/workspaces/-design-system-tribe-59438c953747487777fbe484/issues/canonical-web-and-design/vanilla-squad/1237

[2022-03-16 12:32] #4357 closed

[2022-03-17 09:31] cristinadresch commented on #3350
@pmahnke any thoughts on next steps for this, did you manage to show the demo link around?

[2022-03-17 11:48] pmahnke commented on #3350
I haven't really shown it around too much, just Thibaut (who said it was 'like the 90's web'). Some things I noticed.

![image](https://user-images.githubusercontent.com/441217/158801235-85053cd0-73a0-4bc3-a18b-3b1d2dbfb338.png)
I know it is a quick demo, but I wouldn't like the underline in some situations and I am not sure how that would mess things up.

![image](https://user-images.githubuserco

[2022-03-17 12:08] lyubomir-popov commented on #3350
Thanks @pmahnke, I think that settles it right @clagom? We limit this to dark backgrounds, leaving 99% of pages unaffected.

[2022-03-17 13:31] lyubomir-popov commented on #3350
Sure, I'll make some mockups

[2022-03-17 13:56] lyubomir-popov commented on #4019
@eden finally had a look at this, much better thanks. I've +1'd it and I resolved the comment.

[2022-03-17 14:50] lyubomir-popov commented on #3350
(Trying an email reply as github is having issues, hope this gets displayed
correctly).

@clagom The alternative we discussed in the WG UX/UI meetings was as
follows:
1) Limit underlines to the dark theme.  On dark backgrounds, apply both
colour and underline for maximum clarity:

![image](
https://user-images.githubusercontent.com/2741678/158828189-744003e8-89af-4cbb-8024-13c292861e11.png
)

2) I

[2022-03-17 14:52] lyubomir-popov commented on #3350
@clagom The alternative we discussed in the WG UX/UI meetings was as follows:
1) Limit underlines to the dark theme.  On dark backgrounds, apply both colour and underline for maximum clarity:

![image](https://user-images.githubusercontent.com/2741678/158828189-744003e8-89af-4cbb-8024-13c292861e11.png)

2) In cases where the background colour is too light to ensure 4.5:1 contrast between link colo

[2022-03-17 15:01] clagom commented on #3350
Thanks @lyubomir-popov. It seems hard to find a simpler solution, unfortunately, without compromising quality. I hope Vanilla can scale to be this modular and that hopefully the QA of our process is enough to catch inconsistencies.

[2022-03-17 15:51] lyubomir-popov commented on #3350
It's a complex set of usecases and accessibility requirements, which is why we originally wanted one treatment for both light and dark themes, in order to simplify the logic. With that option removed, it is indeed hard to simplify the rules around link styling any further.

I see no scalability issues - these are just classes that get applied on request, nothing is automatic, but we do need to wat

[2022-03-17 15:53] clagom commented on #3350
Yes that makes sense @lyubomir-popov, thanks for your work, helped a lot

[2022-03-18 07:15] AnnSoMuller commented on #4193
Seems ok for me for the 2 changes mentioned :)

However, for the wording (I know that wasn't the subject here), I would advice also recommendations
e.g: Consistency, condensed sentences, use affirmative etc.
"_You can't register without agreeing to the terms of service_" might become
"_You must agree to the terms of service to register_" in line with "_you must choose a delivery method_"

[2022-03-18 07:16] AnnSoMuller commented on #4193
so review +1 👍

[2022-03-18 08:43] wgx commented on #4193
Thanks @AnnSoMuller  - I'll go ahead and write up the spec over the coming week.

[2022-03-18 09:27] #4019 closed

[2022-03-18 10:14] lyubomir-popov commented on #3350
@anthonydillon the inverted link component will have 2 flavours:

#### When to use:
When links are surrounded by regular, non-clickable text. Depending on the background, there are 2 choises:
- underlined blue link - the default, which is intended for links on backgrounds #2d2d2d or lighter
- underlined white link - on backgrounds lighter thant #2d2d2d, where it is impossible to obtain a blue colo

[2022-03-18 13:15] anthonydillon commented on #3350
It's clear, thank you @lyubomir-popov. Few questions?

Can we programmaticly provide the best varieant when we know the situation (via strip maybe)?

What do we do about situations like mega nav? There should be a version of this pattern that covers that situation.

Should be create a fresh modifier of the link pattern? Invert is clear of dark background but now we have more purpose which should b

[2022-03-18 13:20] clagom commented on #3350
That is also my concern, that's why we tried having a simpler solution that worked across all those situations, even if it _looked worse_ :)

[2022-03-18 13:59] lyubomir-popov commented on #3350
@anthonydillon @clagom

Possibly - suru strips could force the colour to be white for example... But this feels like a precedent. Do we change button styling depending on the parent? It seems like an analogous situation, and the buttons have even more flavours.

We don't use it there (first bullet point in the "When not to use" section). We tried mixing links and text inside the navigation with @d

[2022-03-18 14:09] lyubomir-popov commented on #3350
Sorry after I wrote this I had an idea that could simplify things a bit - what if on backgrounds darker than #2d2d2d we simply use a link with a ".is-on-dark" class or something? This way the inverted link will only cover the scenario where the background is a gradient or image, and for the normal dark theme on solid background we just have a different blue that is accessible? The same way it is h

[2022-03-21 14:52] clagom commented on #3350
+1 @lyubomir-popov I think this proposal simplifies the guidelines to a fewer use-cases, easier to apply.

[2022-03-22 03:37] huwshimi opened #4366 "Support aria-pressed on chips with dismiss"
## Pattern to amend

Chip

## Change

Support the `aria-pressed` attribute and hover state on chips that include a dismiss button.

## Context

This is required for chips that need to have both a dismiss button and an active state.

Specifically this is to support the following UI in MAAS:

https://www.figma.com/file/AFw4WN623gie2Fi34btFlZ/%5B22.04%5D-Tag-management?node-id=834%3A20476

## Usage

[2022-03-22 05:10] huwshimi commented on #4366
This was my initial attempt: https://github.com/canonical-web-and-design/vanilla-framework/compare/main...huwshimi:clickable-dismissible-chip but I couldn't figure out a way to prevent the hover/click states from propagating from the dismiss button to the span.

[2022-03-22 07:17] bartaz commented on #4366
@huwshimi Why do you want chip to be interactive itself? From UX and accessibility point of view interactive elements should not be nested, that's why chip with dismiss is implemented as a span not a button.

[2022-03-22 07:24] bartaz opened #4367 "Better name for Vanilla "labels""
In browsers the "label" element is used in forms to describe a form field.

We introduced another "label" component into Vanilla that has completely different purpose.

![Screenshot 2022-03-22 at 08.28.33.png](https://images.zenhubusercontent.com/593a660851aa2c30578102bb/9a2a7c2a-87b2-445e-8c5d-57fe455df5f6)

The name "label" is not only confusing (because it conflicts with a form label), but is a

[2022-03-22 08:43] huwshimi commented on #4366
It's for this UI: https://www.figma.com/file/AFw4WN623gie2Fi34btFlZ/%5B22.04%5D-Tag-management?node-id=834%3A20476

When you click one of the chips the details of the tag appears on the right hand side.

[2022-03-22 09:03] huwshimi commented on #4366
@bartaz Also, if you think we shouldn't be doing this it's probably worth having a chat with @lyubomir-popov and @rayito so they can redesign that screen.

[2022-03-22 09:28] #4133 closed

[2022-03-22 11:56] lyubomir-popov commented on #4366
@bartaz we agreed to redesign the ui, no need for changing the chjip behaviour.

[2022-03-22 22:04] anthonydillon commented on #3350
I am sorry @lyubomir-popov I am trying to wrap my head around the aspects of this proposal and failing. May you take me through it or provide pseudo CSS with comments for me?

[2022-03-22 22:59] #4366 closed

[2022-03-23 09:31] lyubomir-popov commented on #3350
@anthonydillon something like this, maybe with a note in the docs that the two classes shouldn't be applied simultaneously:

[code]

[2022-03-23 09:48] anthonydillon commented on #3350
After @lyubomir-popov kindly explained the proposal I am ok with the renaming of the classes but of course not set in stone and will need more thinking to ensure there are no issues introduced by the new class names.

[2022-03-23 10:06] lyubomir-popov opened #4368 "Inverted link update, link on dark surfaces - build"
This is a stub build issue for the following design issue, which has now been resolved:  #3350

[2022-03-23 10:20] clagom commented on #3376
WG: @lyubomir-popov  to have a look at the visual spec and talk with devs for the implementation

[2022-03-23 10:42] clagom commented on #4337
WG: @danielmutis please add it to your slides to discuss it with the documentation team

[2022-03-23 14:17] bethcollins92 opened #4370 "Meet and Greet"

[2022-03-23 16:43] lyubomir-popov commented on #4301
https://manager.assets.ubuntu.com/?q=logo-section-logos

[2022-03-24 08:40] fitojb commented on #4367
What about “badges”?

[2022-03-24 10:04] danielmutis commented on #4337
That's a good idea, I will add it!

[2022-03-25 15:18] vitalijalbu opened #4373 "Is there a build .js file with all components in it?"
Hi, I wonder if there's a build .js file with all components in it, like modals, dropdowns and so on.. like bootstrap. Thanks.

[2022-03-25 19:41] bartaz commented on #4373
Hi @vitalijalbu, unfortunately there is not, all we can provide for now is an example JS for any component that needs it, available in a dropdown on any example:
<img width="850" alt="Screenshot 2022-03-25 at 20 39 23" src="https://user-images.githubusercontent.com/83575/160190044-614efb5f-84e4-4867-958b-46b9b38104f8.png">

We do plan to include JavaScript in Vanilla npm package, but its not there

[2022-03-28 09:56] bethcollins92 opened #4374 "New navigation"

[2022-03-28 09:57] bethcollins92 opened #4375 "[New navigation] New logos"

[2022-03-28 09:58] bethcollins92 opened #4376 "[New navigation] Search (on mobile)"

[2022-03-28 09:58] bethcollins92 opened #4377 "[New navigation] Mobile dropdown adjustments"

[2022-03-28 09:59] bethcollins92 opened #4378 "[New navigation] Investigate light theme"

[2022-03-28 09:59] bethcollins92 opened #4379 "[New navigation] Investigate backwards compatibility"

[2022-03-28 10:00] bethcollins92 commented on #4376
See the [design](https://www.figma.com/file/BSP7FqnRMcMvO7kCozJKUa/Ubuntu.com-navigation-update-Iteration-9?node-id=0%3A1832). The search should remain in the top of the nav in mobile view similar to desktop

[2022-03-28 10:04] bethcollins92 commented on #4377
There needs to be some small amendments to the mobile dropdown, including indentation and spacing

[2022-03-28 10:05] bethcollins92 commented on #4379
We need to check if the updated nav will still work with the old logo. Maybe we could use a flag variable to indicate which version to use

[2022-03-28 10:06] bethcollins92 commented on #4375
There is a [PR](https://github.com/canonical-web-and-design/canonical.com/pull/500) here with most of what we need already implemented

[2022-03-29 08:39] bethcollins92 commented on #4378
This is being investigated in this [PR](https://github.com/canonical-web-and-design/vanilla-framework/pull/4380). This can be closed when the PR is merged

[2022-03-29 08:40] bethcollins92 commented on #4379
This is being investigated in this [PR](https://github.com/canonical-web-and-design/vanilla-framework/pull/4380). We've used a different classname for the new logo to ensure the old one doesn't break

[2022-03-30 08:59] vitalijalbu commented on #4374
Would be fine to add some effects to the navigation, like a collapse effect (like bootstrap or something else).

[2022-03-30 13:23] bethcollins92 opened #4383 "[New navigation] Top nav adjustments"

[2022-03-30 14:46] bethcollins92 opened #4384 "[New navigation] Try it now button"

[2022-03-31 10:46] #4378 closed

[2022-03-31 10:46] #4379 closed

[2022-03-31 10:57] #4375 closed

[2022-03-31 16:40] amylily1011 opened #4387 "The checkbox indicates a select all when a user partially selects items from the list."

[2022-04-01 10:34] wgx commented on #4193
@cristinadresch @clagom  I've re-approached this with a spec:

https://docs.google.com/document/d/1JO4sW0POd7oN86pUm5GEz_cIUEj46sSH5d5ljXOam20/edit#

This isn't the normal spec format because this is a sub-behaviour of checkboxes and radios, so not sure if we do really want to handle it as a separate component, or if we want to bring these behaviours into the specs for checkboxes and radios?

[2022-04-01 12:37] danielmutis commented on #4123
Left some comments on the doc with some suggestions.

[2022-04-04 08:33] lyubomir-popov opened #4391 "Propose bundle clearer design for charmhub cards -work with AnnSo"

[2022-04-04 08:43] lyubomir-popov opened #4392 "Nav spacing pr"
Improve spacing of logo in new navigation

[2022-04-04 11:10] bartaz commented on #4367
Some suggestions to discuss on WG:

- badge (https://getbootstrap.com/docs/5.1/components/badge/)
  - we are currently have plans for another "badge" component (a counter badge)
  - bootstrap uses "badge" for both - text and counters
- status
- status label
  - this probably is not always a "status"
- tag (https://www.carbondesignsystem.com/components/tag/usage) (https://design-system.service.gov.

[2022-04-04 12:36] lyubomir-popov commented on #4367
My proposal is to just use `em` with an optional dot:

![image](https://user-images.githubusercontent.com/2741678/161544741-a9780e51-9cac-4e43-b09b-bc2396cc7eea.png)

[2022-04-04 20:36] anthonydillon opened #4393 "Websites latest version is ahead of the releases"
**Describe the bug**

The website has been released with the next version number bumped in the package.json but the package has not been released so is incorrect and the hotlink in docs is 404'ing.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to https://vanillaframework.io and see the last version is v3.1.2
2. Go to https://github.com/canonical-web-and-design/vanilla-framework/relea

[2022-04-05 05:24] bartaz commented on #4393
Ups, sorry, must have happened after reverting from April Fools.
Reverted to correct image in prod now.

[2022-04-05 05:24] #4393 closed

[2022-04-05 21:25] davegoddard42 commented on #4071
I asked the design team to [try and find any input fields](https://miro.com/app/board/uXjVOHYZffE=/?invite_link_id=853117013314) within our sites and products that lacked a label - every example was a search box. The [Vanilla guidelines](https://vanillaframework.io/docs/base/forms) state that input fields consist of a text input and a label. This appears to be adhered to, and the issue is confined

[2022-04-06 07:04] danielmutis commented on #4193
@wgx I think this is good, but it should probably be a section of the forms spec. I will add this to that epic and maybe we can revisit it when we work on those.

[2022-04-06 09:15] clagom commented on #4337
WG: best to investigate the implementation challenge before spending time on designing the feature. Implementing this in Discourse might require a lot of JS, if even possible.

[2022-04-06 09:30] clagom commented on #4367
WG: use "status label" as the new name for the component.
We probably need to amend our UX spec.

[2022-04-06 09:32] #4193 closed

[2022-04-06 09:34] bartaz opened #4395 "Rename "p-label" to "p-status-label""
As a follow up to vanilla-framework#4367 we should rename current "Label" component to "Status label".

Old class name (`p-label`) needs to be still working but marked deprecated and new one (`p-status-label`) should be introduced.

TODO:
- [x] add new `p-status-label` class name to SCSS (keep the old one)
- [x] update all existing examples to use new class name
- [x] add an "deprecated" example u

[2022-04-06 09:35] bartaz commented on #4367
To follow up:

UX spec: vanilla-squad#1323
Rename it in Vanilla: vanilla-framework#4395

[2022-04-06 09:35] #4367 closed

[2022-04-06 09:44] clagom commented on #4071
WG: @davegoddard42 @marinacastejon (and @wgx from the other search-related issue) are going to review our search and filter spec and eventually amend/integrate it.

[2022-04-06 11:27] bartaz commented on #4392
Closed via #4394

[2022-04-07 08:16] elioqoshi commented on #4123
@danielmutis ready for re-review

@cristinadresch @clagom should the next step be visuals or should I draft this into Discourse?

[2022-04-07 08:28] #4392 closed

[2022-04-07 10:12] bethcollins92 commented on #4377
We are going to leave this for now as it doesn't look broken how the alignment currently is

[2022-04-07 10:12] #4377 closed

[2022-04-07 12:05] clagom commented on #4123
We can publish to Discourse (web and design one) and then update with visuals later, or wait for the visuals and publish all together.

[2022-04-07 14:37] clagom commented on #4123
Thanks @elioqoshi, I just moved it from "discussion" to "web and design" naming it [Pattern] as the other specs. https://discourse.ubuntu.com/t/pattern-accordion/27604

[2022-04-07 14:39] clagom commented on #4123
Also, one thing, do we want to keep the "considerations and references" bits public? I assumed it was just for WIP

[2022-04-08 08:22] elioqoshi opened #4397 "Accordion update - build"
Based on the [new accordion specs](https://discourse.ubuntu.com/t/pattern-accordion/27604), the updates should be built (including the updated icons and eventually animations)

TODO:
- [x] change icon from +/- to chevron
- [x] make the chevron icon animate (rotate) on open/close

[2022-04-08 08:57] elioqoshi commented on #4397
Quick prototype of open/close animation:
https://www.figma.com/proto/SzgqbgH9TQU5hE9qL5ajuC/Accordion-Specs?page-id=27%3A182&node-id=30%3A801&viewport=359%2C48%2C0.96&scaling=min-zoom&starting-point-node-id=29%3A997

[2022-04-11 07:28] lyubomir-popov opened #4398 "Logo section: new logos"
@petesfrench the logos you requested:
https://assets.ubuntu.com/v1/19487741-acrn-logo.png
https://assets.ubuntu.com/v1/5ad2c156-edgex-logo.png
https://assets.ubuntu.com/v1/f75edbad-Group+4.png
https://assets.ubuntu.com/v1/841a3f26-OpenCV-logo.png
https://assets.ubuntu.com/v1/389dee91-openvino-logo.png
https://assets.ubuntu.com/v1/f41c87c6-pytorch-logo.png
https://assets.ubuntu.com/v1/2dfdbe49-spar

[2022-04-11 07:29] #4398 closed

[2022-04-11 08:29] elioqoshi commented on #4391
@lyubomir-popov to follow up with @spencerbygraves

[2022-04-11 08:31] anthonydillon commented on #4391
Could you add some information to the issue please? This is too obscure for an open project.

[2022-04-11 10:13] lyubomir-popov commented on #4123
LGTM @elioqoshi

[2022-04-12 08:27] #4123 closed

[2022-04-12 11:08] bartaz opened #4404 "Remove new logo from Vanilla website"
The Vanilla website in `new-navigation` feature branch is using new style of a logo. We should not show new logo there yet.

In top nav we should have good ol' style of a logo for now until it's officially released.

[2022-04-12 11:11] bartaz commented on #4404
New nav work is currently in `new-navigation` feature branch. So you need to branch out from that and make a PR agains this feature branch instead of `main`.

[2022-04-12 14:35] #4395 closed

[2022-04-13 08:10] #4376 closed

[2022-04-13 12:07] #4404 closed

[2022-04-13 12:07] #4374 closed

[2022-04-14 08:41] bartaz opened #4411 "Properly deprecate `vf-p-label`"
We removed `vf-p-label` mixin when renaming component to status label.

It may be used by other projects (https://github.com/search?q=org%3Acanonical-web-and-design+vf-p-label&type=code) and this would break their build (it already did[^1]).

We should bring the mixin back (it should be an alias for `vf-p-status-label`.
Also we should remove/update any `vf-p-label` mentions in the docs that may st

[2022-04-14 08:49] petermakowski opened #4412 "Tooltip on click should remain open until dismissed"
**Describe the bug**

-  Detached and regular Tooltip examples have a different behaviour.

- Both Detached[^1] and regular Tooltip should:
  - remain open until dismissed after opened by click (e.g. by using esc key or clicking outside).
  - close when pressing an `Esc` key

**Additional context**
Ideally both variants should behave in exactly the same way as it's just an implementation detail wh

[2022-04-14 08:51] bartaz commented on #4412
In Vanilla CSS framework the distinction between "detached" and standard tooltip is that the standard one is pure CSS, it is only triggered by hover and it can't be controlled with JavaScript (it can't stay open after mouse moves away, it can't be controled via key events). The "detached" variant is for situations when we want to control the tooltip via scripting (therefore this is the only "varia

[2022-04-14 08:54] petermakowski commented on #4412
Thanks! Gotcha, in that case let's limit the scope of this issue to the detached tooltip. Updated the description.

[2022-04-14 09:00] bartaz commented on #4412
@petermakowski Currently we have only examples that are opened by hover (even the detached one) - so I guess these should stay as they are (the show on hover, and are hidden when mouse moves away).

You want a separate behaviour for tooltips triggered by click? For them to behave like a contextual menu - stay open until dismissed?

[2022-04-14 11:15] petermakowski commented on #4412
That's the behaviour that I had in mind, yes. It seems that the regular tooltip example work in this way already - stays open until dismissed after click.

[2022-04-14 11:18] petermakowski commented on #4412
Just to clarify, what I mean (and what @rayito suggested) is that the tooltip should open on click as well as on hover/focus. With the only difference being that after you open a tooltip by click it only closes when you dismiss it (either by esc, or click outside).

[2022-04-19 09:31] clagom commented on #3758
@amylily1011 can you please update here with the link to the docs, then close this issue, thanks

[2022-04-19 10:04] marinacastejon commented on #4295
Hi @amylily1011 @AnnSoMuller @wgx , please take a look at my proposal [here](https://docs.google.com/document/d/1x4KQJBZU1Rw91zKR7XUeZ0HtqueO3ijNQ5MKGLcStOo/edit#).

[2022-04-19 14:15] bartaz opened #4418 "Misaligned accordion icons"
Accordion icons are misaligned on smaller screens (below 1033px)

![image.png](https://images.zenhubusercontent.com/593a660851aa2c30578102bb/b9d7866e-225c-45d9-85ce-fc3eb53f21de)

[2022-04-19 14:16] bartaz commented on #4418
It gets even more visible with new chevrons

[2022-04-19 15:19] danielmutis opened #4419 "Review segmented control specs with current template"

[2022-04-20 08:39] #4397 closed

[2022-04-20 09:10] danielmutis opened #4420 "Ubuntu.com/landscape"

[2022-04-20 09:10] danielmutis opened #4421 "Copy doc for ubuntu.com/landscape"

[2022-04-20 09:10] danielmutis opened #4422 "Copy doc for ubuntu.com/landscape/features"

[2022-04-20 09:11] danielmutis opened #4423 "Copy doc for ubuntu.com/landscape/try"

[2022-04-20 09:11] danielmutis opened #4425 "Copy doc for ubuntu.com/landscape/onprem"

[2022-04-20 09:12] danielmutis opened #4426 "Help PM setup discourse docs"

[2022-04-20 09:15] danielmutis commented on #4421
[Doc here](https://docs.google.com/document/d/1Q5KPVOn3yaexgSbkZHmXHmWzT5WG3ocYAPthweMwDz4/edit#)

[2022-04-20 09:32] danielmutis commented on #4422
[Copy doc](https://docs.google.com/document/d/1AM3pioDfZapMw_HpQOYei2k7IfiChu0YN8Iwp7JzWRY/edit#heading=h.lxyap6aitp8c)

[2022-04-20 09:54] AnnSoMuller commented on #4295
Good for me :)

[2022-04-20 09:56] elioqoshi opened #4428 "Firmware Updater: User Stories"

[2022-04-20 10:05] danielmutis commented on #4423
[Copy doc](https://docs.google.com/document/d/1pESmRniuiaDHkbzY_60GlOJdCiH2pZ9erI9KV49eDyM/edit#)

[2022-04-20 11:17] sowasred2012 opened #4429 "Middots appear to wrap to the next line before their item does"
**Describe the bug**

@minkyngkm just spotted this on https://github.com/canonical-web-and-design/canonical.com/pull/521#discussion_r854006532

When middot lists wrap, at certain points the middot will wrap before the text of the item it's related to does.

**To Reproduce**

Steps to reproduce the behavior:

- Visit https://vanillaframework.io/docs/examples/patterns/lists/lists-mid-dot-dark
- Redu

[2022-04-20 12:51] danielmutis commented on #4425
[Copy doc](https://docs.google.com/document/d/1tU1z9PUm_kSwGJEsopJibE4gI8Gfv_3Dw_qN2_io_ao/edit)

[2022-04-20 12:52] #4423 closed

[2022-04-20 12:52] #4421 closed

[2022-04-20 12:52] #4422 closed

[2022-04-20 12:52] #4425 closed

[2022-04-20 13:55] amylily1011 commented on #3758
This is the spec for the stepper: https://docs.google.com/document/d/1jh0eUSRtjEe-qqQTXv1rtZGvnOqOT29o53EVDd8g4dw/edit

[2022-04-20 13:56] amylily1011 commented on #4295
LGTM

[2022-04-20 14:48] bartaz opened #4433 "Add heading ids for content from discourse"
We are generating table of contents links in side navigation based on headings with ids.
Content from discourse doesn't have ids for headings.

To work around that we want to add the ids using JavaScript.

Current script that builds table of contents:
https://github.com/canonical-web-and-design/vanilla-framework/blob/70e4dc93686e8c75cecb5347174875d23ecc4834/templates/static/js/scripts.js#L101-L108

[2022-04-20 15:14] danielmutis commented on #4419
Note to self: remove the benchmarking section

[2022-04-21 08:16] #4411 closed

[2022-04-22 10:03] bartaz opened #4437 "Fix vertical align of icons in headings"
As discussed in https://github.com/canonical-web-and-design/vanilla-framework/pull/4424#discussion_r855225155 it seems we are resetting `vertical-align` to 0 for icons in headings and this is probably not what we expect.

This affects icons in: https://vanillaframework.io/docs/examples/utilities/font-metrics and in accordion.

We should have a look if we can adjust the position of the icons correc

[2022-04-22 11:06] #3017 closed

[2022-04-22 14:39] #4433 closed

[2022-04-25 14:00] bethcollins92 commented on #4294
This [PR](https://github.com/canonical-web-and-design/vanilla-framework/pull/4296) was a first draft of an expandable collapsable side nav. I imagine a lot will change so it won't be much use but leaving it here just incase someone can use it in the future.

[2022-04-26 01:36] huwshimi opened #4438 "p-divider__block doesn't handle responsive columns."
**Describe the bug**

When using p-divider__block with responsive columns (e.g. `col-medium-...`) the dividers move to horizontal before the columns.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://codepen.io/huwshimi/pen/VwyJjVY
2. Resize your window down to medium size.
3. See that the columns are still horizontal but the borders move to the top.
4. Resize down to mobile an

[2022-04-26 15:15] bethcollins92 commented on #4042
The contexrtual menu was [fixed](https://github.com/canonical-web-and-design/vanilla-framework/pull/4359) so this doc can now be finished and added to Vanilla

[2022-04-26 15:17] bethcollins92 commented on #4060
The issue is now fixed, so the doc is ready to be reviewed and added to the site

[2022-04-27 09:49] bethcollins92 opened #4440 "Spacing between title and content in docs"
**Describe the bug**

There is more spacing between the title and the docs on the pages which have tabs, than on the pages that don't.

**To Reproduce**

See the difference between cards and chips docs

**Expected behavior**

The spacing should be the same on both pages

**Screenshots**

![docs-title-strip](https://user-images.githubusercontent.com/83575/165475232-4c5fca12-81cb-4e97-874a-74c801583

[2022-04-28 07:47] #4134 closed

[2022-04-28 13:04] #4060 closed, assigned to bethcollins92

[2022-04-29 05:04] huwshimi opened #4444 "Navigation buttons aren't full width in mobile menu"
**Describe the bug**

When using a button in the Navigation component (e.g. `<button class="p-navigation__link" >Sign out</button>`) the element is not full width when displayed inside the mobile menu.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://codepen.io/huwshimi/pen/qBxWmLj
2. Resize down to mobile width.
3. Open the mobile menu.
4. See that the "Sign out" link is not

[2022-05-03 07:56] lyubomir-popov opened #4448 "u.c menu overflow component"
We need to design an "overflow" mechanism for cases where a page has too many items to display in the secondary navigation menu.
WIP [here](https://www.figma.com/file/BSP7FqnRMcMvO7kCozJKUa/Ubuntu.com-navigation-update-Iteration-9?node-id=3955%3A24193)

[2022-05-03 10:25] andesol opened #4449 "Links for code standards don't work"
The two links for code standards in `/contribute` are not working. (Because the practices website doesn't exist anymore)

**To Reproduce**

1. Go to https://vanillaframework.io/contribute
3. Scroll down till you see the guidelines card
4. Click in the links

[2022-05-04 12:49] #4042 closed

[2022-05-04 15:08] #3011 closed

[2022-05-05 06:58] danielmutis opened #4452 "[Component] Side navigation (enhancement)"
### Component design
- [ ] UX
- [ ] Visual
- [ ] UX spec
- [ ] UX spec signed off

### Accessibility
- [ ] Accessibility spec ([template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit))
- [ ] Accessibility signed off

### Figma file
- [ ] Vanilla figma file "future" label ([library](https://www.figma.com/file/H6MSsN3taoXXOJCPUbIImQ/Design-System-Library))
- [

[2022-05-05 07:00] danielmutis opened #4453 "[Component] Table (Enhancement)"
### Component design
- [x] UX
- [x] Visual
- [ ] UX spec ([template](https://docs.google.com/document/d/1RHNDu2RlcICMToFLhEOrPY2k0gbWRv90VZwiwhBATL8/edit#heading=h.vl792rhri207))
- [ ] UX spec signed off

### Accessibility
- [ ] Accessibility spec ([template](https://docs.google.com/document/d/1IwFMfJrTfJPXDcVJfLWXYkw-pjgWhBWo4GX8X098Q64/edit))
- [ ] Accessibility signed off

### Figma file
- [ ]

[2022-05-05 07:19] bartaz commented on #4412
@bethcollins92 Can you try to add this functionality to our detached tooltip example?

[2022-05-05 07:24] bartaz commented on #4438
I don't think it was intended to support mobile columns, just a predefined layout.

But I agree that the fact that it uses grid class names directly suggest any other grid class names can be used (including responsive).
We need to take a look if that's something we can fix (make it work with any grid columns), or we have to limit it to one predefined layout.

[2022-05-05 09:12] bartaz commented on #4440
We should wrap the titles in the strips in the same way like we do in case of tabs.
The issue is, that title is currently in the content of the markdown file, we have to remove it from there and use the `title` variable, as we do in other template.

[2022-05-05 09:15] bartaz commented on #4449
I think those were moves to discourse somewhere?

[2022-05-05 10:22] marinacastejon commented on #4295
@danielmutis , it was reviewed and +1'ed by AnnSo and Amy. Could you please look at it to ensure documentation consistency?

[2022-05-05 13:20] bethcollins92 commented on #4449
@bartaz do you know where on discourse? I wouldn't even know where to start...

[2022-05-05 13:23] waynecrosby opened #4456 "HPE Event design/artwork"

[2022-05-09 05:35] Caleb-Ellis opened #4458 "Side navigation with drawer explicitly sets background color to white"
**Describe the bug**

When using the side navigation pattern with the slide out drawer the full-screen version has a white background, which looks weird when the page background is a different colour.

**Expected behavior**

Either the side nav background is transparent or there is a way to set the colour.

**Screenshots**

![Screenshot 2022-05-09 at 15-33-14 General bolla MAAS](https://user-image

[2022-05-10 17:54] goulinkh opened #4459 "Beak the dependency between `l-fluid-breakout` and the variable `$grid-max-width`"
## Pattern to amend

`l-fluid-breakout`

## Context

I'm using the layout `fluid-breakout` for the main section of my application and I would like to align the other sections of my app with the main section, in the other sections I use components like `p-navigation` and `row`, so by doing the following, I expect the `max-width` of `grid/row` based components to have the same width:
[code]

The pro

[2022-05-11 07:30] bartaz commented on #4459
@goulinkh Can you show some screens of what do you are trying to achieve?

I don't know exactly from top of my head, but as far as I remember fluid breakout layout needs to align with the grid and therefore the use of grid-max-width there is intentional. If the main grid width changes it should affect how fluid breakout works (at least to my understanding).

I think being able to see what do you w

[2022-05-11 08:11] #4137 closed

[2022-05-11 08:12] bartaz commented on #4138
Lyubo did the logos.

[2022-05-11 08:12] #4138 closed

[2022-05-11 08:12] #4127 closed

[2022-05-11 08:46] goulinkh commented on #4459
@bartaz What I want to achieve is aligning the `row` section with the `fluid-breakout` section, here is an illustration:
![Screenshot from 2022-05-11 10-33-27](https://user-images.githubusercontent.com/36013798/167807697-e3a2157e-2cef-4b01-9860-3d375e3b6296.png)

Whereas the current behavior aligns different elements:
![Screenshot from 2022-05-11 10-33-27](https://user-images.githubusercontent.com

[2022-05-11 08:50] bartaz commented on #4459
Thanks @goulinkh.

Currently the layout behaves as expected - that's what it was designed to do - to "break out" of the grid width and allow showing the left hand side bar outside of the main "grid max width".

If you want to stay in side the grid I think you possibly don't need the fluid breakout layout? Just make the `grid-max-width` wider, and use standard grid class names for the content? Or d

[2022-05-11 09:00] goulinkh commented on #4459
I think I can achieve what I want by doing:
[code]

So basically my question is should this be the default behavior or something specific to my project @bartaz?

[2022-05-11 09:49] lyubomir-popov commented on #4459
I second what @bartaz said, this is not what the fluid layout was intended for. Why not just use the regular grid?

[2022-05-11 09:49] lyubomir-popov commented on #4459
this can be achieved very easily with the grid.

[2022-05-11 10:39] anthonydillon commented on #4459
The [current uses of the fluid grid](https://charmhub.io/) does have the navigation aligned as you had it before? Who is asking for the navigation alignment?

[2022-05-11 13:36] goulinkh commented on #4459
Closing this issue as I think that I miss understood the expected behavior of the fluid breakout. charmhub.io is making it clear of how it should look like.

Sorry for the disturbance and thanks for answering :+1:

[2022-05-11 13:36] #4459 closed

[2022-05-12 11:44] #4257 closed

[2022-05-12 12:46] petermakowski opened #4460 "New logo mark larger than the word mark"
#### logo mark is taller than the accompanying word mark
<img width="236" alt="image" src="https://user-images.githubusercontent.com/2741678/168072877-f313109b-b538-463a-a915-37a8a13e69db.png">

#### original logo for reference
<img width="1044" alt="image" src="https://user-images.githubusercontent.com/2741678/168073076-2cf30d7b-9547-4523-93de-5ab6b2458158.png">

---

This affects all instances w

[2022-05-12 12:58] bartaz commented on #4460
Seems that because the text is a heading it's affected by responsive font size:

![logo-size](https://user-images.githubusercontent.com/83575/168080015-67f8b9c2-ead4-4bc7-b10c-7aed193b882a.gif)

So the size of the font will depend on size of the screen. This may also affect line height and baseline alignment.

[2022-05-16 00:39] huwshimi opened #4461 "Mobile navigation menu has different styles when using has-menu-open"
**Describe the bug**

When using `has-menu-open` to display the mobile Navigation menu there is a grey background whereas displaying the mobile menu without using the class does not add the background.

**To Reproduce**

Steps to reproduce the behavior:

Visit https://codepen.io/huwshimi/pen/poaRgVa.
Resize down to mobile size.
Click Menu and see that the mobile menu has a grey background.
Visit h

[2022-05-17 07:43] bartaz commented on #4449
It seems practices was moved into webteam portal: https://webteam.canonical.com/practices

Relevant pages: https://webteam.canonical.com/practices/html-code-standards https://webteam.canonical.com/practices/css

[2022-05-17 07:46] bartaz commented on #4429
Bumping priority to High as it is quite a visible bug on specs.canonical.com

[2022-05-17 09:52] #4449 closed

[2022-05-17 15:14] #4294 closed

[2022-05-17 15:14] #4426 closed

[2022-05-18 07:42] marcushas opened #4463 "Interim guidelines - STAGE 1"

[2022-05-18 07:49] marcushas opened #4464 "New logo variants"

[2022-05-18 08:58] danielmutis commented on #4295
I think we could include this as part of "Behaviour" in the overall spec for Data Vis. The content looks good to me, I just think maybe we don't need a full page just for this.

[2022-05-18 09:33] bartaz commented on #4460
@lyubomir-popov Could you have a look and confirm what is the desired font size (I guess it's not meant to change in same way like standard headings do), and what the alignment against the logo should it have?

[2022-05-18 09:38] #4295 closed

[2022-05-18 09:41] clagom commented on #3994
WG: moving to dev and eventually QA design wise

[2022-05-18 09:43] clagom commented on #3758
WG: @lidia-luna is going to organise usability testing to move this forward.

[2022-05-18 09:55] clagom commented on #3990
Not for 22.10

[2022-05-19 15:53] waynecrosby opened #4465 "HP_Screenshots for Jammy Jellyfish"

[2022-05-19 15:56] marcushas opened #4466 "Interim guidelines stg 2"

[2022-05-19 16:07] marcushas opened #4467 "Interim guidelines stg2"

[2022-05-19 16:11] #4467 closed

[2022-05-19 16:12] #4466 closed

[2022-05-20 16:04] waynecrosby opened #4469 "Canonical.com - Page designs"

[2022-05-20 16:08] waynecrosby opened #4470 "[Illustrations] Social posts"

[2022-05-25 08:54] andesol opened #4471 "[Inline list] Extra space between list items"
**Describe the bug**

Since list items are inline elements (in the inline list), the following html renders an extra space at the end of each item.

[code]

More context [in this PR](https://github.com/canonical-web-and-design/specs.canonical.com/pull/74)

**To Reproduce**

Check [this example](https://codepen.io/andesol/pen/MWQOazB).

**Screenshots**

![image](https://user-images.githubuserconten

[2022-05-27 08:24] #4420 closed

[2022-05-30 07:57] danielmutis opened #4472 "Review spec template"
[Current template.](https://docs.google.com/document/d/1RHNDu2RlcICMToFLhEOrPY2k0gbWRv90VZwiwhBATL8/edit#heading=h.vl792rhri207)

[2022-05-30 07:58] danielmutis opened #4473 "[Review spec template] Gather feedback"

[2022-05-30 07:59] danielmutis opened #4474 "[Review spec template] Review structure and instructions"

[2022-05-30 08:00] danielmutis opened #4475 "[Review spec template] Benchmark other systems"

[2022-05-30 08:01] danielmutis opened #4476 "[Review spec template] Create example spec for reference"

[2022-06-01 08:27] #4448 closed

[2022-06-06 09:43] petermakowski opened #4481 "Tabs aria-selected is not supported on role link"
**Describe the bug**

Tabs example suggests using semantics that's not supported and throws an accessibility error.

"aria-selected is not supported on role link"

 We should investigate using different semantics when displaying tabs as links. Maybe we could use `aria-current="section"` instead?

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://vanillaframework.io/docs/patterns

[2022-06-07 20:54] anthonydillon opened #4484 "Docs navigation is not working on small screens"
**Describe the bug**

The side navigation on small screen doors not close when clicking an in page anchor.

**To Reproduce**

Steps to reproduce the behavior:

1. When viewing the [cards docs page](https://vanillaframework.io/docs/patterns/card) on your phone
2. Click on "Toggle side navigation"
3. Scroll down to the menu and click "Content bleed"
4. See the menu does not close

**Expected behavio

[2022-06-08 11:22] bartaz opened #4485 "Embedded examples are quite useless for side navigation"
Side navigation embedded examples show only small screen view (being just a button) and don't have enough space to properly show the side nav when opened.

![side-nav-docs](https://user-images.githubusercontent.com/83575/172604456-b11f8b94-4fc9-48e5-bc92-a65b4ba40fe6.gif)

[2022-06-08 11:56] bartaz opened #4486 ""Search" patterns selected in side nav on search results page"
Go to any search results page. In side nav search patterns are highlighted as if this was the current page:

<img width="535" alt="image" src="https://user-images.githubusercontent.com/83575/172610651-3574cf24-2f71-402d-937f-ad2604736976.png">

[2022-06-08 15:35] #4485 closed, assigned to nobody

[2022-06-09 06:14] carkod opened #4488 "Sticky table of contents"
## Pattern to amend

Sticky option for [Table of contents pattern](https://vanillaframework.io/docs/patterns/table-of-contents)

## Visual

The privacy page of u.com already has an implementation. Open the link and scroll to see the effect
https://ubuntu.com/legal/data-privacy

## Context

In what context does your amendment solve a problem?

[2022-06-09 07:58] #4484 closed

[2022-06-09 13:07] danielmutis commented on #4473
Feedback gathered on design assembly [here](https://miro.com/app/board/uXjVOw32j_A=/).

[2022-06-10 06:22] bartaz opened #4490 "Side navigation items are bold and not indented if they are child of a title element"
**Describe the bug**

If navigation with `p-side-navigation__item--title` class has children items they are not indented properly and are all bolded.

<img width="284" alt="image" src="https://user-images.githubusercontent.com/83575/173003259-22238057-6fe1-429e-8136-34c99cc07917.png">

Example: https://codepen.io/bartoszopka/pen/yLvQNdb

**Expected:**

Nested navigation should be indented and shou

[2022-06-10 08:24] #4456 closed

[2022-06-10 08:27] #4475 closed

[2022-06-10 10:49] waynecrosby opened #4491 "Ubuntu Pride logos"

[2022-06-14 08:30] #4491 closed

[2022-06-15 09:07] clagom commented on #4071
@davegoddard42 is going to work on the spec, closing this issue.

[2022-06-15 09:07] #4071 closed

[2022-06-15 09:11] clagom commented on #3376
@lyubomir-popov to have a look at this issue during the iteration

[2022-06-15 09:22] clagom commented on #4488
Thanks @carkod - @danielmutis is going to include this proposal within the work for the table of content component itself.

[2022-06-16 10:17] danielmutis commented on #4474
New template [here](https://docs.google.com/document/d/1phUvnXbuZsHtFV1wposJ9cYb0xEDEkrL9R2oYyZWUEg/edit#heading=h.6j3gdzefjcz2).

[2022-06-16 10:17] #4474 closed

[2022-06-17 16:02] abhigyanghosh30 opened #4494 "Floating Notifications"
## Pattern to amend

[Notifications](https://vanillaframework.io/docs/patterns/navigation)

## Visual

![image](https://user-images.githubusercontent.com/30973042/174332560-05bb5519-cd40-4588-8727-6dcb5e56b0a3.png)
![Screenshot from 2022-06-17 21-19-21](https://user-images.githubusercontent.com/30973042/174332985-ec4ee36a-1871-4cd2-b9a5-9a5da2ee9e47.png)

On Vanilla, it could look something like t

[2022-06-17 16:04] abhigyanghosh30 commented on #4494
https://github.com/canonical-web-and-design/vanilla-framework/issues/3997
Looks like a similar issue was raised earlier but was closed due to lack of activity

[2022-06-20 08:32] lyubomir-popov opened #4495 "Upstream u.c cards with top bar"
U.c and other sites are using a custom implementation of the card component. Since it breaks in certain scenarios, we should upstream it and make it more robust. For reference:

https://github.com/canonical-web-and-design/ubuntu.com/issues/11734
https://github.com/canonical-web-and-design/ubuntu.com/issues/11589

[2022-06-22 10:16] lyubomir-popov commented on #4460
could you try with this maas logo? I think the old one may have been exported at 18px instead of 16:

https://assets.ubuntu.com/v1/4efc86a8-MAAS-icon_wht.svg

[2022-06-22 10:34] lyubomir-popov commented on #3376
I would propose the following:
48px (3rem) icon on desktop, 40px (2.5rem) icon on smaller screens to match the smaller heading size at those resolutions.

<img width="1163" alt="image" src="https://user-images.githubusercontent.com/2741678/175008691-61a1cfdb-5d0d-4073-ab77-2d71b3dd4311.png">

[2022-06-22 14:42] andesol commented on #4471
@bartaz Both, because it's a [HTML thing](https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model/Whitespace#spaces_in_between_inline_and_inline-block_elements) that the space between inline elements matters.

I thought that maybe we could use flex instead of `display: inline`

[2022-06-24 08:25] #4476 closed

[2022-06-24 11:36] #4460 closed

[2022-06-24 11:41] #4429 closed

[2022-06-27 09:00] #4471 closed

[2022-06-27 09:00] bartaz commented on #4471
I will close this one for now.

The inline lists are "inline" for a reason - we expect them to be inline elements, so the whitespace between them is expected.

Middot pattern takes this into account, so whitespace there is **required** to make sure the dot appears in correct place.

[2022-06-29 09:12] danielmutis commented on #4494
@marinacastejon to look into accessibility of making it a floating item on top of content.

@wgx to take a look at rules for floating notifications. We have already done some of this work in this [spec](https://docs.google.com/document/d/1RtHt38c3njOq_2I_uYu0vPSAEhkTjBrto2jOxNWjcSA/edit#heading=h.tgxqhvxolnmv) which is not yet finalised.

[2022-07-06 08:35] lyubomir-popov opened #4506 "Canonical.com - Careers section mockups"

[2022-07-06 08:42] #4472 closed

[2022-07-06 08:44] danielmutis opened #4507 "Review Search and Filter pattern - Sprint"
This sprint is to discuss what has been done on the Search and Filter pattern, and ensure it still fits our use cases.

[2022-07-06 08:45] danielmutis opened #4508 "[Search and filter sprint] Review current spec"

[2022-07-06 08:46] danielmutis opened #4509 "[Search and filter sprint] Review use cases and scenarios"

[2022-07-06 08:46] danielmutis opened #4510 "[Search and filter sprint] Adapt spec to fit current template"

[2022-07-06 08:47] danielmutis opened #4511 "[Search and filter sprint] Add new behaviours for starred and search history"

[2022-07-06 08:48] danielmutis opened #4512 "[Search and filter sprint] Visually address the grouping of AND and OR."

[2022-07-06 08:48] danielmutis opened #4513 "[Search and filter sprint] Test starred search"

[2022-07-06 08:52] #4508 closed

[2022-07-06 09:44] alfuken opened #4514 "Not an issue, just a feedback"
Being a fan of http://vanilla-js.com, googled "vanilla css".

This project was top result.

Clicked.

Expected the project to be like http://vanilla-js.com.

Expectation not met.

Disappointed.

Not a big deal, just wanted to share.

[2022-07-07 17:14] bartaz commented on #4514
@alfuken Hey, thanks for stopping by. We are aware of the confusion the name of our framework may create for the ones looking for true "vanilla" experience, but it has quite a history and legacy in our team so we are not at the point where we could change that. But believe us, we tried, because as developers we do understand the meaning "vanilla" has :)

[2022-07-07 17:16] bartaz opened #4515 "Side navigation animation is triggered when an anchor is clicked"
Side navigation animation is triggered when an anchor is clicked:

![Peek 2022-07-07 17-32](https://user-images.githubusercontent.com/83575/177832190-1a0971c7-90c8-4613-94dc-11776746533f.gif)

[2022-07-11 07:56] #4509 closed

[2022-07-11 07:56] #4513 closed

[2022-07-11 07:56] #4512 closed

[2022-07-11 07:57] #4511 closed

[2022-07-11 08:31] lyubomir-popov commented on #4506
@marinacastejon I added badges to denote featured and "starred". Should they be clickable - as in, when you click, it filters by those? A bit pointless if you onle have 3-4 feautred/starred, so atm, I've treated them as non clickable but let me know what you think.
https://www.figma.com/file/KQSCmTqOjY4gfKvJPyvzj2/Canonical.com-latest-only?node-id=4823%3A8586

[2022-07-11 08:34] anthonydillon commented on #4514
Thank you for your feedback. Closing for now. Please comment if you have further comments.

[2022-07-11 08:34] #4514 closed

[2022-07-11 10:05] rayito commented on #4513
Test results: https://docs.google.com/spreadsheets/d/1izMPpJXYr5XkBjJtb8f8jAa6poPTs9IdcRKXagBIhrM/edit?usp=sharing

[2022-07-12 09:04] marinacastejon commented on #4506
Looks good to me. I agree it doesn't make sense to make them clickable.

[2022-07-12 09:42] lyubomir-popov commented on #4506
Thanks, closing then.

[2022-07-13 09:10] danielmutis commented on #4494
@wgx will investigate use cases for this.

[2022-07-14 08:34] lyubomir-popov opened #4517 "Microsite navigation - visual design"
Provide visual designs based on these wireframes from @davegoddard42:
https://miro.com/app/board/uXjVOmhMKXw=/

[2022-07-14 08:35] lyubomir-popov opened #4518 "Web 22.10 - "All Canonical" intermediate solution visual design"
Provide visual design for these wireframes by @davegoddard42
https://miro.com/app/board/uXjVOm_3tiY=/

[2022-07-19 08:17] lyubomir-popov opened #4519 "C.com candidate page"
Visual design for the wireframe located [here](https://miro.com/app/board/uXjVO9E_QFA=/)

Ready for review:
https://www.figma.com/file/KQSCmTqOjY4gfKvJPyvzj2/Canonical.com-latest-only?node-id=4905%3A12117

[2022-07-19 08:19] lyubomir-popov opened #4520 "Supporting other teams"
An epic to put random Visual design requests from other teams.

[2022-07-19 09:44] lyubomir-popov commented on #4519
Thanks @marinacastejon [this](https://www.figma.com/file/KQSCmTqOjY4gfKvJPyvzj2/Canonical.com-latest-only?node-id=4943%3A10006) new mockup addresses them, let me know if you have any further comments.

[2022-07-21 08:11] lyubomir-popov commented on #4519
Closing this as I have received n further feedback after addressing the above. @marinacastejon if you need any other changes please let me know and I'll create a new issue for it.

[2022-07-21 08:11] #4519 closed

[2022-07-21 08:29] lyubomir-popov commented on #4495
@anthonydillon Proposal to address your 's commenta on this pr:
https://github.com/canonical-web-and-design/vanilla-framework/pull/4496

<img width="1033" alt="image" src="https://user-images.githubusercontent.com/2741678/180167917-f5dab244-40a4-49c9-9ad1-348029963f9a.png">

[2022-07-21 08:55] lyubomir-popov commented on #4518
@davegoddard42 @marcushas can we close this?
Final version: https://www.figma.com/file/BSP7FqnRMcMvO7kCozJKUa/Ubuntu.com-navigation-update-Iteration-9?node-id=4534%3A25846

[2022-07-21 09:13] davegoddard42 commented on #4518
Thanks @lyubomir-popov. LGTM.

[2022-07-21 09:13] #4518 closed

[2022-07-21 09:15] anthonydillon commented on #4495
Thanks @lyubomir-popov. Much closer. Shame to have to redesign the pattern to accommodate information I am not unsure is even useful.

[2022-07-21 09:21] lyubomir-popov commented on #4495
@anthonydillon so can we close this and move it to ready for development?

[2022-07-21 12:01] lyubomir-popov commented on #4517
@davegoddard42 mockups here https://www.figma.com/file/BSP7FqnRMcMvO7kCozJKUa/Ubuntu.com-navigation-update-Iteration-9?node-id=1431%3A3819

[2022-07-21 14:02] marinacastejon commented on #4519
Hi Lyubo, sorry for the delay. I do have some relevant comments but it's difficult to explain in figma. I'll schedule a meeting tomorrow, but we'll need a new issue for sure.

[2022-07-21 20:08] anthonydillon commented on #4495
Yeah, thanks.

[2022-07-22 12:28] #4517 closed

[2022-07-22 12:28] #4495 closed

[2022-07-27 09:05] lyubomir-popov commented on #4510
@danielmutis would you be able to work on this? Or should we find someone else.

[2022-07-27 09:08] lyubomir-popov commented on #4419
@danielmutis Does this need to be in UI/UX? Sounds like a reformatting job rather than something that requires UI/UX discusssion.

[2022-08-04 08:38] lyubomir-popov opened #4526 "Update logos to size useful for web, remove arbitrary tracking"
- Make tracking (the spacing between letters) consistent (0). Currently it varies - 10, -10, 12 in various logos
- Resize all logos to the correct size needed for web

https://drive.google.com/open?id=13BWRYZebDHsMZdsYaYoFkrk-EcAfBQ9O&authuser=lyubomir.popov%40canonical.com&usp=drive_fs

[2022-08-04 12:34] bogdans-canonical opened #4527 "[Icon] Improved MacOS App Icon"

[2022-08-04 13:29] marinacastejon commented on #4494
Hi,
Some accessibility considerations after doing some desk research.
Floating notifications, often called Toast notifications, present a number of accessibility challenges. That is not to say we should never use them. Well-founded design systems ([Carbon DS](https://carbondesignsystem.com/components/notification/usage#toast-notifications)) include them. However they need to be used wisely and imp

[2022-08-04 22:58] sowasred2012 opened #4530 "New nav logo padding does not align with content"
**Describe the bug**

_First reported as an issue on https://github.com/canonical/design.ubuntu.com/issues/241_

The new "tag" logo is not correctly left aligned with the content below, it seems to be .5rem off.

**To Reproduce**

Visit https://dqlite-io-209.demos.haus/ or https://design.ubuntu.com/, see that the "tag" logo style does not align on the left hand side with the content below at width

[2022-08-05 12:17] bogdans-canonical opened #4531 "Maas.io datasheet"
Copydoc:
https://docs.google.com/document/d/1FlfZhIHBATR-GeBnGM43vZEuZJvVbyUrK6DOBK0qnrI/

JIRA:
https://warthogs.atlassian.net/browse/MAASPM-118

[2022-08-08 08:24] lyubomir-popov opened #4532 "Fix logo in new nav to match brand specs"
There are some spacing issues in the way the new tag logos are implemented, which we need to address. I'll make a pr to fix those.

[2022-08-10 09:07] danielmutis commented on #4494
@AnnSoMuller has some examples of this being useful on [Reviewer pages on Snapcraft](https://meet.google.com/kii-spds-hfz?authuser=0#:~:text=188%253A310%26scaling-,%3D,-min%2Dzoom%26page). This will be worked on when we have bandwidth to explore.

[2022-08-11 11:52] bogdans-canonical opened #4533 "Ubuntu Summit 2022 - Sketch ideas"

[2022-08-14 05:07] alfred-tuinman opened #4534 "issue with global_functions?"
I install the software via npm and import vanilla as suggested but I get an error on line 86 of node_modules/vanilla-framework/scss/_global_functions.scss:

"invalid css after "     $value: math": expected "}", was ".div($value, $n..."

I use Ubuntu 22.04

![Screenshot from 2022-08-14 10-36-51](https://user-images.githubusercontent.com/110611318/184523373-478b7a90-7163-402a-bec0-f8693a832683.png)

[2022-08-15 11:27] sparkiegeek opened #4535 "Offscreen component leaves thin white line in Firefox"
**Describe the bug**

1px high white line appears for supposedly offscreen tooltip when scrolling down past the content on Firefox.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to a MAAS install tracking edge e.g. [bolla.internal:5240/](http://bolla.internal:5240/MAAS/r/devices)
2. Scroll down the main viewport to attempt to get off-screen
4. See thin white line appear at the bottom

[2022-08-16 08:20] bartaz commented on #4534
Hey @alfred-tuinman can you give us more details on how you import and build Vanilla?

What are you using for building, is it `sass` npm package?

[2022-08-17 08:34] bartaz commented on #4530
Let's fix it outside of the blocked logo work.

[2022-08-18 11:08] petermakowski opened #4538 "Setup Cypress"

[2022-08-18 11:13] petermakowski opened #4539 "Accordion transition"
add accordion transition

![36n7a_jLBp 12 21](https://user-images.githubusercontent.com/7452681/185381319-ff7e3957-b3cf-4551-9ce4-d58156bdfef3.gif)

[2022-08-19 08:12] petermakowski opened #4541 "Add Cypress to CI tests"
Add Cypress to our CI tests pipeline (via GitHub actions).

[2022-08-19 11:01] petermakowski opened #4543 "Rename vf-animation to vf-transition"
Rename vf-animation to vf-transition

https://github.com/search?p=2&q=org%3Acanonical+vf-animation&type=Code

- [x] Rename vf-animation to vf-transition
- [x] add `vf-animation` alias for `vf-transition` to prevent breaking changes
- [ ] use a mixin to mark `vf-animation` as deprecated

[2022-08-19 13:18] lyubomir-popov opened #4544 "Stepped list counters get distorted when altering the look of headings using `p-heading--` classes"
**Describe the bug**

See title

**To Reproduce**

Do this:
![image](https://user-images.githubusercontent.com/2741678/185627061-94977275-b690-4302-b359-23f17f2076e0.png)
You'll see this:
![image](https://user-images.githubusercontent.com/2741678/185626988-787d64ec-4d27-4dd4-b1e3-a21a25194a58.png)

**Expected behavior**

Lack of distortion in counters

**Screenshots**
See above.

[2022-08-22 08:32] bartaz commented on #4534
I will close this for now as we can't reproduce it without more context, but feel free to reopen if needed. Thanks!

[2022-08-22 08:32] #4534 closed

[2022-08-22 12:29] petermakowski opened #4547 "accordion content implies navigation"
+1 on the animation, nice improvement. But I have an issue with the content - it implies this is a navigation, while being marked up with paragraphs. As such, the spacing between what looks like a nested accordion is inconsistent with the spacing in e.g. the side navigation. I think the content of the example should change to actual paragraph content to avoid confusion.

![image](https://user-imag

[2022-08-22 12:52] #4539 closed

[2022-08-22 14:15] #4538 closed

[2022-08-22 14:29] #4541 closed

[2022-08-23 05:25] #4543 closed

[2022-08-23 09:22] #4544 closed

[2022-08-24 06:36] #4547 closed

[2022-08-24 07:54] petermakowski commented on #4535
I tested `.u-off-screen` when used for visually hidden form element labels (e.g. search box in MAAS UI). Removing the fixed `1px` height has no effect on the assistive technology's ability to announce its contents. Everything works as expected.

Should be good to remove from the a11y standpoint, unless you can think of any other use case for this @bartaz ?

[2022-08-25 12:31] #4515 closed

[2022-08-25 13:44] #4530 closed

[2022-08-25 13:59] #4535 closed

[2022-08-25 16:00] lyubomir-popov opened #4557 "Update the styling of buttons and inputs in vanilla [Design]"
## Pattern to amend

Buttons, inputs

## Visual
![image](https://user-images.githubusercontent.com/2741678/186713638-76260d93-6c67-494f-9787-2061fc02b02c.png)

(https://app.zeplin.io/project/630790f00de5796258559b74/dashboard)

## Context
The link above contains a couple of examples of particularly large forms we have, styled according to the proposed form elements stylign update.
- buttons loose

[2022-08-25 16:02] lyubomir-popov commented on #4557
Relevant proof-of-concept pr: https://github.com/canonical/vanilla-framework/pull/4402

[2022-08-26 14:35] minkyngkm opened #4558 "need h2 counters"
l**Describe the bug**

<img width="231" alt="image" src="https://user-images.githubusercontent.com/57550290/186927549-bcaec1de-755c-445d-b0a5-545c01f306b9.png">

![image](https://user-images.githubusercontent.com/57550290/186925283-0908f517-571f-4c97-91a8-49fd0819066f.png)

after updating vanilla 3.7, the counters are not elliptical any more but it doesn't look perfectly good.

@lyubomir-popov men

[2022-08-30 11:43] bartaz commented on #4557
With validation and chips covered it seems good from dev point of view.

[2022-08-30 11:46] bartaz commented on #4531
Hi, why is this issue in vanilla-framework project?

[2022-08-31 08:29] #4557 closed

[2022-08-31 08:29] bartaz commented on #4557
Looks good, let's proceed with build and testing it.

[2022-08-31 08:42] bartaz commented on #4558
@minkyngkm Thanks for the report.

Could you give us more details on what is broken?
Do you have any custom styles on top of Vanilla - I don't think we have black circle, or circles with borders in stepped list.

[2022-08-31 11:01] bartaz opened #4559 "Side navigation toggle button doesn't work on `space`"
via @petermakowski comment https://github.com/canonical/juju.is/pull/431#issuecomment-1231665391

**Describe the bug**

The toggle button for side navigation component is a link, not a button, and because of that you can't click it using `space` key (works only with `enter`).

It looks like a button and ideally should behave like one.

[2022-08-31 11:05] bartaz opened #4560 "Side navigation drawer on small screens doesn't trap the focus"
via @petermakowski comment via @petermakowski comment https://github.com/canonical/juju.is/pull/431#issuecomment-1231665391

**Describe the bug**

The side navigation drawer "popup" on small screen doesn't trap the focus. Ideally it should move back up to "Toggle" side navigation button on top once you focus out of last link in the side nav (but only on small screens where side nav is collapsible)

[2022-08-31 11:57] lyubomir-popov commented on #4558
I think the small imperfections above are due to local styles clashing with the vanilla styling, as they are not present in the official vanilla example. Closing this.

[2022-08-31 11:57] #4558 closed

[2022-08-31 11:59] lyubomir-popov opened #4561 "Stepped lists: Change counter font-size to root font size"
## Pattern to amend

Proposal:
1) make counters (numbers in circles) paragraph size, regardless of the heading style of the titles
2) replace gray-filled circles with ones that are white with a black outline. This way it will be consistent with the new stepper designs

Counter circles become too large and prominent when they contain a digit in the same size as the heading:

![image](https://user-i

[2022-08-31 14:36] minkyngkm opened #4562 "Accordion: long text in the button is not indented"
**Describe the bug**

Building this FAQ page ([PR](https://github.com/canonical/canonical.com/pull/619)), I found the text in the button is not indented when it gets longer and becomes multiple lines.
![image](https://user-images.githubusercontent.com/57550290/187703864-835f7ca5-f49b-4c99-8ab8-324cc119ccb6.png)

[2022-09-01 05:40] bartaz commented on #4562
Indeed, that's a bug in Vanilla. Thanks for the report, will try to fix it soon.

[2022-09-01 05:42] bartaz commented on #4561
@lyubomir-popov as purely visual update - can it go straight for development, or do you want it discussed/reviewed first?

[2022-09-01 08:04] lyubomir-popov commented on #4561
I would say straight to development. I don't think a minor detail like this is requires extensive debate.

[2022-09-01 13:02] lyubomir-popov commented on #4562
Also please limit the max-width of buttons as per usual with `$text-max-width`.

[2022-09-02 10:42] minkyngkm opened #4563 "Accordion: max-width is not working properly in the headings."
**Describe the bug**

1. `max-width` needs to be added for the case texts get longer in the headings.
after adding `max-width` to the button locally, the background color is not going all the way when its hovered over because the hover effect is applied to the button.
<img width="826" alt="image" src="https://user-images.githubusercontent.com/57550290/188121865-d93034c9-c5e8-4996-95dc-71db24509d1e

[2022-09-02 10:54] lyubomir-popov commented on #4563
To summarise:
1) the markup in all accordion examples should allow for the text to be constrained by our default "$text-max-width", which will probably involve adding a span inside the button
2) unless that span is already styled with a max-width and  display:inline-block, then we need these two as utilities

[2022-09-02 10:57] bartaz commented on #4563
@lyubomir-popov Is it a working group proposal, or simply a bug?

[2022-09-02 11:06] lyubomir-popov commented on #4563
@bartaz depends on how we look at it - one way would be to introduce the span, deprecate the current markup, and leave out the proposed utilities. In this case, it's a bug

but if we are considering utilities, then we surelyt need to run this by @anthonydillon so then it might be a WG proposal

[2022-09-02 11:07] lyubomir-popov commented on #4563
@bartaz feel free to remove the label if you think we can avoid a breaking change and also avoid the utilities. ALthough I do think it's useful to have the `$text-max-width` exposed as a class

[2022-09-02 11:08] bartaz commented on #4563
I'll try to look into it and see what would be needed to fix.

[2022-09-05 11:43] anthonydillon commented on #4481
I just ran into this one too while testing MAAS UI. I believe the error is being thrown as `aria-selected` can only be applied to some elements or roles. Follow this example: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-selected#tab. I believe the only thing missing is `role="tab"` on the selectable element within a container of `role="tablist"`.

[2022-09-21 12:23] bartaz commented on #4562
@lyubomir-popov Limiting the width will be impossible without markup change. We can't limit just text width without affecting the whole box of accordion/button. And we should not affect the width of accordion/button this way, because it's a block with a background that should take the width of the container.

We would need additional internal element to wrap the text if we want to limit the width

[2022-09-21 14:27] lyubomir-popov commented on #4562
@bartaz yes, that's what we had to do locally. this is a very needed feature in cases like the FAQ above, would be great if we have an official example with an extra element in there for this purpouse - or even better, deprecate all current examples and replace them with updated markup, then clean up come next major release.

[2022-09-21 14:43] bartaz commented on #4562
@lyubomir-popov I tried to do some quick fix for that in this PR, but it is going to require a bigger (possibly breaking) change. Throwing a span inside is not enough, as it needs to be block/inline-block to make max-width work on it, and this completely breaks the placement of chevron, etc in current styling. So we would need to considerably re-do accordion to make this work.

A quick and dirty w

[2022-09-21 14:45] lyubomir-popov commented on #4562
Can you check with @minkyngkm ? she went through the exact same problems and found a solution that works well in the local implementation.

[2022-09-22 17:36] SaidMarar commented on #4562
@lyubomir-popov @bartaz  what about truncated text
![truncate](https://user-images.githubusercontent.com/20561190/191814420-5c1fcc35-3734-47b6-90bc-bb99cdc5e1b8.png)

[2022-10-03 18:04] sushantgwr87 commented on #4461
Can I contribute to this issue (If it's still Open) under Hactoberfest?

[2022-10-03 18:54] bartaz commented on #4461
@sushantgwr87 Sure! Thanks!

Just for some additional context. The top image (how it looks with the `has-menu-open` class) is correct, so the bottom (CSS-only mobile styles) need to be adjusted.

Feel free to reach out if you have any questions. Navigation is one of our most complex components, so may not be the easiest to start with.

[2022-10-04 07:55] lyubomir-popov opened #4569 "Lists: impossible to specify a list with both dividers and default bullets"
## Pattern to amend

We have a bulletted list:

![image](https://user-images.githubusercontent.com/2741678/193764470-e0b189ba-2520-4d5b-9fa1-557f553aa10e.png)

We also have a list with dividers:
![image](https://user-images.githubusercontent.com/2741678/193764567-394fcf18-e764-4d2a-87de-e68d66f2dd47.png)

The dividers are useful when the contents of list items are so long that individual list item

[2022-10-04 08:29] lyubomir-popov opened #4570 "Min-width: 10em applies to numeric inputs"
Min-width makes sense on text inputs, but not necesserily numeric ones - it is much better to leave the size controlled by the min and max attributes on the input.

Currently:
![image](https://user-images.githubusercontent.com/2741678/193772105-c01cc312-6932-41e0-9759-f27b117b5444.png)

Ideally:
![image](https://user-images.githubusercontent.com/2741678/193772139-0734d3af-715a-460c-bff0-f76892405b

[2022-10-04 09:03] bartaz commented on #4563
@lyubomir-popov I guess it may be useful to have such utility, but accordion shows how tricky it is. It's not as simple as `max-width: $text-max-width`, because when applied to elements that have background or borders it may make them look in unexpected way.

[2022-10-04 09:50] lyubomir-popov commented on #4563
the idea is to be able to drop a span in between the existing elements, and apply that class to that - exactly t oavoid effecting borders and what not.

[2022-10-04 12:01] #4122 closed

[2022-10-04 12:01] bartaz commented on #4122
This was implemented separately.

[2022-10-04 13:07] bethcollins92 commented on #4122
Haven't seen your face in my GitHub notifications for a while @bartaz 😄

[2022-10-04 13:10] lyubomir-popov opened #4571 "Lists: better align with other text"
## Pattern to amend

Lists have an indent that breaks vertical alignment with preceding text. That fulfills the goal of attracting attention, but not necessarily in a good way.
![image](https://user-images.githubusercontent.com/2741678/193826835-fa456671-c0f7-4e8a-afb1-75a40d86d97e.png)

How about this instead:
## Visual
![image](https://user-images.githubusercontent.com/2741678/193827290-d11abdac

[2022-10-04 13:31] bartaz commented on #4122
I can mention you @bethcollins92 in some issues from time to time if that would brighten your day 😄

[2022-10-05 01:53] sushantgwr87 commented on #4461
@bartaz Hello Sir

Some Help Needed on running the project locally.

I used docker via wsl in windows to build and run the project. Followed this [Guide](https://github.com/canonical/vanilla-framework/blob/main/guides/hacking.md#via-docker)

Build was successful without any errors.

Problem is with running the command `./run serve`

Terminal log:

Pip dependencies haven't changed. To force an upda

[2022-10-05 08:41] lyubomir-popov opened #4572 "Lists have margin-collapse"
**Describe the bug**
1) Put something with a margin-bottom inside any list item:
![image](https://user-images.githubusercontent.com/2741678/194018189-8d9ab68c-559b-42a9-95d7-e1586d3a3acd.png)

2) check the heightof the list item:
![image](https://user-images.githubusercontent.com/2741678/194018244-340bd1dc-39e7-473a-bdcb-afbe38cd48e5.png)

list items need `overflow: auto;` to remedy:
![image](http

[2022-10-05 08:44] lyubomir-popov commented on #4571
On second thought, do we need the default list styling? Maybe the designs above could be directly applied to the base ul and ol elements.

We need to check if that will affect lists used for other things, like navigaiton for example - and make sure those override all  needed properties.

[2022-10-06 08:29] lyubomir-popov opened #4573 "Component state audit and improvements"

[2022-10-07 07:58] camillet16 commented on #4573
# Color state audit

### Problems
- The active state color is dependent on component size when it comes to visual weight.
- Gray is often associated with disabled components. This shows in segmented controls are limited to 2 choices.

<img width="1400" alt="Screen Shot 2022-10-07 at 10 35 32 AM" src="https://user-images.githubusercontent.com/112855834/194498366-7dbf0c0e-3b28-42ff-9821-ac597b0e7312

[2022-10-07 08:11] petesfrench opened #4574 "Rounded status label"
A pattern in Vanilla needs to be flexible enough that it can be used across a wide range of scenarios and shouldn't be constrained to a specific number of applications.

## Visual

![image](https://user-images.githubusercontent.com/58276363/194505108-f3494ee4-961d-46f9-8e6d-4930d16fe1d8.png)

## Context

There is a use case for an non-clickable rounded status label on some pages on u.com. With the

[2022-10-07 08:19] camillet16 commented on #4573
### Samples:

![Screen Shot 2022-10-07 at 11 16 28 AM](https://user-images.githubusercontent.com/112855834/194506965-cb5de8e7-9103-4f1a-bde0-282932a0e506.png)
![Screen Shot 2022-10-07 at 11 14 51 AM](https://user-images.githubusercontent.com/112855834/194506968-01c294ee-3263-4d41-914c-8c42462d3445.png)

[2022-10-08 06:59] vinayak9303 commented on #4440
is this issue still open?

[2022-10-08 08:53] anthonydillon commented on #4440
@vinayak9303 this is still an issue on the website.

[2022-10-08 09:51] vinayak9303 commented on #4440
can you please assign this to me? I want to work on it.

[2022-10-11 01:11] huwshimi commented on #4458
I wasn't quite sure what the right approach for this is. At the moment `$color-sidenav-background-default` is used for both the in-page and drawer versions of the menu.

If we don't set the background colour for the in-page menu then you won't be able to theme it when used in-page.
We could say that you have to use `$color-sidenav-background-default` to match the background colour for the in-page

[2022-10-11 01:28] huwshimi commented on #4561
Just wanted to confirm a couple of things:

The size of the counters will be fixed to the base line height size (with the text set to the base font size)?

The font-weight will be set to the regular text weight (300) ignoring the title's font weight?

Something like this:

<img width="760" alt="Screen Shot 2022-10-11 at 12 25 06 pm" src="https://user-images.githubusercontent.com/361637/194976969-c

[2022-10-11 01:55] huwshimi commented on #3163
I'll put up a PR to fix the height, but I can't seem to reproduce the misalignment when using a number input.

Chrome:

<img width="105" alt="Screen Shot 2022-10-11 at 12 53 27 pm" src="https://user-images.githubusercontent.com/361637/194979721-0bf263c3-6144-48a9-b354-3ca2c84a3425.png">

Firefox:

<img width="109" alt="Screen Shot 2022-10-11 at 12 53 18 pm" src="https://user-images.githubuserconte

[2022-10-11 02:13] huwshimi commented on #3163
Ah, I can reproduce this in Chrome when not in responsive mode:

<img width="126" alt="Screen Shot 2022-10-11 at 1 10 07 pm" src="https://user-images.githubusercontent.com/361637/194981468-b0347260-5dd8-473c-94d9-7d18489cb0eb.png">

It looks like the only way to fix this would be to make the spin buttons always or never visible. I guess always visible would be the more accessible, but not sure if

[2022-10-11 06:29] bartaz commented on #4461
@sushantgwr87 sorry for late reply, I was away for couple days.

I'm sorry, it seems our HACKING.md guide is out of date.

The `./run` script is likely not going to work. Looking at the output you are getting though it does say "Listening at: http://0.0.0.0:8101/ (20)", so maybe you can try opening it in a browser?

The main way to run Vanilla is via [`dotrun`](https://github.com/canonical/dotrun)

[2022-10-11 06:31] bartaz opened #4576 "Outdated instructions in HACKING.md"
Our HACKING.md guide mentions old `./run` script and `dotrun` snap.
We should update it to new version of dotrun.

Reported via #4461

[2022-10-11 08:38] sushantgwr87 commented on #4461
Actually I tried to open it in browser but it didn't work, It was showing page is unreachable.

So if you follow the dotrun readme and install it via sudo pip3 install dotrun you should be able to use the dotrun command to run the Vanilla project.

Will try this and update you soon on it. No problem Sir I myself was trying different ways to run this but have no directions as being new to docker, I

[2022-10-11 15:15] elioqoshi opened #4577 "Accordion: update spec with new template"
https://docs.google.com/document/d/1E0wJUKgu_5tXnmC28XPF4Cb14BpmW1XEvxbWnuC1298/edit?usp=sharing

The accordion spec has been updated according to the new template. If this is good to go we can move it over to Discourse.

[2022-10-11 23:30] huwshimi commented on #4458
@bartaz taking another look at whether we can just remove the background, I ran into issues with the dark examples: https://vanillaframework.io/docs/examples/patterns/side-navigation/dark.

I'm not sure if the background colour of the page and the middle blue example are real world cases, but with no changes the left and right examples have a lighter background than the page:

<img width="1037" al

[2022-10-12 07:01] bartaz commented on #4561
@lyubomir-popov Can you have a look at Huw's questions about it - it's a bit unclear what we want to achieve here.

[2022-10-12 07:27] bartaz commented on #4458
@huwshimi Yes, seems its trickier than expected.

But, in the examples we actually show how to override the color (you need to set inline CSS on the drawer element `p-side-navigation__drawer` and the header `p-side-navigation__drawer-header` inside it.
Would that be enough for you to get the gray backtround in MAAS?

[2022-10-12 13:42] bartaz commented on #4100
@huwshimi If you wanna look into this, I guess for start adding an example of a table with grouped cells (via row span) would be worth to see if it renders correctly or does it need some amendments.

[2022-10-12 14:03] lyubomir-popov commented on #4561
@huwshimi I had to quickly hack it together in one place, here's what I did

[code]

[2022-10-12 14:53] lyubomir-popov opened #4578 "Career pages - small updates"
Create multiple versions of the career page for all possible scenarios

[2022-10-12 14:55] lyubomir-popov opened #4579 "Implement design fixes on canonical.com/careers - candidate and job listing pages"
We compared designs to imlpementation and found some discrepanices, I made a [pr ](https://github.com/canonical/canonical.com/pull/654/commits) to remedy this.

[2022-10-12 14:57] lyubomir-popov opened #4580 "Prototype new text list component"
The ::marker pseudo elements used in lists has severe limitations. We need a more robust way of creating lists where we can put headings followed by paragraphs, control the placement of dividers, etc.

[2022-10-12 14:59] lyubomir-popov opened #4581 "/pro/beta page - finalise design and build"
The design of the tutorial page needs to be finalised now that the whole contentr is available, and I need to fix the list implementaitons on it (separate issues filed to list  the difficulties with lists)

[2022-10-12 15:00] lyubomir-popov opened #4582 "u.c Pricing page redesign"
The pricing page for ubuntu pro would benefit from being similar in styling to the main /pro page, as it is directly linked to from the bubble index page.

[2022-10-13 03:26] huwshimi commented on #4561
@lyubomir-popov I've pushed up a draft PR here: https://github.com/canonical/vanilla-framework/pull/4584.

I haven't updated the size yet as the base line height is `1.5rem` but in your example you've set it to `2rem` so I wasn't sure which to go with...

[2022-10-13 03:44] huwshimi commented on #4458
It looks like the background colour has been [overridden for large screens](https://github.com/canonical/maas-ui/blob/main/src/scss/_vanilla-overrides.scss#L26):

[code]

Maybe it's acceptable to just leave it as it is then?

[2022-10-13 05:25] huwshimi commented on #3975
At the moment only the label gets wrapped in `.p-form-password-toggle` so there's nothing to distinguish a readonly text input and a readonly password input that's been changed to a text field.

To be able to change the text colour we'd need to introduce a new class to add to the input. Does that seem like a reasonable way to fix this?

[2022-10-13 06:54] bartaz commented on #4458
@huwshimi Yes, seems fine for now. We may revisit it later if it causes similar issues in other places.

[2022-10-13 06:54] bartaz commented on #4458
Closing this for now. Background can be overridden locally in projects if needed.

[2022-10-13 06:54] #4458 closed

[2022-10-13 10:33] spencerbygraves opened #4585 "Check/amend the new logo spacing"
[This PR](https://github.com/canonical/dqlite.io/pull/209) has highlighted that the new logo spacing might be slightly off compared to the design.

You can see @lyubomir-popov's comparison in [this comment](https://github.com/canonical/dqlite.io/pull/209#issuecomment-1268163890).

Thanks.

[2022-10-13 20:00] goulinkh opened #4586 "Adding breakpoint helpers"
During the migration to Vanilla 3 on Juju dashboard I had an issue where the breakpoint medium doesn't exist anymore, I had an option to manually define the breakpoint medium but I feel that it's fighting against the flow of the Vanilla lib so instead I decided to follow the docs and use a media selector that does this `mobile < ... < large`.

That made my SCSS code somewhat unreadable easily by o

[2022-10-14 12:40] bartaz commented on #3975
@huwshimi thanks for looking into this. You are right, that we don't have an elegant way to do it as is in Vanilla.

Would something like `.p-form-password-toggle + input[readonly]` work? Normally I'd avoid creating such styling dependencies in CSS, but if that saves us a class name I guess it may be worth it, as it would fix this issue without the need to change the markup.

[2022-10-16 04:14] saiteja2108 commented on #4061
can i contribute on this

[2022-10-16 23:56] huwshimi opened #4589 "Table headers and cells hidden at medium screens when using u-hide--large"
**Describe the bug**

When adding `u-hide--large` to a `<td>` or `<th>` it gets applied at both medium and large sizes as it uses `min-width: $breakpoint-small`: https://github.com/canonical/vanilla-framework/blob/main/scss/_utilities_hide.scss#L60.

All the other `--large` cases in that file use `min-width: $breakpoint-large`.

Original discussion here: https://github.com/canonical/vanilla-framew

[2022-10-17 02:44] huwshimi commented on #3975
Yes! I didn't think of that. I'll put up a PR.

[2022-10-17 06:57] bartaz commented on #4061
@saiteja2108 Hey, thanks for the interest in the issue.

Contributing to this specific one can be quite difficult as it's a complex component.
We have quite a few other components missing accessibility docs (you can find them here: https://github.com/canonical/vanilla-framework/issues?q=is%3Aissue+is%3Aopen+%22%5Baccessibility+docs%5D%22)

Even if they are currently assigned we are not working on

[2022-10-17 08:37] lyubomir-popov opened #4592 "The grid is broken between media queries"
THere are some -1px in media queries (not sure when that got introduced) that I believe are breaking the grid. E.g.:
![image](https://user-images.githubusercontent.com/2741678/196130429-a34c72cd-200b-4efa-ab70-7d63bbd86996.png)

[2022-10-17 09:13] bartaz commented on #4592
@lyubomir-popov what is the example you are trying it with?

I think it seems to be working as expected here: https://vanillaframework.io/docs/examples/patterns/grid/responsive

<img width="716" alt="image" src="https://user-images.githubusercontent.com/83575/196138485-d6266e27-3c31-460f-9d68-c3290e81388a.png">

[2022-10-17 09:16] lyubomir-popov commented on #4592
Precisely that example^. See the cascade at +1 and -1 and then at 619 px:

![image](https://user-images.githubusercontent.com/2741678/196139317-a7b6f57c-e1a5-4963-8a0f-d04c5277d47c.png)
![image](https://user-images.githubusercontent.com/2741678/196139341-025fdc49-16e6-451e-a342-21d3a48ba6d2.png)
![image](https://user-images.githubusercontent.com/2741678/196139372-db2139ae-e38c-4b4f-89d5-c1b804e7a9

[2022-10-17 09:46] bartaz commented on #4592
For more context. This seems to be working fine on MacOS.

It seems to happen on Ubuntu and Windows (possibly may depend on the screen pixel density as well).

[2022-10-17 11:08] #3163 closed

[2022-10-17 11:10] #4576 closed

[2022-10-17 18:01] lyubomir-popov commented on #4579
Had a catchup with Marina, agreed wait until she validates the proposed changes before proceeding with visual design.

[2022-10-17 18:02] lyubomir-popov commented on #4578
This has been completed. Further change will go to the functional spec instead of constantly updating the mokcups, as  there's a constant stream of small updates that do not affect the visual design.

[2022-10-18 12:25] mtruj013 commented on #4592
I'm not quite sure if I'm missing something, but I'm not able to recreate this bug on ubuntu. Both Chrome and Firefox seem to work as expected:
![Screenshot from 2022-10-18 14-10-03](https://user-images.githubusercontent.com/17607612/196427082-da21e557-b2eb-421c-b494-1b58523ea4ce.png)
![Screenshot from 2022-10-18 14-03-01](https://user-images.githubusercontent.com/17607612/196428386-45e0e0fe-82bb-

[2022-10-18 14:27] camillet16 opened #4593 "Active and hover state change on light theme"
## Pattern to amend

Active & Hover state on light themes.

## Visual
<img width="383" alt="Screen Shot 2022-10-18 at 3 54 43 PM" src="https://user-images.githubusercontent.com/112855834/196435487-34473d82-e0f9-4ecf-86b3-e83275c5ebff.png">

<img width="270" alt="Screen Shot 2022-10-18 at 3 55 17 PM" src="https://user-images.githubusercontent.com/112855834/196435463-f85302cd-cc30-4ba9-8dbd-94f11f47

[2022-10-18 19:23] bartaz commented on #4592
Seems this depends not only on OS (Ubuntu) but also on the screen/display device (pixel density?).

[2022-10-19 09:20] danielmutis commented on #4574
From WG meeting: we will review the visual design of the current status label to match this design. This will allow designers and devs to change the colour of the background to non-system colours and change the font size. It will also feature rounded corners to look closer to the chips and the badges, but it won't have a border like the chips so that it's clear that they aren't clickable.

[2022-10-19 09:21] lyubomir-popov opened #4596 "Progress bar"
This is a stub issue to add the progress bar that @edlerd @anasereijo

A pattern in Vanilla needs to be flexible enough that it can be used across a wide range of scenarios and shouldn't be constrained to a specific number of applications.

## Visual

Provide a screenshot or link to a prototype of your pattern proposal.

## Context

Where and when might this proposed pattern be used?

## State

Do

[2022-10-19 09:55] anasereijo commented on #4596
@lyubomir-popov see below a screenshot of a progress bar we have on snapcraft

<img width="1118" alt="Screenshot 2022-10-19 at 10 54 14" src="https://user-images.githubusercontent.com/36884067/196659397-1e0f7077-d155-47bb-9972-325149e65a2d.png">

[2022-10-19 11:23] edlerd commented on #4596
![step0](https://user-images.githubusercontent.com/1155472/196676567-6aae5479-8765-422d-89bf-b7b625bc0c7d.png)
![step1](https://user-images.githubusercontent.com/1155472/196676560-a44e0357-5a3e-4255-99e2-56f346efe434.png)
![step2](https://user-images.githubusercontent.com/1155472/196676556-f7fc5c14-814d-4143-a0e2-16f048904caa.png)
![step3](https://user-images.githubusercontent.com/1155472/19667655

[2022-10-19 15:24] lyubomir-popov opened #4600 "Refine the appearance of hover link underlines"
Can we please do the following?
`text-decoration-thickness: 1px;
    text-underline-offset: 0.075em;`
![image](https://user-images.githubusercontent.com/2741678/196731366-70b0a642-3ff6-4c70-a761-9b4b3edf820a.png)

[2022-10-20 10:46] #4561 closed

[2022-10-20 11:24] #3014 closed

[2022-10-20 15:06] #4438 closed

[2022-10-21 12:50] larryease commented on #4600
I really want to contribute to this issue but this request is not clear. can you make it more understandable, please?

[2022-10-24 09:15] lyubomir-popov commented on #4600
Hi, thanks for your interest in this. The 2 lines above simply need to be added after line 14 in this file:  https://github.com/canonical/vanilla-framework/blob/main/scss/_base_links.scss

[2022-10-24 13:11] bartaz commented on #4100
As we noticed in the investigation in PR https://github.com/canonical/vanilla-framework/pull/4588 the row-span doesn't work well with mobile card version of the card.

Mobile card relies on having cells in each row to show in separate cards, while row-span uses a cell from one row to fill the others.
If we want to keep the row-span functionality of the table in mobile card version we need to work

[2022-10-24 15:04] lyubomir-popov opened #4604 "Article pagination using french quotes instead of dedicated cheveron icon"
![image](https://user-images.githubusercontent.com/2741678/197559686-2480d1e6-b271-4378-8bd2-5a3cd45854ee.png)

As compared to

![image](https://user-images.githubusercontent.com/2741678/197559712-14984e36-ad4d-4f21-b444-a2548a536433.png)

[2022-10-26 11:57] #4592 closed

[2022-10-26 13:40] #4585 closed

[2022-10-26 13:45] DeveVivek commented on #4596
Please assign me this task.

[2022-10-27 08:46] #4573 closed

[2022-10-28 10:10] #4600 closed

[2022-10-31 10:56] bartaz commented on #4563
As Lyubo suggests, it seems we need to add a support for adding additional span (possibly with a accordion-specific class name, or utility) to limit max width of the text inside the accordion button.

This seems to require some changes around styling accordion in terms of spacing and chevron placement.

[2022-10-31 11:09] bartaz commented on #4532
Likely addressed by #4585 already

[2022-10-31 11:09] #4532 closed

[2022-10-31 11:28] bartaz commented on #4243
@elioqoshi This seems finished, can the epic be closed?

[2022-10-31 11:29] #4303 closed

[2022-11-15 12:39] edlerd opened #4607 "Tooltip inside a panel is hidden"
**Describe the bug**

Tooltip inside a panel is hidden.

**To Reproduce**

Steps to reproduce the behavior:

1. Place a button with a tooltip in an application panel
3. Hover the Button
4. No tooltip is visible

**Expected behavior**

Tooltip is shown

**Desktop (please complete the following information):**

- OS: Ubuntu
- Browser Chrome
- Version 107 (latest)

**Additional context**

I think the

[2022-11-21 11:19] minkyngkm opened #4608 "The logo is not aligned vertically centered on small/medium screens"
**Describe the bug**

The logo is not aligned vertically centered on small/medium screens

on https://canonical.com/
<img width="562" alt="image" src="https://user-images.githubusercontent.com/57550290/203037385-cb8d8d86-b6ba-49f0-98ff-cd896c4cc143.png">
on https://vanillaframework.io/docs/examples/patterns/navigation/deprecated
<img width="530" alt="image" src="https://user-images.githubuserconte

[2022-11-21 15:30] #4608 closed

[2022-11-30 10:09] danielmutis commented on #4596
@al-bakalova and @edlerd to fill in the issue information at the top. Alex will work on this as part of her LXD work.